<?xml version="1.0" encoding="utf-8"?>
<log4net debug="true">
  <appender name="AzureTraceAppender" type="Web.UI.Tracing.AzureTraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message" />
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="AzureTraceAppender" />
  </root>
</log4net>