$govuk-global-styles: true;

@import "GiasHelpers/all";
@import "govuk-frontend/dist/govuk/base";
@import "govuk-frontend/dist/govuk/core/all";
@import "govuk-frontend/dist/govuk/objects/all";
@import "govuk-frontend/dist/govuk/components/footer/index";
@import "govuk-frontend/dist/govuk/components/header/index";
@import "govuk-frontend/dist/govuk/components/phase-banner/index";
@import "govuk-frontend/dist/govuk/components/skip-link/index";
@import "govuk-frontend/dist/govuk/utilities/all";
@import "govuk-frontend/dist/govuk/overrides/all";
