$is-ie: false;
$ie-version: 9;

// Reset
@import "elements/reset";

// Import GOV.UK frontend toolkit
@import "colours";
@import "measurements";
@import "conditionals";
@import "shims";

// Colours
@import "styleguide/colours";

// vars
@import "variables";

// utils
@import "utils/conditionals";
@import "utils/vendor-prefixes";
@import "utils/clearfix-me";
@import "utils/whitespace";
@import "utils/border-radius";
@import "utils/toggles";
@import "utils/buttons";

// prototype spacers
@include whitespace((5px,10px,15px,20px), 4);

// Helpers
@import "elements/helpers";

// Base
// ==========================================================================

// Typography
@import "elements/elements-typography";

// Layout
@import "elements/layout";

// Links
@import "elements/links";

// Buttons
@import "elements/buttons";

// Icons
@import "elements/icons";

// Tables
@import "elements/tables";

// Boxes
@import "elements/related-box";
@import "elements/box/box";

// Tabs
@import "elements/tabs";

// Help icon
@import "elements/helpicon";

//edubase mixins

@import "utils/edubase-mixins";

// Components
// ==========================================================================

// Forms
@import "elements/forms";
@import "elements/forms/form-validation";
@import "elements/forms/form-multiple-choice";

@import "elements/forms/filter-form/option-select";
@import "elements/forms/filter-form/_search-within-filters.scss";

// Form validation
@import "elements/forms/form-validation";


// Panels
@import "elements/panels";


// Lists
@import "elements/lists";

// mobile navigation
@import "elements/mobile-nav";


@import "elements/autosuggest";
@import "elements/tooltips";
@import "elements/modal";
@import"elements/alerts";
@import"elements/news-message";
@import "elements/filter-form-controls";

// Views
// ==========================================================================
@import "views/change-history";
@import "views/base";
@import "views/school-details";
@import "views/group-details";
@import "views/search-results";
@import "views/school-search";
@import "views/search-page";
@import "views/view-logs";
@import "views/create-edit-establishment";
@import "views/bulk-academies";
@import "views/create-academy-trust";
@import "views/mergers";
@import "views/change-approvals";
@import "views/academy-openings";
@import "views/search-changes";
@import "views/cookies";
@import "views/guidance";
@import "views/search-map";
@import "leaflet/leaflet";
@import "views/independent-sigdates";
@import "elements/chevron-accordion";
@import "views/accessibility-statement";
@import "views/download-page";
