@model BulkCreateFreeSchoolsViewModel

<div class="breadcrumbs">
    <ul>
        <li>@Html.RouteLink("Home", "Homepage")</li>
        <li>@Html.RouteLink("Tools", "Tools")</li>
    </ul>
</div>

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">SUCCESS</h1>
    </div>



</div>