@model ModelStateDictionary

@if (!Model.IsValid)
{
    <div class="error error-section">
        @foreach (var modelError in Model.SelectMany(keyValuePair => keyValuePair.Value.Errors))
        {
            <p class="error-message">@modelError.ErrorMessage</p>
        }
    </div>
}
