@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "../dfe/layouts/template.cshtml";
    ViewBag.Title = "RAISEonline";
    ViewBag.pageDescription = "Reporting and Analysis for Improvement through school Self-Evaluation";
    ViewBag.pageClass = "error-page";
    ViewBag.suppressHomeLink = true;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

