.pending-updates-message {
    background-color: $turquoise;
    font-size: 15px;
    color:white;
    padding: 12px 36px 12px 44px;
    position: relative;
    margin-bottom: 10px;

    .tick {
        position: absolute;
        left: 10px;
        top: 6px;
        width: 35px;
        height: 35px;
        background-image: url('/public/assets/images/icons/tick.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .cross {
        position: absolute;
        background-image: url('/public/assets/images/icons/icon-white-cross-transparent.png');
        top: 12px;
        right: 12px;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    .exclaim {
        position: absolute;
        left: 10px;
        top: 4px;
        width: 24px;
        height: 24px;
        background-image: url('/public/assets/images/icons/exclaim.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    p {
        margin: 0;
    }

    a {
        color:white;
    }
}
