/*doc
---
title: Checkboxes
name: checkboxes
category: Forms
---
```html_examples
<div class="grid-row">
  <div class="column-half">
    <form action="/school/search" method="POST">
      <div class="form-group">
        <label class="block-label" for="findSchoolPrimary">
          <input id="findSchoolPrimary" name="findSchoolPrimary" type="checkbox">
          Primary
        </label>
        <label class="block-label" for="findSchoolSecondary">
          <input id="findSchoolSecondary" name="findSchoolSecondary" type="checkbox">
          Secondary
        </label>
        <label class="block-label" for="findSchool1618">
          <input id="findSchool1618" name="findSchool1618" type="checkbox">
          16-18
        </label>
      </div>
    </form>
  </div>
</div>
```
*/
// Forms
// ==========================================================================
// GOV.UK front end toolkit dependencies
//@import "helpers";
@import "colours";

// Fieldset is used to group more than one .form-group
fieldset {
    @extend %contain-floats;
    width: 100%;
}

// Fix left hand gap in IE7 and below
@include ie-lte(7) {
    legend {
        margin-left: -7px;
    }
}

// Form group is used to wrap label and input pairs
.form-group {
    @extend %contain-floats;
    @include box-sizing(border-box);
    /*float: left;*/ // PJF: fixes height not set correctly
    width: 100%;
    margin-bottom: $gutter-half;
    clear: both;
}

.form-group-related {
    margin-bottom: 10px;

    @include media(tablet) {
        margin-bottom: 20px;
    }
}

// Form group compound is used to reduce the space between label and input pairs
.form-group-compound {
    margin-bottom: 10px;
}


// Form title
.form-title {
    margin-bottom: $gutter;

    @include media(tablet) {
        margin-bottom: ($gutter*1.5);
    }
}


// Labels

// Form labels, or for legends styled to look like labels
.form-label,
.form-label-bold {
    display: block;
    color: $text-colour;
}

.form-label {
    @include core-19;
}

.form-label-bold {
    @include bold-19;
}

// Add spacing under spans within labels
legend {
    .form-label,
    .form-label-bold {
        padding-bottom: 7px;
    }
}

// Remove spacing when error messages are shown
.error legend {
    .form-label,
    .form-label-bold {
        padding-bottom: 0;
    }
}

// Used for paragraphs in-between form elements
.form-block {
    @extend %contain-floats;
    float: left;
    width: 100%;
    margin-bottom: 5px;

    @include media(tablet) {
        margin-top: 10px;
    }
}


// Hints

// Form hints & examples are light grey and sit above a form control
.form-hint {
    @include core-19;
    display: block;
    color: $secondary-text-colour;
    font-weight: normal;
    margin-bottom: 2px;
    margin-top: -2px;
}


// Form controls

// By default, form controls are 50% width for desktop,
// and 100% width for mobile
.form-control {
    @include box-sizing(border-box);
    @include core-19;
    width: 100%;
    padding: 5px 4px 4px;
    background-color: $white;
    border: 2px solid;
}

.form-control.search-box {
    padding: 5px;
}



// Form control widths
.form-control-3-4 {
    width: 100%;

    @include media(tablet) {
        width: 75%;
    }
}

.form-control-1-2 {
    width: 100%;

    @include media(tablet) {
        width: 50%;
    }
}

.form-control-1-4 {
    width: 25%;
}

.form-control-1-8 {
    width: 12.5%;
}


// Radio buttons
.form-radio {
    display: block;
    margin: 10px 0;

    input {
        vertical-align: middle;
        margin: -4px 5px 0 0;
    }
}


// Checkboxes
.form-checkbox {
    display: block;
    margin: $gutter-half 0;

    input {
        vertical-align: middle;
        margin: -2px 5px 0 0;
    }
}


// Buttons
.form .button {
    @include media(mobile) {
        width: 100%;
    }
}

.header-submit {
    float: right;
    margin-top: 0.5em;
    display: block;

    @include media(mobile) {
        width: 100%;
        display: none;
        float: none;
        clear: both;
    }
}

.mobile-full-width {
    display: block;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    @include media(mobile) {
        width: 100%;
        float: none;
        clear: both;
    }
}


.help-icon {
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    padding: 4px 3px 1px;
    display: none;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: $light-blue;
    text-decoration: none !important;
    cursor: pointer;

    &:hover {
        color: #fff;
    }

    .js-enabled & {
        display: inline-block;
    }
}

.help-text {
    border-left: 4px solid $grey-2;
    padding-left: 8px;

    .js-enabled & {
        display: none;
    }
}

.borderless {

    .create-edit-school & {
        width: 66%;
    }
}

.form-group {
    &.error {
        border-left: 4px solid $error-colour;
    }
}

.error-message, .field-validation-error {
    font-size: 16px;
    color: $error-colour;
    display: none;
    font-weight: bold;
}

.error .error-message, .error .field-validation-error {
    display: block;
}

.form-control {
    font-size: 16px;
}

select {
    width: 99%;
}

hr {
    height: 3px;
    background-color: $grey-3;
    border: none;
}

input[disabled=disabled],
select[disabled=disabled],
input:disabled {
    background-color: #eee;
}

.download-step {
    margin-bottom: 3em;
}

.inline {
    .heading-small {
        margin-bottom: 20px;
        display: block;
    }
}


.panel-border-narrow {
    border-left: 5px $grey-2 solid;
    padding: 10px 10px 20px;
}

fieldset.column-half {
    overflow: hidden;
    float: none;
}

.button-row {
    clear: both;
    margin: 20px 0;

    &.lower {
        margin: 40px 0 20px;
    }
}

.postcode-field {
    width: 180px;
    float: left;
    margin-right: 1.5em;
}

.edubase-button {
    font-size: 16px;
}


fieldset legend.heading-small {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.31em;
    font-size: 19px;
}

.replace-address {
    font-size: 16px;
    display: inline-block;
    margin-top: 8px;
}

.lookup-heading {
    margin-top: 1em;
}

.button-wrap {
    padding: 3px;
    clear: both;
}

.button-wrapper { // used to contain floats on buttons
    overflow: hidden;
    margin-top: -3px;
    margin-left: -3px;
    padding: 3px;
}

.inline-submit {
    font-size: 16px;
    margin-left: 20px;
}


.urn-search {
    width: 200px;
    margin-right: 12px
}

.inline-button {
    font-size: 16px;
}

.establishment-links {
    .checkbox-wrap {
        margin-left: 0;
    }
}

.data-status-group {
    margin: 20px 0;

    h3 {
        margin: 0.5em 0 1em;
    }
}

fieldset {
    @extend %contain-floats;
    margin-left: 0;
}

// Hide the 'spinner' for webkit
// and also for Firefox
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.column-two-thirds {
    .date-group-wrap {
        @include media(500px) {
        float: left;
        width: 50%;
        clear: none;
        }

    }
}
