.help-icon {
    display:inline-block;
    height: 15px;
    position:relative;
    top:-2px;

    @include media(mobile) {
        display: inline-block;
        height: 22px;
        margin-left: 0.2em;
        margin-top: 0;
        vertical-align: middle;
    }

    a {
        display: block;
        height: 100%;
        padding: 2px 2px 2px 2px;
        width: 100%;

        &:focus {
            background-color: inherit !important;
            outline: 3px solid $yellow !important;
        }

        @include media(mobile) {
            padding: 1px 1px 1px 1px;
        }
    }

    .icon {
        background-image: file-url("help-icon.png");
        background-position: center;
        background-size:cover;
        display: inline-block;
        float: right;
        height: 16px;
        padding: 2px;
        margin: 1px 1px 5px;
        vertical-align: middle;
        width: 16px;

        @include media(mobile) {
            height: 12px;
            width: 12px;
        }
    }
}






