// GOV.UK icons
// GOV.UK front end toolkit dependencies
@import "device-pixels";

.icon {
  background-position: 0 0;
  background-repeat: no-repeat;
}


.icon-download {
  width: 30px;
  height: 39px;
  background-image: file-url("icons/icon-file-download.png");
  background-size:30px 39px;

  @include device-pixel-ratio() {
    background-image: file-url("icons/icon-file-download-2x.png");
  } 
}

.icon-important {
  width: 34px;
  height: 34px;
  background-image: file-url("icons/icon-important.png");

  @include device-pixel-ratio() {
    background-image: file-url("icons/icon-important-2x.png");
    background-size: 100%;
  }
}

.icon-information {
  width: 27px;
  height: 27px;
  background-image: file-url("icons/icon-information.png");

  @include device-pixel-ratio() {
    background-image: file-url("icons/icon-information-2x.png");
    background-size: 100%;
  }
}

.icon-locator {
  width: 26px;
  height: 36px;
  background-image: file-url("icons/icon-locator.png");

  @include device-pixel-ratio() {
    background-image: file-url("icons/icon-locator-2x.png");
    background-size: 100%;
  }
}

.icon-search {
  width: 30px;
  height: 22px;
  background-color: $black;
  background-image: file-url("icons/icon-search.png");

  @include device-pixel-ratio() {
    background-image: file-url("icons/icon-search-2x.png");
    background-size: 100%;
  }
}

// GOV.UK arrow icons
.icon-pointer {
  width: 30px;
  height: 19px;
  background-color: $black;
  background-image: file-url("icons/icon-pointer.png");

  @include device-pixel-ratio() {
    background-image: file-url("icons/icon-pointer-2x.png");
    background-size: 100%;
  }
}

.icon-pointer-black {
  width: 23px;
  height: 23px;
  background-image: file-url("icons/icon-pointer-black.png");

  @include device-pixel-ratio() {
    background-image: file-url("icons/icon-pointer-black-2x.png");
    background-size: 100%;
  }
}

.download-list-item {
    width: auto;
    padding: 8px 0 16px 40px;
    position: relative;
    display: block;

    &:before {
        position: absolute;
        content: '';
        width: 30px;
        height: 39px;
        background-image: file-url("icons/icon-file-download.png");
        background-size:30px 39px;
        background-repeat: no-repeat;
        left: 0;
        top: 0;

         @include device-pixel-ratio() {
            background-image: file-url("icons/icon-file-download-2x.png");
          } 
    }
    .icon-link-copy {
        vertical-align: middle;
    }
    .alternative-file-directions {
        display: block;
    }
}

td.download-list-item {
    &:before {
        background-size: contain;
        height: 24px;
        top: 10px;
        left: 6px;
    }
}

.progress-indicator {
    min-width: 100%;
    min-height: 100px;
    background: transparent url(/public/assets/images/icons/icon-loading.gif) no-repeat center;

    &.padded-indicator {
        padding-top: 80px;
    }
}

.red-exclaim {
    position: relative;
    padding-left: 32px;

    &:before {
        position: absolute;
        content: '';
        width: 32px;
        height: 32px;
        background-image: file-url("icons/exclaim-red.png");   
        background-repeat: no-repeat;
        background-size: 28px;
        left: 0;
        top: 0;
        
         @include device-pixel-ratio() {
            background-image: file-url("icons/exclaim-red-x2.png");
        } 
    }
    
}

.icon-help {
    position:relative;
    /*display: inline-block;
    width: 20px;
    height: 20px;
    top: 3px;*/

    &:after {
        position: absolute;
        content: '?';
        width: 12px;
        height: 13px;
        background-color: $govuk-blue;
        color: $white;
        text-align: center;   
        border-radius: 12px;
        padding: 1px 2px 2px;
        margin-left: 3px;
        top: 2px;
        font-size: 12px;

    }
    &:focus {
        background-color: transparent;
        outline: none !important; // todo revisit the style in _tables.scss that has higher specificity

    }
}