/*doc
---
title: Layout
name: layout
category: Base
---

```html_example
<h4 class="styleguide">Halves</h4>
<div class="grid-row">
  <div class="column-half">
    1/2
  </div>
  <div class="column-half">
    1/2
  </div>
</div>
```

```html_example
<h4>Thirds</h4>
<div class="grid-row">
  <div class="column-third">
    1/3
  </div>
  <div class="column-third">
    1/3
  </div>
  <div class="column-third">
    1/3
  </div>
</div>
```

```html_example
<h4>Quaters</h4>
<div class="grid-row">
  <div class="column-quarter">
    1/4
  </div>
  <div class="column-quarter">
    1/4
  </div>
  <div class="column-quarter">
    1/4
  </div>
  <div class="column-quarter">
    1/4
  </div>
</div>
```

```html_example
<h4>Full</h4>
<div class="grid-row">
  <div class="column-full">
    Full
  </div>
</div>
```
*/

// Layout
// ==========================================================================

// GOV.UK front end toolkit dependencies
@import "measurements";
@import "conditionals";
@import "grid_layout";
//@import "helpers";
@import "design-patterns/alpha-beta";


// Content
// ==========================================================================

// Content wraps the entire site content block
#content {
  @extend %site-width-container;
  @extend %contain-floats;
  padding-bottom: $gutter;

  @include media(desktop) {
    padding-bottom: $gutter*3;
  }
}

// Phase banner
// ==========================================================================

.phase-banner {
  @include phase-banner();
}


// Grid layout
// ==========================================================================

// Usage:
// For two equal columns

// <div class="grid-row">
//   <div class="column-half">
//
//   </div>
//   <div class="column-half">
//
//   </div>
// </div>

// Use .grid-row to define a row for grid columns to sit in
.grid-row {
  @extend %grid-row;
  clear: both;
}

// Use .grid-column to create a grid column with 15px gutter
// By default grid columns break to become full width at tablet size
.column-quarter {
  @include grid-column(1/4);
}

.column-half {
  @include grid-column(1/2);
}

.column-third {
  @include grid-column(1/3);
}

.column-two-thirds {
  @include grid-column(2/3);
}

.column-sidebar {
  display: none;

  @include media(desktop) {
    display: block;
  }
}

// Grid layout Ext
// ==========================================================================

.column-three-quarters {
  @include grid-column( 3/4 );
}

.column-full {
  @include grid-column( 1/1 );
  float: none !important;
  clear: both;
}

// Simple 2 columns

.columns-2 {
    columns: 2;
    column-gap: 30px;
    @include media(mobile) {
        columns: 1;
    }
    > li {
        .heading-small {
            margin-top: 0;
        }
    }
    li {
        padding-top: 4px;
        break-inside: avoid;
    }
}
