// GOV.UK front end toolkit dependencies
@import "measurements";
@import "typography";
// Path to assets for use with file-url()
$path: $images-path;

// Common links
// --------------------------------------------------

.print-link {
  text-align: left;
  padding-left: 1em;

  a, a:link, a:visited {
    background-image: file-url("icons/icon-print.png");
    padding-left: 0;
  }
}

/* the crumblies
--------------------------------------------------
    separated by > but with smooth edges
    <div class="breadcrumbs">
        <ul>
            <li>
                @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
            </li>
            <li>
                @Html.ActionLink("Tools", "Index", "Tools", new { area = "" }, null)
            </li>
        </ul>
    </div>

    OR («) in front of link
    <div class="breadcrumbs">
         @Html.ActionLink("Back to find an establishment", "Index", "Search", new { area = "" })
    </div>

--------------------------------------------------

*/

.breadcrumbs {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 15px;

    > a {
        position: relative;
        padding: 2px;
        margin: 6px 0 6px 10px;
        &:before {
            position: absolute;
            content: '\00ab';
            left: -8px;
            top: 0px;
            padding: 2px 0;
        }
        &:active, &:focus {
            &:before {
                background-color: $focus-colour;
            }
        }
    }

    li {
        display: inline-block;
        color: $grey-1;
        position: relative;
        padding-left: 20px;

        &:before {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid $grey-1;
            left: 6px;
            top: 5px;
        }
        &:after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid #fff;
            left: 5px;
            top: 5px;
        }
        &:first-child {
            padding-left: 0;
            &:before, &:after {
                border: 0;
            }
        }
    }

    @include media(mobile) {
        margin-bottom: 2px;
    }

    a {
        color: $black;
        display: inline-block;
        outline: none;
        padding: 2px;
    }
}

.plus-link {
    position: relative;
    padding-left: 1em;
    font-size: 16px;
    margin: 20px 0;
    display: block;
    float: left;

    &:after {
        content: '+';
        position: absolute;
        left: 0;
    }

    .approvals-canned & {
        margin-top: 8px;
    }
}

.body-link {
    font-size: 16px;
}

.action-link {
    display: inline-block;
    padding: 0 6px;
    &.link-button {
        // Overriding 0 padding on .link-buttons as action-links.
        padding: 0 6px;
    }
}

// This .content class is inside the global header which is found
// inside govuk-template. Placing this modification here as it is
// needed for the .login-link below.

.content {
    @include media(desktop) {
        position: relative;
    }
}

.login-link {
    @include media(desktop) {
        position: absolute;
        right: 10px;
    }
}

// Back to top
.back-to-top-link {
    font-size: 16px;
}

.back-to-top-icon {
    display: inline-block;
    width: .8em;
    height: 1em;
    margin-top: -5px;
    margin-right: 5px;
    vertical-align: middle;
}

// Tooltip link (with '?' icon)
.tooltip-link {
    position: absolute;
    width: 20px;
    height: 20px;
    &:after {
        position: absolute;
        content: '?';
        width: 12px;
        height: 13px;
        background-color: $govuk-blue;
        color: $white;
        text-align: center;
        border-radius: 12px;
        padding: 1px 2px 2px;
        margin-left: 3px;
        top: 2px;
        font-size: 12px;
    }

    &:focus {
        outline-width: 1px;
    }
}

// Buttons styled as link
.link-button {
    padding: 0;
    background-color: transparent;
    color: $link-colour;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

// Most of this was borrowed from the new GDS Frontend.
.visually-hidden-focusable {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    font-size: 16px;

    &:active,
    &:focus {
        position: relative;
        width: auto;
        height: auto;
        top: -4px;
        margin: inherit;
        overflow: visible;
        clip: auto;
        clip-path: none;
        white-space: inherit;
    }
}

#content a {
  @include media( mobile) {
    word-break: break-word;
  }
}
