// Lists
// ==========================================================================

ul,
ol {
  list-style-type: none;
  padding: 0;
}

// Bulleted lists
.list-bullet {
  list-style-type: disc;
  padding-left: 20px;
  &.inside {
      list-style-position:inside;
  }
}

// Alpha lists
.list-alpha {
  list-style-type: lower-alpha;
  padding-left: 20px;
}

// Numbered lists
.list-number {
  list-style-type: decimal;
  padding-left: 20px;

  @include ie-lte(7) {
    padding-left: 28px;
  }
}

.list-number-nested {
  list-style-type: none;
}

.list-number-nested li {
  margin-bottom: 5px;
  position: relative;

  &::before {
    position: absolute;
    width: 40px;
    text-align: right;
    left: -45px;
    content: attr(data-idx) ".";
  }
}

.list-bullet,
.list-number {
  margin-top: 5px;
  margin-bottom: 20px;
}

.list-bullet li,
.list-number li {
  margin-bottom: 5px;
}

.contents-ul {
  list-style: none;
  padding-bottom: 30px;

  .contents-li {
    @include bold-16();
    padding-top: 10px;
  }

  a {
    text-decoration: none;
  }
}

.dash-ul {

  .dash-li {
    @include core-16;
    list-style-position: inside;
    padding: 0 $gutter-half 0 0;

    @media (min-width: 1px ) { // target modern browsers
      margin-left: $gutter-half;
      list-style: none;

      &:before {
        content: "-";
        position: relative;
        float: left;
        width: $gutter-half;
        margin-left: $gutter-half*-1;
      }
    }
  }

  a {
    text-decoration: none;
  }
}


.key-value-list {

    margin-bottom: 20px;
    overflow: hidden;

    dt, dd {
        float: left;
    }

    dt {
        clear: left;
        margin-right: 12px;
    }

    dd {
        padding-top: 1px;
    }

    &.fixed-label {
        dt {
            width: 140px;
        }
    }

    &.trust-detail-list {
        font-size: 16px;
        margin-bottom: 12px;

        dt {
            width: 230px;
        }

        dd {
            max-width: 360px;
        }
    }

    @include media(mobile) {
        dt, dd {
            float: none;
        }

        dd {
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
