#global-news-message {
    background-color: $yellow-25;

    .inner-block {
        margin: 0 auto;
        max-width: 960px;
        padding: 10px;
        position: relative;

        @include media(tablet) {
            padding: 10px 0;
        }
    }

    .news-dismiss {
        background-color: transparent !important;
        background-image: file-url("icons/black-transparent-cross.png");
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 12px;
        width: 16px;
        height: 16px;
        background-size: contain;

        @media(max-width: 960px) {
            right: 10px;
        }

    }


    p {
        margin: 0;
        padding: 0;
         @media(max-width: 960px) {
            padding-right: 28px;
        }
    }
}


.news-page {
    div.grid-row.news {
        > div {
        }

        div.column-two-thirds.news-blog {
            h2 {
                margin-top: 0.7em;
                margin-bottom: 0.7em;
            }
        }

        div.column-third.about {
            hr {
                background-color: black;
            }

            h2 {
                margin-top: 0.7em;
                margin-bottom: 0.7em;
            }
        }

        p.date {
            color: #6F777B;
        }

        h1 {
            margin-bottom: 0;
        }
    }
}

