// Panels
// ==========================================================================

.panel {
  @include box-sizing(border-box);
  @extend %contain-floats;
  clear: both;
  border-left-style: solid;
  border-color: $border-colour;

  padding: em(15, 19);
  margin-bottom: em(15, 19);

  :first-child {
    margin-top: 0;
  }

  :only-child,
  :last-child {
    margin-bottom: 0;
  }
}

.panel-border-wide {
  border-left-width: 10px;
}

// Used to show the left edge of "toggled" content
.panel-border-narrow {
  border-left-width: 5px;
}

// older
// .panel-border-narrow {
//     border-left: 5px $grey-2 solid;
//     padding: 10px 10px 20px;
// }

// Panels within form groups
// By default, panels have 15px bottom margin
.form-group .panel-border-narrow {
  float: left;
  width: 100%;
  // Remove the bottom padding as .form-group sets a bottom margin
  padding-bottom: 0;
  // Don't remove the bottom margin for all panels, assume they are often within stacked groups
}

// Indented panels with a grey left hand border
.panel-indent {
    @extend %contain-floats;
    clear: both;
    border-left: 4px solid $border-colour;
    padding: 5px 0 5px 12px;
    margin: ($gutter $gutter-half 4px 3px);

    legend {
        margin-top: 0;
    }
    // Remove bottom margin on last paragraph
    p:only-child,
    p:last-child,
    ul:only-child,
    ul:last-child {
        margin-bottom: 0;
    }

    .form-group:last-child {
        margin-bottom: 0;
    }
}


.expanding-content-wrapper {
    margin: 8px 0 20px;

    .panel-indent {
        margin-top: 2px;
        word-wrap: break-word;
    }
}

.governor-edit-panel {
    margin-bottom: 20px;
}

.link-relationship {
    margin-bottom: 2px;
    strong {
        font-weight: bold;
        display: block;
    }
}

.gov-radio-wrap {
    margin-bottom: 8px;
}

.section-break {
    border-top: $grey-3 2px solid;
    margin-top: 20px;
}

.panel-toggler {
    margin-bottom: 0;
}

.retire-governor, .remove-governor {
    margin-top: 10px;
}

.shift-panel {
    margin-left: 12px;
    margin-bottom: 30px;

    legend {
        margin-bottom: 8px;
    }
}
