// Panels
// ==========================================================================
// GOV.UK front end toolkit dependencies
//@import "helpers";


// Indented panels with a grey left hand border
.panel-indent {
  @extend %contain-floats;
  clear: both;
  border-left: 4px solid $border-colour;

  padding: 5px 0 5px 12px;
  margin: ($gutter $gutter-half 4px 3px);

  legend {
    margin-top: 0;
  }
  
  // Remove bottom margin on last paragraph
  p:only-child,
  p:last-child {
    margin-bottom: 0;
  }
  
  .form-group:last-child {
    margin-bottom: 0;
  }
}


.date-group-wrap {
    border-left:4px solid #bbb;
    padding-left:10px;
}

.edit-warning {
    background-color: $yellow-25;
    background-image: file-url('icons/icon-important-2x.png');
    background-repeat: no-repeat;
    background-position: 10px 50%;
    background-size: 36px;
    border-left: $black 4px solid;
    padding-left: 58px;
    min-height: 60px;

    @include media(mobile) {
        background-size: 24px;
    }

    .js-enabled  & {
        display: none;
    }

    p {
        font-weight: bold;
        padding: 1em 0;
    }
}