/*doc
---
title: Related Box
name: Layout
category: Base
---
Commonly used as a sidebar with related content.

  - [Template Example](https://github.com/alphagov/static/blob/e5552dc228007d911426767781da842f2f8f6c27/app/views/root/related.raw.html.erb)
  - [Sass Reference](https://github.com/alphagov/static/blob/b81225a58c6fb8d33ef38433f5925e37fe7b850d/app/assets/stylesheets/helpers/_core.scss#L52-L147)
  - See [jobsearch](https://www.gov.uk/jobsearch) for a live working example.

```html_example
<div class="grid-row">
  <div class="column-half related-container"><!-- change the column class to suit -->
    <div class="related" id="related">
      <div class="inner group related-subsection">
        <h2 id="parent-subsection">Finding a job</h2>
        <nav role="navigation" aria-labelledby="parent-subsection">
          <ul>
            <li><a href="/jobseekers-allowance">Jobseeker's Allowance (JSA)</a></li>
            <li><a href="/apply-apprenticeship">Find an apprenticeship</a></li>
            <li><a href="/moving-from-benefits-to-work">Help with moving from benefits to work</a></li>
            <li><a href="/apprenticeships-guide">Become an apprentice</a></li>
            <li class="related-topic"><a href="/browse/working/finding-job" title="More in Finding a job">More <span class="visuallyhidden">in Finding a job</span></a></li>
          </ul>
        </nav>
      </div>
      <div class="inner group related-other">
        <h2 id="parent-other">Elsewhere on GOV.UK</h2>
        <nav role="navigation" aria-labelledby="parent-other">
          <ul>
            <li><a href="/advertise-job">Advertise a job with Universal Jobmatch</a></li>
            <li><a href="/find-registered-childminder">Find a registered childminder</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
```
*/

.related-container {
  // @include grid-column(1/3, $full-width: desktop);
  margin-top: 40px;
}

.related {
  border-top: 10px solid $mainstream-brand;
  padding-top: 5px;

  nav {
    margin-bottom: 1.25em;
  }

  h2 {
    @include core-24;
    font-weight: 600;
    color: $text-colour;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    position: relative;

    @include media-down(mobile) {
      font-size: 17px;
      margin-bottom: 0.625em;
    }
  }

  ul {
    @include core-16;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    margin-bottom: 0.75em;
    padding-left: 0;

    &.related-topic {
      list-style: none outside none;

      a {
        display: inline;
        font-weight: bold;
      }
    }

    a {
      background-position: 0 -287px;
      background-repeat: no-repeat;
      display: block;
      line-height:1.25em;
      orphans: 2;

      &:hover {
        background-position: 0 10px;
      }

      @include ie-lte(8) {
        height: 1%;
      }
    }

    a[href*="#"] {
      /* grey out stub links */
      background: none;
      color: #888;
      cursor: default;
      text-decoration: none;
    }

    a.view-all {
      margin: 10px 0 10px;
    }

    a[rel="external"]:after {
      content: "\A0\A0\A0\A0\A0\A0";
      background-position: 5px 0px;
    }

    a[rel="external"]:hover:after {
      background-position: 5px -388px;
    }

  }
  .return-to-top {
    @include core-16;
    margin: 0.25em 0 0;
    padding: 0.75em 0;

    @include media(desktop){
      position: absolute;
      left: -9999em;
    }
  }
}