
#global-header .search-toggle {
    display: none;
}

@media (min-width: 769px) {
        #global-header .header-wrapper .header-global .site-search {
        width: 33.33%;
    }
}

#global-header .header-wrapper .header-global .site-search {
    float: right;
}

#global-header form#search .content {
    position: relative;
    background: #fff;
}
#global-header .header-wrapper .header-global .site-search .content {
    margin: 0 15px;
}

.js-enabled #global-header form#search label {
    float: none;
    position: absolute;
    left: 0;
    top: 1px;
    z-index: 1;
    width: 100%;
    margin-right: 0;
}
#global-header form#search label {
    float: left;
    min-height: 36px;
    line-height: 35px;
    text-indent: 15px;
    overflow: hidden;
    display: block;
    margin-right: 10px;
}

#global-header form#search input.submit {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;
    border: 1px solid #005ea5;
    border-width: 0 0 0 1px;
    border-left-color: #222;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    text-indent: -5000px;
    color: #fff;
    background-color: #005ea5;
    background-image: url(https://assets.publishing.service.gov.uk/static/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}
#global-header form#search input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 88%;
    min-width: 0;
    display: block;
    margin: 0;
    border: 0;
    min-height: 36px;
    padding: 6px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}