
$tabheight: 60px;

nav.tabs {
    background-color: white;
    z-index: 1000;

    ol {
        margin-top: 14px;
        padding-left: 0;

        @include media(desktop) {
            border-bottom: 1px solid $grey-2;
        }

        li {
            font-family: "nta",Arial,sans-serif;
            font-size: 16px;
            line-height: 1.25;
            font-weight: 700;
            text-transform: none;
            border: 3px solid $white;
            background-color: $grey-3;
            list-style: none;
            float: left;
            cursor: pointer;
            max-width: 180px;            
            height: $tabheight;
            text-align: center;

            @include media(mobile) {
                line-height: 1.1428571429;
                min-width: 0;
                width: 47%;
            }

            &:hover {
                text-decoration: underline;
            }


            &.active {
                background-color: $white;
                cursor: default;

                @include media(mobile) {
                    background-color: $grey-3;
                }

                @include media(desktop) {
                    margin: -1px 3px 0 -2px;
                }

                &:hover {
                    text-decoration: none;
                }

                a {
                    color: $black;
                    border: 1px solid $grey-2;
                    margin: 0 0 -2px -1px;
                    display: block;

                    @include media(mobile) {
                        border-color: $grey-1;
                    }

                    @include media(desktop) {
                        background-color: $white;
                        border-bottom-width: 0;
                        margin-right: -4px;
                        margin-bottom: -2px;
                        height: $tabheight + 5;
                    }
                }
            }

            a {
                border: 1px solid transparent;
                text-decoration: none;
                display: block;
                height: $tabheight;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px 25px 0 25px;
                white-space: nowrap;
                color: $black;

                &:visited {
                    color: $black;
                }

                @include media(mobile) {
                    padding: 10px 10px 0 10px;
                }
            }

            &.one-line a {
                padding-top: 20px;
            }
        }

        &:after {
            display: block;
            clear: left;
            content: ' ';
        }
    }
}


.tab-wrap {
    border-bottom: 0;
    margin-bottom: 20px;
    padding-bottom: 1em;

    .js-enabled & {
        padding-bottom:0;
    }

    @include media(tablet) {
        border-bottom: $grey-2 1px solid;
    }

    &:after {
        clear: both;
        content: "";
        display: block;
    }
}

.horizontal-tabs {
    position: relative;
    top: 1px;

    li {
        width: 100%;
        border: $grey-2 1px solid;
        text-align: center;
        padding: 0;

        @include media(tablet) {
            float: left;
            border: 0;
            width: auto;
            margin: 0 1.6em 0 0;
            min-width: 160px;
            max-width: 380px;

            
        }
    }
    &.trio-tabs { // chunky search page tabs
        li {
            @include media(tablet) {
                width: 30%;
                margin-right: 1%;
            }
        }            
    }
    .horizontal-tab {
        display: block;
        padding: 1em 0 0.5em;
        background-color: #fff;

        @include media(tablet) {
            padding: 0.5em 1.3em 0.25em;
            
        }

        &.selected-tab {
            text-decoration: none;
            color: $black;

             @include media(tablet) {
                border: $grey-2 1px solid;
                border-bottom: 0;
            }
        }
    }

    .sub {
        display: block;
    }
  
}

.horizontal-tabs-content {
    margin: 0 1%;
    @include media(tablet) {
        margin: 0;
    }

    .tab-content {
        margin: 0;
        padding: 48px 0 24px;
        @include media(mobile){
            padding-top:16px;
        }
        h3 {
            clear: both;
            margin: 0 8px 0.2em;
        }
        .tab-heading {
            margin-top: 0;
        }
        .borderless {
            margin-bottom: 1em;
        }

        h3 {
            clear: both;
            margin: 0 8px 0.2em;
        }
        p {
            clear: both;
        }
        .borderless {
            margin-bottom: 1em;
        }

        &.hidden-tab-content {
            display: none;
        }
    }
}
