
$tabheight: 60px;

nav.tabs {
    background-color: white;
    z-index: 1000;

    ol {
        margin-top: 14px;
        padding-left: 0;

        @include media(desktop) {
            border-bottom: 1px solid $grey-2;
        }

        li {
            font-family: "nta",Arial,sans-serif;
            font-size: 16px;
            line-height: 1.25;
            font-weight: 700;
            text-transform: none;
            border: 3px solid $white;
            background-color: $grey-3;
            list-style: none;
            float: left;
            cursor: pointer;
            max-width: 180px;            
            height: $tabheight;
            text-align: center;

            @include media(mobile) {
                line-height: 1.1428571429;
                min-width: 0;
                width: 47%;
            }

            &:hover {
                text-decoration: underline;
            }


            &.active {
                background-color: $white;
                cursor: default;

                @include media(mobile) {
                    background-color: $grey-3;
                }

                @include media(desktop) {
                    margin: -1px 3px 0 -2px;
                }

                &:hover {
                    text-decoration: none;
                }

                a {
                    color: $black;
                    border: 1px solid $grey-2;
                    margin: 0 0 -2px -1px;
                    display: block;

                    @include media(mobile) {
                        border-color: $grey-1;
                    }

                    @include media(desktop) {
                        background-color: $white;
                        border-bottom-width: 0;
                        margin-right: -4px;
                        margin-bottom: -2px;
                        height: $tabheight + 5;
                    }
                }
            }

            a {
                border: 1px solid transparent;
                text-decoration: none;
                display: block;
                height: $tabheight;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px 25px 0 25px;
                white-space: nowrap;
                color: $black;

                &:visited {
                    color: $black;
                }

                @include media(mobile) {
                    padding: 10px 10px 0 10px;
                }
            }

            &.one-line a {
                padding-top: 20px;
            }
        }

        &:after {
            display: block;
            clear: left;
            content: ' ';
        }
    }
}


.tab-wrap {
    border-bottom: 0;
    margin-bottom: 20px;

    .js-enabled & {
        padding-bottom:0;
    }

    @include media(tablet) {
        border-bottom: $grey-2 1px solid;
    }

    &:after {
        clear: both;
        content: "";
        display: block;
    }
}

.horizontal-tabs {
    position: relative;
    top: 1px;

    .tab-count-5 & {
        @include media($max-width: 841px) {
            li {
                margin-right: 0.7em;
            }
        }

        @include media($max-width: 792px) {
            li {
                font-size: 14px;
                min-width: 106px;
            }
        }
    }

    .tab-count-7 & {
        li {
            margin-right: 0.08em;
        }

        @include media($max-width: 1050px) {
            li {
                font-size: 16px;
                min-width: 120px;
            }
        }

        @include media($max-width: 926px) {
            li {
                font-size: 14px;
                min-width: 88px;
            }
        }

        @include media($max-width: 720px ) {
            li {
                width: 100%;
                border: $grey-2 1px solid;
                text-align: center;
                padding: 0;
                float: none;
                max-width: 100%;
                font-size: 16px;
                
                .selected-tab {
                    border: 0;
                }
            }
        }
    }

    .tab-count-6 & {
        @include media($max-width: 1012px) {
            li {
                min-width: 120px;
                font-size: 16px;
                margin-right: 0.5em;
            }

            a {
                padding-right: 0.5em;
                padding-left: 0.5em;
            }
        }

        @include media ($max-width: 830px) {
            li {
                font-size: 14px;
                margin-right: 0.25em;
            }

            a {
                padding: 0.75em 0.25em 0.1em;
            }
        }

        @include media($max-width: 804px) {
            li {
                width: 100%;
                border: $grey-2 1px solid;
                text-align: center;
                padding: 0;
                float: none;
                max-width: 100%;
                font-size: 16px;
            }

            .horizontal-tab {
                padding: 1em 0 0.5em;
            }

            .selected-tab {
                border: 0;
            }
        }

        @include media(tablet) {
            .horizontal-tab {
                padding: 0.5em 1em 0.25em;
            }
        }
    }


    .search-tabs & {
        @include media($max-width: 840px) {
            li {
                font-size: 16px;
                margin-right: 0.75em;
            }
        }

        @include media($max-width: 666px) {
            li {
                font-size: 14px;
            }
        }
    }

    .tab-count-4 & {
        @include media($max-width: 700px) {
            li {
                font-size: 16px;
                margin-right: 1em;
            }
        }

        @include media($max-width: 657px) {
            li {
                margin-right: 0.7em;
            }
        }
    }

    li {
        width: 100%;
        border: $grey-2 1px solid;
        text-align: center;
        padding: 0;
        font-size: 19px;

        @include media(tablet) {
            float: left;
            border: 0;
            width: auto;
            margin: 0 1.2em 0 0;
            min-width: 133px;
            max-width: 380px;
        }
    }


    .horizontal-tab {
        display: block;
        padding: 1em 0 0.5em;
        min-height: auto;

        @include media(tablet) {
            padding: 0.5em 1.3em 0.25em;
            min-height: 40px;
        }

        &.selected-tab {
            text-decoration: none;
            background-color: #fff;
            color: $black;

            @include media(tablet) {
                border: $grey-2 1px solid;
                border-bottom: 0;
            }
        }
    }
}

.horizontal-tabs-content {
    margin: 0 1%;
    @include media(tablet) {
        margin: 0;
    }

    .tab-content {
        margin: 0;
        padding: 8px 0 24px;
        @include media(mobile){
            padding-top:16px;
        }
        
        .tab-heading {
            margin-top: 0;
        }
        .borderless {
            margin-bottom: 1em;
        }

        p {
            clear: both;
        }
        .borderless {
            margin-bottom: 1em;
            clear: both;
        }

        &.hidden-tab-content {
            display: none;
        }
    }
    .map-container + .borderless {
        clear: left;
    }
}


.governance {
    .tab-content-wrapper {
        .column-half, .column-two-thirds {
            padding-left: 0;
        }
    }
}

.tab-content .top-pagination .pagination {
    border: 0;
}