
$pointer-size: 15px;

.helptext-container {
    border-top: $grey-1 1px solid;
    .js-enabled & {
        display: none;
    }
}

@if ($ie-version < 9) {

    .js-enabled .helptext-container {
        display: block;
    }
}

.edubase-tooltip {
    position: absolute;
    z-index: 600;
    width: 480px;
    background: #fff;
    box-shadow: 0px 0px 3px 3px $grey-3;
    border: 1px solid $grey-3;

    @media(max-width: 480px) {
        width: 310px;
    }

    &.hidden {
        display: none;
    }
    

    .pointer {
      position: absolute;
      content: '';
      width: 0; 
      height: 0; 
      border-left: $pointer-size solid transparent;
      border-right: $pointer-size solid transparent;
      border-bottom: $pointer-size solid #fff;
      position: absolute;
      z-index: 602;
      left: 20px;
      top: -13px;
      
    }
     .pointer-shadow {
      position: absolute;
      content: '';
      width: 0; 
      height: 0; 
      border-right: $pointer-size solid transparent;
      border-left: $pointer-size solid transparent;
      border-bottom: $pointer-size solid $grey-3;
      position: absolute;
      z-index: 601;
      left: 20px;
      top: -18px;
    }

    .tooltip-close {
        position: absolute;
        right: 12px;
        top: 12px;
        width: 16px;
        height: 16px;
        background-image: file-url("icons/tooltip-close.gif");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .tooltip-content {
        padding: 12px;
        font-size: 14px;
    }
    .heading-small {
        margin-top: 0.52em;
        font-size: 14px;
    }
}