.detail-summary {
  @include govuk-media-query($until: tablet) {
    clear: both;
  }
}

.gias-summary-list {
  @include govuk-font(16);
  display: table;
  margin: 0;

  .tooltip-link {
    top: 2px;
    width: 16px;
    height: 16px;

    &::after {
      position: absolute;
      content: '?';
      width: 12px;
      height: 12px;
      border-radius: 12px;
      padding: 0 2px 5px;
      margin-left: 3px;
      top: 0;
      font-size: 14px;
      line-height: 1.4;
    }
  }

  &.gias-summary-list--inline {
    .gias-summary-list__key {
      width: auto;
      display: block;
      float: left;
      margin-right: 5px;
    }

    .gias-summary-list__value {
      float: left;
      display: block;
    }
  }
}

.gias-summary-list__row {
  display: table-row;
  line-height: 1.6;
  height: 2em;

  @include govuk-media-query($until: tablet) {
    display: block;
    height: auto;
  }
}

.gias-summary-list__key {
  display: table-cell;
  margin: 0;
  padding: 0 5px 0 0;
  width: 34%;

  @include govuk-media-query($until: tablet) {
    display: block;
    clear: both;
    font-weight: bold;
    width: 100%;
  }
}

.gias-summary-list__value {
  display: table-cell;
  margin: 0;
  padding: 0 10px 0 0;

  @include govuk-media-query($until: tablet) {
    display: block;

    a {
      word-break: break-word;
    }
  }
}

.shared-governor {
  @include govuk-media-query($from: tablet) {
    .gias-summary-list--inline .gias-summary-list__key {
      width: 100px;
    }
  }
}

.gias-summary-list-l {
  @include govuk-font(19);
}
