.landing-page-map-container {
  width: 100%;
  margin-bottom: govuk-spacing(4);

  .map-toggle {
    display: inline-block;
    margin: 10px 0;
    position: relative;
    padding-left: govuk-spacing(4);

    @include govuk-font(16);

    &::before {
      content: "";
      position: absolute;
      top: -1px;
      bottom: 0;
      left: 0;
      margin: auto;

      @include govuk-shape-arrow($direction: right, $base: 14px);
    }

    &.trigger-open::before {
      @include govuk-shape-arrow($direction: down, $base: 14px);
    }
  }

  .school-detail-map {
    width: 100%;
    height: 320px;
    display: none;
  }

  .no-js & {
    display: none;
  }
}
