# Temp Files
**/*.log
**/.docpad.db

# Build Files
.idea/
build/
components/
bower_components/
node_modules/
out/
/public/assets/scripts/
# =====================================
# CUSTOM MODIFICATIONS
Web/Edubase.Web.UI/appsettings.Development.json
# None
