<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/500.aspx" xdt:Transform="Replace">
      <error statusCode="403" redirect="~/403.aspx"/>
      <error statusCode="404" redirect="~/404.aspx"/>
      <error statusCode="500" redirect="~/500.aspx"/>
    </customErrors>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <httpCookies requireSSL="true" xdt:Transform="Insert" />
  </system.web>

  <system.webServer>
    <httpErrors errorMode="Custom" xdt:Transform="Insert">
      <remove statusCode="403"/>
      <error statusCode="403" path="403.html" responseMode="File"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="404.html" responseMode="File"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="500.html" responseMode="File"/>
    </httpErrors>
  </system.webServer>
</configuration>
