<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="EdubaseSqlDb" connectionString="Server=(localdb)\ProjectsV12;Database=edubasedev;Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="DataConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=edubasedev;AccountKey=ykjpWnaaLqqRDtCkJ/7dWYQt4Fodnj+an59owlU8mG1trDNhDLz+ivwDAFhKxmzOvsk/RqGbq7UejTYpp6cbMg==;" />    
    <add name="ServiceBusConnectionString" connectionString="Endpoint=sb://establishment.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=n/bDDHjzd6vQxzxyeZsoZvypZkPI2Vn/M27Gq96Wi9g=" />
    <add name="Redis" connectionString="edubase-dev.redis.cache.windows.net:6380,password=f7m2kSeAbeBUBZFKa+YxjujvSDLfuVKteomo41rEwt0=,ssl=True,abortConnect=False" />
    <add name="Microsoft.Azure.Search.ConnectionString" connectionString="name=edubase-dev;apikey=443F0F179BA243372B1EBF69003C5560;" />
    <add name="EdubaseSqlDb_devremote" connectionString="Server=tcp:dfe-edubase.database.windows.net,1433;Database=edubasedev;User ID=dfeadmin@dfe-edubase;Password=Bgf3n0mmAdsW!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
