<div class="breadcrumbs">
    @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null) > @Html.ActionLink("Tools", "Index", "Tools", new { area = "" }, null)
</div>

@using (Html.BeginForm("EstablishmentBulkupdate", "Tools", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div class="grid-row spaced-groups">
        <div class="column-full">
            @if (ViewBag.success != null && ViewBag.success)
            {
                <div class="pending-updates-message dismissable-message bulk-update-success">
                    <div class="tick"></div>
                    <p>Your bulk update was successful.</p>
                    <a class="cross" href="#"><span class="visually-hidden">Dismiss notification</span></a>
                </div>
            }
            <h1 class="heading-xlarge">Establishment bulk update</h1>
            @if (ViewBag.globalError != null && ViewBag.globalError)
            {
                <div class="error-summary">

                    @if (ViewBag.fileTypeError != null && ViewBag.fileTypeError)
                    {
                        <h2 class="heading-medium error-summary-heading">Incorrect file type</h2>
                        <ul class="error-list">
                            <li>
                                You have uploaded an incorrect file type.
                                <a href="#bulkfile">Please upload a tab delimited text file or XLSX file</a>
                            </li>
                        </ul>
                    }

                    @if (ViewBag.missingFileError != null && ViewBag.missingFileError)
                    {
                        <h2 class="heading-medium error-summary-heading">File missing</h2>
                        <ul class="error-list">
                            <li>
                                You didn't upload a file
                                <a href="#bulkfile">Please upload a tab delimited text file or XLSX file to continue</a>
                            </li>
                        </ul>
                    }

                    @if (ViewBag.invalidFileError != null && ViewBag.invalidFileError)
                    {
                        <h2 class="heading-medium error-summary-heading">Validation fail</h2>
                        <ul class="error-list">
                            <li>
                                The data contained in the uploaded file was invalid.
                                <a href="#file-type">Please download the error log to correct your data before resubmitting</a>
                            </li>
                        </ul>
                    }
                    
                    @if (ViewBag.fileTypeUnselected != null && ViewBag.fileTypeUnselected && ViewBag.globalError == null)
                    {
                        <h2 class="heading-medium error-summary-heading">File type no specified</h2>
                        <ul class="error-list">
                            <li>
                                Please select a file type to upload.
                                <a href="#error-log">Please download the error log to correct your data before resubmitting</a>
                            </li>
                        </ul>
                    }
                    </div>
            }
            @if (ViewBag.fileTypeUnselected != null && ViewBag.fileTypeUnselected && ViewBag.globalError != null && !ViewBag.globalError)
            {
                <div class="error-summary">
                    <h2 class="heading-medium error-summary-heading">File type no specified</h2>
                    <ul class="error-list">
                        <li>
                            Please select a file type to upload.
                            <a href="#error-log">Please download the error log to correct your data before resubmitting</a>
                        </li>
                    </ul>
                </div>
            }

            <p>Update establishment records by uploading a CSV or XLSX file.</p>
        </div>
        <div class="column-full">

            <div class="expanding-content-wrapper" data-update-text="false">
                <a href="#" class="expanding-content-trigger">
                    Help with preparing files
                </a>
                <div class="expanding-content panel-indent">
                    <p>For a step by step guide to prepare documents for bulk update please download this file.</p>
                    <p class="download-list-item">
                        <a href="#">EstablishmentBulkUpdateUserGuide.pdf, 30KB</a>
                    </p>
                </div>
            </div>

            @if (ViewBag.invalidFileError != null && ViewBag.invalidFileError)
            {
                <div class="form-group error" id="error-log">
                    <p class="error-message">Please download the error log to correct your data before resubmitting</p>
                    <p class="download-list-item">
                        <a href="#">ErrorLog.xlsx 30KB</a>
                    </p>

                </div>
            }
        </div>
        <div class="column-half">
            <div class="form-group upload-control @(ViewBag.fileError!= null && ViewBag.fileError ? "error" : "")">
                <label for="bulkfile" class="form-label">
                    Upload a file
                </label>                
                @if (ViewBag.missingFileError != null && ViewBag.missingFileError)
                {
                    <span class="error-message">Please upload a file</span>
                }
                else if (ViewBag.fileTypeError != null && ViewBag.fileTypeError)
                {
                    <span class="error-message">Please upload a tab delimited text file or XLSX file</span>
                }                
                <div class="upload-control-wrapper">
                    <input type="file" class="file-input" id="bulkfile" name="bulkfile" />
                    <button class="button button-grey file-selector">Choose file</button>
                    <div class="text-field-wrapper">
                        <input type="text" class="file-name" readonly="readonly" value="No file chosen" />
                    </div>
                    
                </div>
                
            </div>

            <div class="form-group @(ViewBag.fileTypeUnselected != null && ViewBag.fileTypeUnselected? "error": "")">
                <label class="form-label" for="upload-file-type">
                    Select file type
                </label>
                @if (ViewBag.fileTypeUnselected != null && ViewBag.fileTypeUnselected)
                {
                    <span class="error-message">Please select a file type.</span>
                }
                <select class="form-control" name="fileType" id="file-type">
                    <option selected="selected" value="">Select...</option>
                    <option value="bulk">Bulk Upload</option>
                    <option value="columns">Multiple Columns File</option>
                </select>
            </div>
            
            <div class="form-group date-group">
                <fieldset>
                    <legend>Effective date (optional)</legend>
                    <div class="form-hint">For example, 20 03 2003</div>         
                    <span class="inline-form-control">
                        <label for="effectiveddate-day" class="form-label">Day</label>
                        <input class="form-control" name="effectiveddateDay" id="effectiveddate-day" />
                    </span>
                    <span class="inline-form-control">
                        <label for="effectiveddate-month" class="form-label">Month</label>
                        <input type="text" class="form-control" name="effectiveddateMonth" id="effectiveddate-month" />
                    </span>
                    <span class="inline-form-control">
                        <label for="effectiveddate-year" class="form-label">Year</label>
                        <input type="text" class="form-control" name="effectiveddateYear" id="effectiveddate-year"/>
                    </span>
                </fieldset>
            </div>
            

        </div>
        <div class="column-full">
            <input type="submit" class="button mobile-full-width" value="Submit"/>
        </div>
       
</div>
}
