@using Edubase.Web.UI.Models
<div class="helptext-container govuk-!-padding-top-4 govuk-!-margin-top-4">
<h3 class="govuk-heading-s">Further information</h3>

@if (Model.SelectedTab == ChangeHistoryViewModel.Tab.Establishments)
{
    <!-- establishment search help text -->
    <div id="name-reference-help">
        <h3 class="govuk-heading-s make-modal-header">Name, URN, LAESTAB, or UKPRN</h3>
        <p>
            Enter the establishment's name or a reference
            number: URN (Unique Reference Number),
            LAESTAB (Local Authority Establishment Number),
            UKPRN: (UK Provider Reference Number)
        </p>
    </div>

}

@if (Model.SelectedTab == ChangeHistoryViewModel.Tab.Groups)
{
    <!-- group search help text -->
    <div id="group-reference">
        <h3 class="govuk-heading-s make-modal-header">Name or reference number</h3>
        <p>
            Enter the name or a reference number: Companies House number, Unique ID (assigned by the system) or UKPRN: (UK Provider Reference Number).
        </p>
    </div>
}
</div>
