@using Edubase.Web.UI.Helpers
@{
    ViewBag.SiteSection = "tools";
}
@section Head {
    <noscript>
        <meta http-equiv="refresh" content="2">
    </noscript>

}

@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Home", "Index", "Home", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Bulk update establishments</h1>
    </div>
    <div class="download-step">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Processing...</h2>
            <p class="govuk-body-s"></p>
        </div>
        <div class="govuk-grid-column-full">
            <div aria-live="polite" class="gias-wait-mask gias-wait-mask--inline">
                <p class="govuk-visually-hidden">Please wait</p>
                <css-spinner />
            </div>
        </div>
    </div>
</div>


@section ViewScripts
{
    <script src="@Html.Raw(Html.GetWebpackScriptUrl("polling.*.js"))"></script>
}
