<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="6.4.0" targetFramework="net48" />
  <package id="Autofac.Mvc5" version="6.1.0" targetFramework="net48" />
  <package id="AutoMapper" version="10.1.1" targetFramework="net48" />
  <package id="Castle.Core" version="5.1.0" targetFramework="net48" />
  <package id="DiffEngine" version="10.0.2" targetFramework="net48" />
  <package id="EmptyFiles" version="2.8.0" targetFramework="net48" />
  <package id="Faker.Net" version="2.0.154" targetFramework="net48" />
  <package id="FluentValidation" version="8.6.2" targetFramework="net48" />
  <package id="FluentValidation.Mvc5" version="8.6.1" targetFramework="net48" />
  <package id="FluentValidation.ValidatorAttribute" version="8.6.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.5" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Data.Edm" version="5.8.5" targetFramework="net48" />
  <package id="Microsoft.Data.OData" version="5.8.5" targetFramework="net48" />
  <package id="Microsoft.Data.Services.Client" version="5.8.5" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="6.0.5" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net48" />
  <package id="Moq" version="4.18.2" targetFramework="net48" />
  <package id="morelinq" version="3.3.2" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NUnit" version="3.13.3" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.2.1" targetFramework="net48" developmentDependency="true" />
  <package id="Shouldly" version="4.1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net48" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net48" />
  <package id="System.Management" version="6.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Spatial" version="5.8.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net48" />
</packages>