<div class="helptext-container">
    <h3 class="heading-small">Further information</h3>

    <!-- establishment search help text -->
    <div id="name-reference-help" role="tooltip" aria-hidden="@(Model.SelectedTab != SearchViewModel.Tab.Establishments)">
        <h3 class="heading-small">Name, URN, LAESTAB, or UKPRN</h3>
        <p>
            Enter the establishment's name or a reference
            number: URN (Unique Reference Number),
            LAESTAB (Local Authority Establishment Number),
            UKPRN: (UK Provider Reference Number)
        </p>
    </div>

    <!-- group search help text -->
    <div id="group-reference" aria-hidden="@(Model.SelectedTab != SearchViewModel.Tab.Groups)">
        <h3 class="heading-small">Name or reference number</h3>
        <p>
            Enter the name or a reference number: Companies
            House number or Unique ID (assigned by the
            system).
        </p>
    </div>

</div>
