@using Edubase.Web.UI.Models.Search
<div class="helptext-container">
    <h3 class="govuk-heading-s">Further information</h3>
    <!-- establishment search help text -->
    <div id="name-reference-help" role="tooltip" aria-hidden="@(Model.SelectedTab != SearchViewModel.Tab.Establishments)">
        <h3 class="govuk-heading-s make-modal-header">Name or reference identification number</h3>
        <p>
            Enter the establishment's name or one of the following reference identification numbers associated with the establishment:
            <ul class="govuk-list govuk-list--bullet">
                <li>URN (unique reference number)</li>
                <li>LAESTAB (local authority establishment number)</li>
                <li>UKPRN (UK provider reference number)</li>
            </ul>
        </p>
    </div>

    <!-- group search help text -->
    <div id="group-reference" aria-hidden="@(Model.SelectedTab != SearchViewModel.Tab.Groups)">
        <h3 class="govuk-heading-s make-modal-header">Name or reference identification number</h3>
        <p>
            Enter the group's name or one of the following reference identification numbers associated with the group:
            <ul class="govuk-list govuk-list--bullet">
                <li>Company number (also known as Companies House (CH) number)</li>
                <li>UID (unique identifier)</li>
                <li>UKPRN (UK provider reference number)</li>
            </ul>
        </p>
    </div>

</div>
