<h1 class="heading-xlarge">Get information about schools</h1>
<p>
    This is a register of schools and colleges in England. You can search for and download information on establishments, establishment groups (such as a local authority, trust or federation) or governors. Schools, local authorities and academy trusts can also update details by signing in to their DfE Sign-in account.
</p>
