.warning-message {
  background-color: govuk-tint(govuk-colour('yellow'), 75);
  background-image: url('/public/assets/images/icons/icon-important-2x.png');
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 36px;
  margin-bottom: 1em;
  border-left: 4px solid govuk-colour('black');
  min-height: 60px;

  h3 {
    padding: 12px 0 12px 58px;
    font-weight: bold;
  }

  p {
    font-weight: bold;
    padding: 1em 12px 1em 58px;
  }

  ul {
    padding-left: 58px;
    margin-left: 32px;
    margin-right: 12px;
    font-weight: bold;

    & + p {
      padding-top: 0;
    }

    &.warning-list {
      padding-bottom: 20px;
    }
  }

  @include govuk-media-query($until: tablet) {
    background-size: 24px;

    p {
      padding-left: 40px;
    }

    ul {
      padding-left: 40px;
    }
  }

  .search-toggle-panel & {
    max-width: 50%;

    @include govuk-media-query($until: tablet) {
      max-width: 100%;
    }
  }

  #group-search-container &,
  #governor-search-wrapper & {
    max-width: 50%;

    @include govuk-media-query($until: tablet) {
      max-width: 100%;
    }
  }
}
