<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title><%= title %> <% if title != '' %>&ndash;<% end %> <%= @config['global_title'] %></title>
    <script type="text/javascript">
    (function () {
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var d = document, c = "appendChild", a = d.createElement("style");
            a[c](d.createTextNode("@@-ms-viewport{width:auto!important}"));
            d.getElementsByTagName("head")[0][c](a);
        }
    })();
    </script>

    <!--[if gt IE 8]><!-->
    <link href="<%= @config['assets_path'] %>/stylesheets/govuk-template.css?0.12.0" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="<%= @config['assets_path'] %>/stylesheets/govuk-template-ie6.css?0.12.0" media="screen" rel="stylesheet" type="text/css"/><![endif]-->
    <!--[if IE 7]<link href="<%= @config['assets_path'] %>/stylesheets/govuk-template-ie7.css?0.12.0" media="screen" rel="stylesheet" type="text/css"/><![endif]-->
    <!--[if IE 8]><link href="<%= @config['assets_path'] %>/stylesheets/govuk-template-ie8.css?0.12.0" media="screen" rel="stylesheet" type="text/css"/><![endif]-->

    <link href="<%= @config['assets_path'] %>/stylesheets/govuk-template-print.css?0.12.0" media="print" rel="stylesheet" type="text/css" />

    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["<%= @config['assets_path'] %>stylesheets/fonts-ie8.css?0.13.0"]},
       c="<%= @config['assets_path'] %>javascripts/vendor/goog/webfont-debug.js?0.13.0",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="<%= @config['assets_path'] %>stylesheets/fonts.css?0.13.0" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <!--[if lt IE 9]>
      <script src="<%= @config['assets_path'] %>javascripts/ie.js?0.13.0" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="<%= @config['assets_path'] %>images/favicon.ico?0.12.0" type="image/x-icon" />

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= @config['assets_path'] %>images/apple-touch-icon-152x152.png?0.12.0">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= @config['assets_path'] %>images/apple-touch-icon-120x120.png?0.12.0">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= @config['assets_path'] %>images/apple-touch-icon-76x76.png?0.12.0">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="<%= @config['assets_path'] %>images/apple-touch-icon-60x60.png?0.12.0">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="<%= @config['assets_path'] %>images/opengraph-image.png?0.12.0">

    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="styles/hgt-syntax.css">
    <link rel="stylesheet" href="styles/hgt.css">

    <!--[if gt IE 8]><!-->
    <link href="/public/assets/stylesheets/main.css" rel="stylesheet" type="text/css"><!--<![endif]-->
    <!--[if IE 6]><link href="/public/assets/stylesheets/main-ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="/public/assets/stylesheets/main-ie7.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="/public/assets/stylesheets/main-ie8.css" rel="stylesheet" type="text/css"/><![endif]-->
</head>

<body class="hgt-body">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
        <div>
            <a href="#content" class="skiplink">Skip to main content</a>
        </div>
    </div>

    <div id="global-cookie-message">
        <div class="outer-block">
            <div class="inner-block">
                <p>
                    GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a>
                </p>
            </div>
        </div>
    </div>
    <!--end global-cookie-message-->

    <header role="banner" id="global-header" class="with-proposition">
        <div class="header-wrapper">
            <div class="header-global">
                <div class="header-logo">
                    <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
                        <img src="<%= @config['assets_path'] %>images/gov.uk_logotype_crown.png?0.12.0" width="35" height="31" alt="">
                        GOV.UK
                    </a>
                </div>
            </div>
            <div class="header-proposition">
                <div class="content">
                    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
                    <nav id="proposition-menu">
                        <a href="#" id="proposition-name">DfE Style Guide</a>
                        <ul id="proposition-links">
                            <% @categories.each do |cat| %>
                            <li>
                                <a href="<%= cat[1] %>"
                                   class="<% if title == cat[0] %>selected<% end %>">
                                    <%= cat[0] %>
                                </a>
                            </li>
                            <% end %>
                            <li>
                                <a href="resources.html">Resources</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!--end header-->

    <div id="global-header-bar">
        <div class="inner-block">
            <div class="header-bar"></div>
        </div>
    </div>
    <!--end global-header-bar-->

    <main id="content" class="page" role="main">

        <div class="grid-row">
            <div class="column-full">
                <div class="phase-banner">
                    <div class="phase-banner-beta">
                        <p>
                            <strong class="phase-tag">BETA</strong>
                            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-row mvl">
            <div class="column-full">

                <div class="hgt-styleguide hgt-container">
                    <div class="grid-row">
                        <% unless @blocks.length == 0 %>
                        <div class="column-quarter">
                            <nav class="browse hgt-menu">
                                <h1 class="visuallyhidden" tabindex="-1">All categories</h1>
                                <ul>
                                    <% @blocks.each do |block| %>
                                    <% if not block[:parent] %>
                                    <li>
                                        <a class="hgt-menu-item" href="#<%= block[:name] %>"><%= block[:title] %></a>
                                    </li>
                                    <% end %>
                                    <% end %>
                                </ul>
                            </nav>
                        </div>
                        <% end %>

                        <div class="<% unless @blocks.length == 0 %>column-three-quarters<% else%>column-full<% end %>">
                            <div class="hgt-content">
