.gias-fieldset {
  .govuk-fieldset__legend {
    @include govuk-font(19, 'bold');
  }
}

// date inputs rendered through the editor template in the
// edit details page
.date-group .edit-date-fieldset,
.edit-age-range-fieldset {
  .govuk-fieldset__legend {
    font-size: 19px;
    font-weight: bold;
    display: block;
    float: none;
    margin-left: 0;
    padding-top: 0;

    @include govuk-media-query($until: tablet) {
      font-size: 16px;
    }
  }
}

.create-edit-form-group .edit-date-fieldset {
  .govuk-error-message {
    padding-left: 0;
  }
}

.create-edit {
  .govuk-select {
    width: 100%;
  }
}

.gias-confirmation--date-editor {
  .date-group {
    .govuk-fieldset__legend {
      display: block;
      float: none;
      padding: 0 0 20px;
      font-size: 19px;
      margin-left: 0;

      @include govuk-media-query($until: tablet) {
        font-size: 16px;
      }
    }

    .govuk-error-message {
      padding-left: 0;
    }
  }
}

.create-edit .range-group .inline-form-control {
  float: left;
  margin-left: 0;
}

.requires-approval {
  color: govuk-colour('orange');
  width: 50px;
  display: inline-block;
  background-image: url("/public/assets/images/icons/icon-information-2x.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}
