.govuk-input[disabled] {
  background-color: govuk-tint(govuk-colour('mid-grey'),50);
  color: govuk-colour('black');
}

.govuk-select[disabled] {
  background-color: govuk-tint(govuk-colour('mid-grey'),50);
  color: govuk-colour('black');
}

