// date inputs rendered through the editor template in the
// edit details page
.date-group .edit-date-fieldset {
  .govuk-fieldset__legend {
    font-size: 19px;
    font-weight: bold;
    display: block;
    float: none;
    margin-left: 0;
    padding-top: 0;
  }
}
