@model IEnumerable<dynamic>
@{
    ViewBag.Title = "Schools";
}

<h1 class="heading-large">Schools</h1>

<ul>
    @foreach (var school in Model)
    {
        <li>
            @Html.ActionLink((string)school.SCHNAME, "Details", new { school.id })
        </li>
    }

</ul>


@Html.ActionLink("Create establishment", "Create", "Establishment")
