@using Edubase.Web.UI.Models

@model MATDetailViewModel
@{
    ViewBag.Title = Model.MAT.Name;
    ViewBag.PageClass = "mat-details";
}
<br />
<p>@Html.ActionLink("Go back", "Index", "Search")</p>

<h1 class="heading-large">@Model.MAT.Name <span class="urn">(Group UID: @Model.MAT.GroupUID)</span></h1>

<div class="column-full">
    <div class="grid-row summary">
        
        <h3 class="heading-medium">Schools within this MAT/AS:</h3>
        <ul class="list-bullet">
            @foreach (var item in Model.Establishments)
            {
                <li>@Html.ActionLink(item.Establishment.Name, "Details", "Schools", new { id = item.Establishment.Urn }, null)</li>
            }
        </ul>

    </div>
</div>