<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large">Search for a MAT/Academy Sponsor</h1>
        @using (Html.BeginForm("Search", "MAT", FormMethod.Get))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <input class="form-control" name="term" type="text" placeholder="Enter name or companies house number" required>
            </div>
            <div class="form-group">
                <button type="submit" class="button button-next">Search</button>
            </div>
        }
    </div>
</div>