.search-results-download-link-container {
  position: relative;
  padding: govuk-spacing(1) 0;

  @include govuk-media-query($until: tablet) {
    padding-top: 0;
  }
}
.search-results-download-link {
  display: block;
  margin-top: 0;
  margin-right: govuk-spacing(2);
  outline: none;
  padding: 0 govuk-spacing(1) govuk-spacing(1) 0;
  font-size: 14px;

  @include govuk-media-query($from: desktop) {
    margin-right: 0;
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 16px;
  }
}
.search-results-download-clear-search {
  padding-left: 10px;
  white-space: nowrap;
  font-size: 19px;

  @media (max-width: 925px) {
    padding-left: 0;
    font-size: 16px;
  }
}
.search-results-download-view-in-sections {
  padding-top: 38px;

  @media (max-width: 640px) {
    padding-bottom: 5px;
  }
}
