.js-collapsible {
  .js-container-head {
    z-index: 97;
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    margin-bottom: -1px;
    padding: 4px 0;
    background-color: govuk-tint(govuk-colour('mid-grey'), 50);
    border: 1px solid govuk-tint(govuk-colour('mid-grey'), 50);

    &::after {
      position: absolute;
      background: url('/public/assets/images/option-select-toggle-sprite.png') no-repeat right 5px;
      width: 24px;
      height: 25px;
      content: "";
      right: 0;
      top: 0;
    }

    &:hover {
      background-color: govuk-tint(govuk-colour('mid-grey'), 50);
    }

    &:hover + .options-container {
      border-color: govuk-tint(govuk-colour('mid-grey'), 50);
    }

    &[disabled] {
      background-image: none;
      color: inherit;
    }
  }

  &.js-closed {
    button::after {
      background-position: right -75px;
    }

    .options-container {
      display: none;
    }
  }

  .option-select-label {
    padding: 5px 0  5px 10px;
    font-size: 16px;

    @include govuk-media-query($until: tablet) {
      font-size: 14px;
    }
  }

  .js-selected-counter {
    padding-left: 10px;
  }
}

.child-option-toggle {
  position: absolute;
  right: 5px;
  top: 6px;
  background-color: govuk-colour('white');
  background-image: url('/public/assets/images/option-select-toggle-child-sprite-2020.png');
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 28px auto;
  width: 20px;
  height: 20px;
  display: block;
  border: 0;

  &.open-children {
    background-position: 50% top;
  }

  &:active,
  &:focus {
    background-color: transparent;
    box-shadow: none;
    outline: 1px dotted govuk-colour('black');
  }

  .no-js & {
    display: none;
  }
}

.additional-filters {
  background-color: govuk-colour('white');

  .container-head {
    padding-left: 0;
  }

  .option-select-label {
    padding-left: 0;
  }

  .search-field-wrap {
    background-color: govuk-colour('white');
    border: 1px solid govuk-colour('black');

    .filter-searchwithin-label {
      width: 88%;
    }
  }

  .filter-search {
    border-bottom: 0;
    padding-top: 8px;
  }

  .field-clear {
    top: 6px;
  }

  &.govuk-option-select .options-container {
    border-width: 1px;
    border-color: govuk-colour('black');
  }
}

// skip links within the filter section
.gias-filter-skip-link {
  .no-js & { // no need to skip with no-js as the user will need to tab to the submit button anyway
    display: none !important;
  }

  .js-closed & { // hide the skip link on closed filter panels
    display: none;
  }
}
