.hide-show-filters {
  position: relative;
  left: 15px;
  font-size: 16px;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -18px;
    width: 0;
    height: 0;
    border-bottom: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid $govuk-brand-colour;
  }

  &.filters-closed::before {
    top: 5px;
    left: -15px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 9px solid $govuk-brand-colour;
  }

/*  @include govuk-media-query($until: resultsBp) {
    display: none;
  }*/
}
