.search-results {
  .govuk-grid-column-one-third {
    position: relative;
  }

  @include govuk-media-query($until: desktop) {
    .govuk-grid-column-one-third,
    .govuk-grid-column-two-thirds {
      width: 100%;
    }
  }
}

.gias-heading-xs {
  @include govuk-font(16, 'bold');
  margin: 0 0 govuk-spacing(1);
}

.gias-search-results--heading {
  @include govuk-media-query($until: tablet) {
    margin-bottom: govuk-spacing(3);
  }
}
