@{
    ViewBag.Title = "Edubase: Edit establishment links";
    ViewBag.bodyClasses = "establishment-links school-details";

}

<div id="establishment-links" v-cloak>
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large" id="page-heading">{{baseEstab.name}}</h1>
            <p class="urn">{{baseEstab.urn}} </p>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <div class="horizontal-tabs-wrapper">
                <div class="tab-wrap">
                    <ul class="horizontal-tabs">
                        <li><a href="/" class="horizontal-tab">Details</a></li>
                        <li><a href="/" class="horizontal-tab">Governance</a></li>
                        <li><a href="/" class="horizontal-tab selected-tab">Links</a></li>
                        <li><a href="/" class="horizontal-tab">Location</a></li>
                        <li><a href="/" class="horizontal-tab">Changes</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-content-wrapper horizontal-tabs-content">
                <div class="tab-content">
                    <div class="links-list" v-show="viewMode">
                        <div class="button-row">
                            <button class="button mobile-full-width" v-on:click.prevent="saveLinkedEstablishment" v-show="editMode || addMode">Save</button>
                            <button class="button button-grey mobile-full-width estab-link-delete" v-show="editMode">Delete</button>
                            <a href="#" class="button button-grey  mobile-full-width" v-on:click.prevent="reset">Cancel</a>
                        </div>

                        <p class="table-caption">
                            These establishments are linked with {{baseEstab.name}},
                            URN: {{baseEstab.urn}} For example, they may be predecessor or successor establishments.
                        </p>

                        <table class="edubase-table">
                            <thead>
                                <tr>
                                    <th class="links-urn"><abbr title="Unique Reference Number">URN</abbr></th>
                                    <th class="links-name">Establishment name</th>
                                    <th class="links-type">Type of link</th>
                                    <th class="links-date">Date linked</th>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(estab, index) in linkedEstablishments">
                                    <td aria-label="URN">{{estab.urn}}</td>
                                    <td aria-label="Establishment name">{{estab.name}}</td>
                                    <td aria-label="Type of link">{{estab.linkType.name}}</td>
                                    <td aria-label="Date linked">{{estab.linkDate}}</td>
                                    <td class="edit-cell"><a href="#" v-on:click.prevent="editLink(estab.urn)">Edit</a></td>
                                </tr>

                            </tbody>
                        </table>
                        <p>
                            <a href="#" class="plus-link" v-on:click.prevent="addNewLink">Add another link</a>
                        </p>

                    </div>
                    <div class="links-search" v-show="addMode && linkingEstab ===''">
                        <div class="button-row">
                            <a class="button button-grey" href="#" v-on:click.prevent="reset">Cancel</a>
                        </div>

                        <h2 class="bold-medium" v-show="addMode">Link to other establishment</h2>
                        <h2 class="bold-medium" v-show="editMode">Edit link</h2>

                        <form>
                            <div class="column-half">
                                <div v-bind:class="['form-group', urnSearchError || urnInvalidError ? 'error' : '']" v-show="linkingEstab === ''">
                                    <span class="error-message" v-show="urnInvalidError">
                                        Please enter a valid URN
                                    </span>
                                    <span class="error-message" v-show="urnSearchError">
                                        This URN is already linked to this establishment
                                    </span>

                                    <input type="text" class="form-control urn-search" v-model="userUrn" />
                                    <button class="button inline-button" v-on:click.prevent="validateUrn">Find URN</button>
                                </div>
                            </div>

                        </form>

                        <div class="button-row">
                            <a class="button button-grey" href="#" v-on:click.prevent="reset">Cancel</a>
                        </div>
                    </div>

                    <div class="attach-link" v-show="(addMode && linkingEstab !=='') || editMode">
                        <div class="button-row">
                            <button class="button">Save</button>
                            <a href="#" class="button button-grey" v-on:click="reset">Cancel</a>
                        </div>
                        <div class="column-two-thirds">
                            <h2 class="bold-medium">Link to other establishment</h2>
                            <h3 class="heading-small">Establishment to be linked</h3>
                            <ul class="establishment-summary">
                                <li>{{linkingEstab.name}}</li>
                                <li>{{linkingEstabAddress}}</li>
                                <li>URN: {{linkingEstab.urn}}</li>
                            </ul>
                            <a href="#" v-show="addMode" v-on:click.prevent="addMode = true, linkingEstab =''">Wrong establishment?</a>
                        </div>


                        <form>
                            <div class="column-two-thirds">
                                <h3 class="heading-small">Relationship</h3>
                                <h4 class="bold-xsmall">Relationship of:</h4>
                                <p class="link-relationship">
                                    {{baseEstab.name}}, URN: {{baseEstab.urn}}
                                    <strong>to</strong>
                                    {{linkingEstab.name}}, {{linkingEstab.urn}}
                                </p>
                            </div>
                            <div class="column-half">
                                <div v-bind:class="['form-group', forwardLinkError? 'error':'']">
                                    <span class="error-message" v-show="forwardLinkError">Please select a link type</span>
                                    <select class="form-control" v-model="forwardLinkType">
                                        <option v-for="option in linkTypes" v-bind:value="option.code">{{option.name}}</option>
                                    </select>
                                </div>


                                <div v-bind:class="['form-group date-group', linkDateError ? 'error' : '']">
                                    <fieldset>
                                        <legend>Date of link</legend>
                                        <span class="error-message" v-show="linkDateError">Please provide a valid date for the link</span>
                                        <div class="form-hint">For example, 20 03 2003</div>
                                        <span class="inline-form-control">
                                            <label for="linkdate-day" class="form-label">Day</label>
                                            <input class="form-control" name="linkdateDay" id="linkdate-day" v-model="linkDateDay">
                                        </span>
                                        <span class="inline-form-control">
                                            <label for="linkdate-month" class="form-label">Month</label>
                                            <input class="form-control" name="linkdateMonth" id="linkdate-month" type="text" v-model="linkDateMonth">
                                        </span>
                                        <span class="inline-form-control">
                                            <label for="linkdate-year" class="form-label">Year</label>
                                            <input class="form-control" name="linkdateYear" id="linkdate-year" type="text" v-model="linkDateYear">
                                        </span>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="column-two-thirds">
                                <div class="form-group">
                                    <span class="checkbox-wrap">
                                        <input id="reverse-link" name="reverse-link" value="true" type="checkbox" v-model="reverseLink">

                                        <label class="edubase-button-checkbox" for="reverse-link">Add a reverse link to show on new establishments page</label>
                                    </span>
                                </div>
                            </div>


                            <div v-show="reverseLink">
                                <div class="column-half">
                                    <p class="link-relationship">
                                        {{linkingEstab.name}}, {{linkingEstab.urn}}
                                        <strong>to</strong>
                                        {{baseEstab.name}}, URN: {{baseEstab.urn}}
                                    </p>
                                    <div v-bind:class="['form-group', backLinkError? 'error':'']">
                                        <span class="error-message" v-show="backLinkError">Please select a reverse link type</span>
                                        <select class="form-control" v-model="reverseLinkType">
                                            <option v-for="option in linkTypes" v-bind:value="option.code">{{option.name}}</option>
                                        </select>
                                    </div>

                                    <div v-bind:class="['form-group date-group', reverseLinkDateError ? 'error' : '']">
                                        <fieldset>
                                            <legend>Date of link</legend>
                                            <span class="error-message" v-show="reverseLinkDateError">Please provide a valid date for the link</span>
                                            <div class="form-hint">For example, 20 03 2003</div>
                                            <span class="inline-form-control">
                                                <label for="reverselinkdate-day" class="form-label">Day</label>
                                                <input class="form-control" name="reverselinkdateDay" id="reverselinkdate-day" v-model="reverseLinkDateDay" :disabled="cloneDate">
                                            </span>
                                            <span class="inline-form-control">
                                                <label for="reverselinkdate-month" class="form-label">Month</label>
                                                <input class="form-control" name="reverselinkdateMonth" id="reverselinkdate-month" type="text" v-model="reverseLinkDateMonth" :disabled="cloneDate">
                                            </span>
                                            <span class="inline-form-control">
                                                <label for="reverselinkdate-year" class="form-label">Year</label>
                                                <input class="form-control" name="reverselinkdateYear" id="reverselinkdate-year" type="text" v-model="reverseLinkDateYear" :disabled="cloneDate">
                                            </span>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="column-two-thirds">
                                    <div class="form-group">
                                        <span class="checkbox-wrap">
                                            <input id="same-reverse-link" name="same-reverse-link" value="true" type="checkbox" v-model="cloneDate" v-on:change="toggleDateClone">

                                            <label class="edubase-button-checkbox" for="same-reverse-link">Use same dates</label>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </form>


                        <div class="button-row">
                            <button class="button mobile-full-width" v-on:click.prevent="validateEstablishmentLink">Save</button>
                            <button class="button button-grey mobile-full-width estab-link-delete">Delete</button>
                            <a href="#" class="button button-grey  mobile-full-width" v-on:click.prevent="reset">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>

</div>
@section ViewScripts
{
    <script src="/Assets/Scripts/standalone/establishmentLinks.js"></script>
}
