<div class="grid-row">
    <div class="column-full">
        <p>Something that needs an explanation <a href="#target" class="icon-help">
            <span class="visuallyhidden">hidden link text</span>
        </a></p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <p>
            <a href="#target3" class="icon-help">
                <span class="visuallyhidden">hidden link text</span>
                
            </a> Something else that needs an explanation
        </p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <p>
            Something else that needs an explanationSomething else that needs an explanation <a href="#target2" class="icon-help">
                <span class="visuallyhidden">hidden link text</span>
            </a>
        </p>
        <br/>
        <br/>
        <br/>
    </div>
</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div id="target" class="hidden">
    <h3 class="heading-small">Age range</h3>
    <p>This should reflect the age range stated in the
        academy's funding agreement. Please follow the
        statutory guidance when updating this information</p>
</div>


<div id="target2" class="hidden">
    <h3 class="heading-small">Age range duplicate</h3>
    <p>This should reflect the age range stated in the
        academy's funding agreement. Please follow the
        statutory guidance when updating this information</p>
</div>

<div id="target3" class="hidden">
    <h3 class="heading-small">Age range duplicate number two</h3>
    <p>This should reflect the age range stated in the
        academy's funding agreement. Please follow the
        statutory guidance when updating this information</p>
</div>