.js-enabled {

    .js-collapsed, .optional-section {
        display: none;
    }

    .js-expanded {
        display: block !important;
    }

    .accessbility-postback {
        display: none;
    }
}

main {
    &:focus {
        outline: none;
    }
}

a.home-link {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    color: black;

    &:hover {
        color: black;
    }

    @include media(mobile) {
        margin-bottom: 2px;
    }
}


a.font16-ext-link[rel="external"] {
    &:after {
        background-position: right 4px;
    }

    &:hover:after {
        background-position: right -384px;
    }

    @include media(mobile) {
        &:after {
            background-position: right 2px;
        }

        &:hover:after {
            background-position: right -386px;
        }
    }
}

a.font14-ext-link[rel="external"] {
    &:after {
        background-position: right 2px;
        content: "\A0\A0\A0\A0\A0";
    }

    &:hover:after {
        background-position: right -386px;
        content: "\A0\A0\A0\A0\A0";
    }

    @include media(mobile) {
        &:after {
            background-position: right 0;
            content: "\A0\A0\A0\A0\A0";
        }

        &:hover:after {
            background-position: right -388px;
            content: "\A0\A0\A0\A0\A0";
        }
    }
}

.side-width-wrapper {
    @extend %site-width-container;
}
