.search-history-results {

    @include media($max-width: 952px) {
        #filter-container {
            width: 100%;
            float: none;
        }

        .date-filters.govuk-option-select .filter-button {
            width: 100%;
            float: none;
            @include box-sizing(border-box);
        }

        #results-container {
            width: 100%;
        }
    }
}
