

.changes-list-wrapper {
    border-top: 1px $black solid;
    padding-top: 12px;
}


 
.wait-spinner {
    background: #fff url('/public/assets/images/icons/icon-loading.gif') no-repeat 50%;
    width: 100%;
    min-height: 200px;
}

.data-refreshing {
    @include opacity(0.5);
}

.edubase-textarea {
    width: 100%;
    min-height: 5em;
}

.change-approvals {


    .pending-updates-message {
        padding-left: 50px;
    }

    .tick {
        left: 10px;
        top: 6px;
    }

    .cross {
        position: absolute;
        background-image: url('/public/assets/images/icons/icon-white-cross-transparent.png');
        background-size: 100%;
        top: 12px;
        right: 12px;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer
    }

}

// styles lifted from _block-labels 
// - but these work just fine without the JS overhead
// + gov uk checkbox/ radio js doesn't work with vue.js loaded 
.edubase-button-checkbox {
    position: relative;
    display: block;
    float: left;   
    cursor: pointer;
    padding-left: 44px;
    padding-top: 10px;

    &::before {
      content: "";
      border: 2px solid;
      background: transparent;
      width: 34px;
      height: 34px;
      position: absolute;
      top: 5px;
      left: 0;
    }

    &::after {
      content: "";
      border: solid;
      border-width: 0 0 5px 5px;
      background: transparent;
      width: 17px;
      height: 7px;
      position: absolute;
      top: 14px;
      left: 8px;
      -moz-transform: rotate(-45deg); // Firefox 15 compatibility
      -o-transform: rotate(-45deg); // Opera 12.0 compatibility
      -webkit-transform: rotate(-45deg); // Safari 8 compatibility
      -ms-transform: rotate(-45deg); // IE9 compatibility
      transform: rotate(-45deg);
      @include opacity(0);
    }

    
}

.radio-button-wrap,
.checkbox-wrap {
    display: inline-block;
    position: relative;
    margin: 0 8px 20px;

   
    input {
        position: absolute;
        @include opacity(0);

        &[disabled="disabled"] {
            + input + label:before {
                background-color: $grey-3;
                border-color: $grey-1;
            }

            + input + label:after {
                border-color: $grey-1;
            }
        }
    }
}

@if ($is-ie and $ie-version < 9) {
    .radio-button-wrap,
    .checkbox-wrap {
        input {
            @include opacity(1);
            position: relative;
            top: 12px;
            left: 0;
            float: left;

            &:before, &:after {
                border: 0;
            }
        }

        label {
            padding-left: 12px;
        }
    }

    .search-type-wrapper .edubase-button-radio {
        padding-left: 0;

        &:before,
        &:after {
            border: 0;
            width: 0;
        }
    }

    #TextSearchModel_Text {
        width: 50%;
    }
}

.boldened-checkbox {   
    @include opacity(0);
    position: absolute;
    left: 0;
    top: 0;
   
}
input:checked + .edubase-button-checkbox:after {
    @include opacity(1);
}

input:focus + .edubase-button-checkbox:before {
    box-shadow: 0 0 3px 3px $focus-colour;
}

input:checked + input + .edubase-button-checkbox:after {
    @include opacity(1);
}

input:focus + input + .edubase-button-checkbox:before {
    box-shadow: 0 0 3px 3px $focus-colour;
}


.edubase-button-radio {
    position:relative;
    padding-left: 44px;
    padding-top: 6px;
    cursor: pointer;

     &:before {
      content: "";
      border: 2px solid;
      background: transparent;
      width: 34px;
      height: 34px;
      position: absolute;
      top: 0;
      left: 0;
      @include border-radius(50%);
    }

    &:after {
      content: "";
      border: 10px solid;
      width: 0;
      height: 0;
      position: absolute;
      top: 9px;
      left: 9px;
      @include border-radius(50%);
      @include opacity(0);
    }
}
input:checked + .edubase-button-radio:after {
    @include opacity(1);
}

input:focus + .edubase-button-radio:before {
    box-shadow: 0 0 3px 3px $focus-colour;
}

.expanding-panel {
    clear: both;
    position: relative;
    top: 12px;

    .error & {
        top: 0;
    }
}

.create-establishment dl {
    font-size: 16px;
}

.expander-panel {
    .radio-button-wrap {
        margin-bottom: 4px;
        margin-left: 0;
        margin-top: 8px;
        padding: 5px;
        padding-left: 0;
    }
        
    .checkbox-wrap {
        margin-bottom: 4px;
        margin-left: 0;
        margin-top: 8px;
        padding: 5px;
        padding-left: 0;

        .edubase-button-checkbox {
            font-size: 19px;
        }
    }
}