

.create-edit-form-group {
    margin-bottom: 23px;

    label {
        margin-bottom: 2px;
    }
}

select#headtitleid {
    width: 120px;
}

.create-edit-section-break {
    margin-bottom: 1em;
    padding-bottom: 0.4em;
    border-bottom: $grey-3 3px solid;
    clear: both;
}

.drop-down-date {
    select {
        width: 70px;
    }
}

.inline-name {
    width: 120px;
}

.age-field {
    width: 70px;
}

.link-establishment-form {
    .form-control {
        width: 150px; 
        padding: 5px;
    }

    .button {
        float:none;
        font-size:16px; 
        padding:4px inherit;
    }
}

.establishment-link-results {
    white-space: nowrap;
    padding-top: 2em;
    h3 {
        margin-bottom: 12px;
    }
}

.linked-establishment-submit-wrapper {
    text-align: right;

    .button {
        font-size: 16px;
    }
}

.range-group {
    overflow: hidden;

    legend {
        margin-bottom: 0;
    }
    
    label {
        display: block;
    }
    .inline-form-control {
        display: block;
        float: left;
        margin-right: 1em;
    }
}

.create-edit-school {
    label {
        font-size: 16px;
    }

    legend {
        font-weight: normal;
        font-size: 16px;
    }
    .hint-text, .form-hint {
        font-size: 16px;
    }

    .grouped-controls .form-control {
        margin-bottom: 0.25em;
    }

    .inline-fields .form-control {
        width: auto;
        margin-right: 1em;
    }

    .ofstead-rating {
        overflow: hidden;
        span {
            display: block;
            color: #fff;
            background-color: $govuk-blue;
            float: left;
            padding:2px 6px;
            margin-top: 0.15em;
            margin-right: 1.5%;
            font-size: 16px;
            @include media(mobile)  {
                font-size: 14px;
            }
        }
        .form-control {
            max-width: 92%;
            float: right;

            @include media(mobile)  {
                max-width: 89%;
            }
        }
    }
}

.additional-address-wrapper {
    border: $grey-3 3px solid;
    border-left: 0;
    border-right: 0;
    padding: 12px 0;
    margin: 12px 0;
}

.create-edit-school .link-button {
    font-size: 16px;
}

.button-find-inline {
    font-size: 18px;
}