

.create-edit-form-group {
    margin-bottom: 23px;

    label {
        margin-bottom: 2px;
    }
}

select#headtitleid {
    width: 120px;
}

.create-edit-section-break {
    margin-bottom: 1em;
    padding-bottom: 0.4em;
    border-bottom: $grey-3 3px solid;
    clear: both;
}

.drop-down-date {
    select {
        width: 70px;
    }
}

.inline-name {
    width: 120px;
}

.age-field {
    width: 70px;
}

.link-establishment-form {
    .form-control {
        width: 150px; 
        padding: 5px;
    }

    .button {
        float:none;
        font-size:16px;
        margin-top: 2px;
    }
}

.establishment-link-results {
    white-space: nowrap;
    padding-top: 2em;
    h3 {
        margin-bottom: 12px;
    }
}

.linked-establishment-submit-wrapper {
    text-align: right;

    .button {
        font-size: 16px;
    }
}

.range-group {
    overflow: hidden;

    legend {
        margin-bottom: 0;
    }
    
    label {
        display: block;        
    }
    .inline-form-control {
        display: block;
        float: left;
        margin-right: 1em;
    }
}

.create-edit-school {

    .form-group.first {
        padding-top:16px;
    }

    label {
        font-size: 16px;
        margin-bottom: 2px;
    }

    legend {
        font-weight: normal;
        font-size: 16px;

        &.bold-legend {
            font-weight: bold;
            display: block;
            margin: 20px 0;
        }
    }
    .hint-text, .form-hint {
        font-size: 16px;
    }

    .grouped-controls .form-control {
        margin-bottom: 0.25em;
    }

    .inline-fields .form-control {
        width: auto;
        margin-right: 1em;
    }

    .ofstead-rating {
        overflow: hidden;
        span {
            display: block;
            color: #fff;
            background-color: $govuk-blue;
            float: left;
            padding:2px 6px;
            margin-top: 0.15em;
            margin-right: 1.5%;
            font-size: 16px;
            @include media(mobile)  {
                font-size: 14px;
            }
        }
        .form-control {
            max-width: 92%;
            float: right;

            @include media(mobile)  {
                max-width: 89%;
            }
        }
    }
    
    .column-full {
        .column-half,
        .column-two-thirds {
                padding-left: 0;
            }
    }


    .grey-bar {
        border-top: $grey-3 3px solid;
        border-left: 0;
        border-right: 0;
        //padding: 12px 0;
        margin: 12px 0;
	}

    .additional-address-wrapper {
        border: $grey-3 3px solid;
        border-left: 0;
        border-right: 0;
        padding: 12px 0;
        margin: 12px 0;
    }

    .create-edit-school .link-button {
        font-size: 16px;
    }

    .button-find-inline {
        font-size: 18px;
    }

    .change-list {
        @extend .school-results-listing;
        dl {
            font-size:16px;
            dd {
                font-weight:bold;
            }
            &.border {
                padding-bottom:15px;
                border-bottom:3px solid $grey-3;
            }
            &.last {
                margin-bottom:0;
            }
        }
    }

    legend.effective-date {
        font-weight:bold;
    }

}


div.governor-list, div.governor-grid {
    margin-bottom:30px;
    table {
        th, td {
            text-align:left;
            font-size:16px;
            padding:15px 8px 15px 0px;
        }
        th {
            font-weight:bold;
        }
    }
    p.none { font-size:16px; }
}

.governor-grid {
    display:none;
    @include media(desktop){
        display:block;
    }
    @include media(tablet){
        display:block;
    }
}

.governor-list {
    dl {
        overflow: hidden;
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 15px;
        @media (min-width: 640px) {
            font-size: 16px;
        }
    }
    dt, dd {
        float: left;
    }
    dt {
        clear: left;
        padding-right: 0.5em;

        &.inline-details {
            clear: none;
            margin-left: 12px;
        }
    }
    h2 {
        margin-bottom:15px;
    }

}


.estab-number-wrap {
    margin-top: 20px;
}


.edu-edit-panel {
    margin: 0 0 30px 5px;
}


.edu-section-break {
    border-top: $grey-2 1px solid;
    margin: 40px  0 12px;
    padding-top: 12px;
}

div.shared-governor-list {
    padding-left: 15px;

    li {
        margin-top: 15px;
    }

    dl {
        overflow: hidden;
        font-size: 12px;
        line-height: 1.6;
        margin-bottom: 15px;
        @media (min-width: 640px) {
            font-size: 14px;
        }
    }
    dt, dd {
        float: left;
    }
    dt {
        clear: left;
        padding-right: 0.5em;

        &.inline-details {
            clear: none;
            margin-left: 12px;
        }
    }
    h2 {
        margin-bottom:15px;
    }
}