

.create-edit-form-group {
    label {
        margin-bottom: 2px;
    }

    .data-quality & {
        margin-top: 24px;
    }
}

select#headtitleid {
    width: 120px;
}

.data-quality .heading-small {
    margin-bottom: 12px;
    padding-top: 20px;
}

.create-edit-section-break {
    margin-bottom: 1em;
    padding-bottom: 0.4em;
    border-bottom: $grey-3 3px solid;
    clear: both;
}

.drop-down-date {
    select {
        width: 70px;
    }
}

.inline-name {
    width: 120px;
}

.age-field {
    width: 70px;
}

.link-establishment-form {
    .form-control {
        width: 150px; 
        padding: 5px;
    }

    .button {
        float:none;
        font-size:16px;
        margin-top: 2px;
    }
}

.establishment-link-results {
    white-space: nowrap;
    padding-top: 2em;
    h3 {
        margin-bottom: 12px;
    }
}

.linked-establishment-submit-wrapper {
    text-align: right;

    .button {
        font-size: 16px;
    }
}

.range-group {
    overflow: hidden;

    legend {
        margin-bottom: 0;
    }
    
    label {
        display: block;        
    }
    .inline-form-control {
        display: block;
        float: left;
        margin-right: 1em;
    }
}

legend {
    font-weight: normal;
    font-size: 19px;

    &.bold-legend {
        font-weight: bold;
        display: block;
        margin: 20px 0;
    }

    &.bold {
        font-weight: bold;
    }
}

.date-group {
    .form-control {
        width: 60px;        
    }
    legend {
        margin-bottom: 8px;
    }

    .form-label {
        display: block;
        font-size: 16px;
    }
    .inline-form-control {
        display: block;
        float: left;
        margin-right: 1em;
    }
    legend {
        font-size: 19px;
        margin-bottom: 0;
    }
    
}

.create-edit-school {

    .form-group.first {
        padding-top:16px;
    }

    label {
        font-size: 19px;
        margin-bottom: 2px;
    }

    .edubase-button-radio {
        font-size: 19px;
    }
    
    
    .hint-text, .form-hint {
        font-size: 19px;
    }

    .grouped-controls .form-control {
        margin-bottom: 0.25em;
    }

    .inline-fields .form-control {
        width: auto;
        margin-right: 1em;
    }

    .ofstead-rating {
        overflow: hidden;
        span {
            display: block;
            color: #fff;
            background-color: $govuk-blue;
            float: left;
            padding:2px 6px;
            margin-top: 0.15em;
            margin-right: 1.5%;
            font-size: 16px;
            @include media(mobile)  {
                font-size: 14px;
            }
        }
        .form-control {
            max-width: 92%;
            float: right;

            @include media(mobile)  {
                max-width: 89%;
            }
        }
    }
    

    .grey-bar {
        border-top: $grey-3 3px solid;
        border-left: 0;
        border-right: 0;
        //padding: 12px 0;
        margin: 12px 0;
	}

    .additional-address-wrapper {
        border: $grey-3 3px solid;
        border-left: 0;
        border-right: 0;
        padding: 12px 0;
        margin: 12px 0;
    }

    .create-edit-school .link-button {
        font-size: 16px;
    }

    .button-find-inline {
        font-size: 16px;
        padding: .526315em 1.5em .263157em;
    }

    .change-list {
        @extend .school-results-listing;
        dl {
            font-size:16px;
            dd {
                font-weight:bold;
            }
            &.border {
                padding-bottom:15px;
                border-bottom:3px solid $grey-3;
            }
            &.last {
                margin-bottom:0;
            }
        }
    }

    legend.effective-date {
        font-weight:bold;
    }

}


div.governor-list, div.governor-grid {
    margin-bottom:30px;
    table {
        th, td {
            text-align:left;
            font-size:14px;
            padding:15px 8px 15px 0px;
        }
        th {
            font-weight:bold;
        }
    }
    p.none { font-size:14px; }
    dt { font-size: 14px; }
    dd { font-size: 14px; }
}


.governors-section {
    margin-bottom: 30px;
    font-size: 14px;
}

.governor-list {
    dl {
        overflow: hidden;
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 15px;
        @media (min-width: 640px) {
            font-size: 14px;
        }
    }
    dt, dd {
        float: left;
    }
    dt {
        clear: left;
        padding-right: 0.5em;

        &.inline-details {
            clear: none;
            margin-left: 12px;
        }
    }
    h2 {
        margin-bottom:15px;
    }

}

.expanding-content-wrapper .governor-grid:first-child .heading-small {
    margin-top: 0;
}


.estab-number-wrap {
    margin-top: 0px;
}


.edu-edit-panel {
    margin: 0 0 30px 5px;
}


.edu-section-break {
    margin: 40px  0 12px;
    padding-top: 12px;
}

div.shared-governor-list {

    li {
        margin-bottom: 15px;
    }

    dl {
        overflow: hidden;
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 15px;
        clear: both;
        @media (min-width: 640px) {
            font-size: 16px;
        }
    }
    dt, dd {
        float: left;
    }
    dt {
        clear: left;
        padding-right: 0.5em;

        &.inline-details {
            clear: none;
            margin-left: 12px;
        }
    }
    h2 {
        margin-bottom:15px;
    }
}




.tab-content {
    .grid-row,
    .column-full,
    .column-half,
    .column-two-thirds {
        margin: 0;
        padding:0;
    }
    .column-two-thirds {
        clear: both;
    }
}


.exapanding-list-wrap {
    .shared-governor {        
        padding-left: 26px;
        padding-top: 0;
        margin: 0 15px 20px 16px;
        border-left: 4px solid #fff;
    }
     .panel-indent  {
       padding-left: 26px;
       padding-top: 0;
       margin: 0 15px 20px 16px;
       border-left: 4px solid $border-colour;
     }
     .remove-border {
         border-left-color: #fff;
     }
}

.chair-replace {

}

.establishment-links {
    .form-label,
    .edubase-button-checkbox {
        font-size: 16px;
    }

    .custom-margin {
        margin-bottom: 0.8em;
    }
}

.edit-changes-summary {
    .table-caption {
        font-size: 14px;
        margin: 12px 4px;
    }
}

.radio-wrap {
    legend {
        font-weight: bold;
        font-size: 24px;
    }
}

.childrens-centre-listing {
    td {
        padding-top: 12px;

        &.highlight {
            background-color: $grey-4;
        }

        &.radio-cell {
            padding-top: 6px;
        }
    }
     @include media(mobile) {
        .radio-cell:before {
            padding-top: 8px;
        }
    }

    .radio-button-wrap {
        margin: 4px 0;
    }
    .edubase-button-radio {
        position: relative;
        top: 4px;
        margin: 0;
        &:before {
            width: 24px;
            height: 24px;
            background-color: #fff;
        }
        &:after {
            top: 6px;
            left: 6px;
            border-width: 8px;
        }
    }
}

.data-status-group {
    h3 {
        font-size: 16px;
    }
}

.create-estab-number-gen {
    padding-top: 16px;
}


.create-childrens-centre {
    .inline-submit {
        margin-left: 0;
        padding-left: 40px;
        padding-right: 40px;

    }
    .inline-with-button .form-control {
        width: 50%;
    }
    .button-row {
        padding-top: 50px;
    }
}

.tab-lead {
    margin-top: 0;
}

.inline-select-button {
    margin-bottom: 35px;
    select {
        width: 66%;
        display: inline-block;
        margin-right: 12px;
        
        .is-mac & {
            font-size: 19px;
        }
    }
    
    .button {
        display: inline-block;
        font-size: 16px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

.up-to-date-confirmations {
    clear: both;
    
}
.data-confirmation-panel {
    overflow: hidden;
    margin-left: 12px;
    padding-bottom: 20px;
    + .data-confirmation-panel {
        border-top: 2px solid $border-colour;
        .confirmation-statement {
            padding-top: 12px;
        }
    }

    @include media(mobile) {
        margin-left: 0;
    }
}

.confirmation-statement {
    font-weight: bold;

    .confirmation-date {
        font-weight: normal;
    }
}

.confirmation-label {
    display: block;
    float:left;
    font-size: 16px;
}

.confirmation-button {
    padding-left: 40px;
    padding-right: 40px;
    float: left;
    font-size: 14px;
    margin: -4px 0 0 20px;

    @include media(mobile) {
        margin-left: 0;
        margin-top: 12px;
    }
}