.academies-list-wrapper {
    clear: both;
}

.create-academy-trust {
    .change-link {
        font-size: 16px;
        display: block;
        float: left;
        margin: 4px 0;
    }

    .establishment-details {
        clear: both;
        overflow: hidden;
    }

    .result-list .button-row {
        display: none;
        padding: 0;
    }

    .button-row {
        padding-top: 12px;
    }

    .academies-bulk-list > li {
        border-bottom: $grey-2 1px solid;
        padding: 20px 0;
    }

    .inline-submit {
        margin-left: 0;
    }

    .inline-with-button .form-control {
        width: 60%;

        @include media(mobile) {
            width: 50%;
        }
    }

    .button {
        padding-left: 40px;
        padding-right: 40px;
    }

    .table-caption {
        font-size: 14px;
        margin: 12px 0;
    }

    .trust-details {
        font-size: 16px;
    }
}