.mat-details {

    h1.heading-large {
        margin-bottom: 0;
    }

    p.uid {
        font-size: 14px;
        color: $grey-1;
        font-weight: bold;
        margin: 8px 25px 8px 0;


        @include media (tablet) {
            float: left;
        }
    }

    p.group-type {
        font-size: 14px;
        color: $grey-1;
        font-weight: bold;
        margin: 8px 0;

        @include media (tablet) {
            float: left;
        }
    }

    .group-data-download {
        margin: 4px 0 12px;

        @include media(tablet) {
            overflow: hidden;
            float: right;
            margin-bottom: 24px;

            a {
                font-size: 16px;
            }
        }
    }

    .group-establishment-list {
        clear: left;
        min-width: 59%;
        max-width: 59%;
        float: left;

        @include media(mobile) {
            max-width: 100%;
            float: none;
        }

        .school-results-listing {
            margin-top: 0;
        }
    }

    &.school-details .map-container .map-toggle {
        margin-bottom: 20px;
    }
}
