.independent-sigdates-search {
    .intro-para {
        margin-bottom: 0;
    }
        
    .form-group {
        margin-bottom: 0;
        .action {
            padding-top: 8px;
        }
    }

    .heading-medium {
        margin-top: 56px;
        margin-bottom: 10px;
    }

    #la-id-target {
        margin-top: 6px;
    }

    .column-full, .column-two-thirds {
        padding-top: 1px;
    }

    .button {
        margin-top: 28px;
    }
}
