.has-save-set {
    margin-bottom: 8px;
}

.proprietorRowTitle  {
    padding-top: 30px;
    clear: both;
}

.proprietorRowTitleHeader {
  position: relative;
  clear: none;
  float: left;
}

.proprietorRowTitleRemove {
  margin-left: 30px;
  position: relative;
  clear: none;
  float: right;
}
