.independent-sigdates-search {
    .intro-para {
        margin-bottom: 0;
    }
        
    .form-group {
        margin-bottom: 0;
        .action {
            padding-top: 8px;
        }
    }

    .radio-button-wrap {
        margin-bottom: 2px;
    }
    .heading-medium {
        margin-top: 56px;
        margin-bottom: 10px;
    }

    .sn-1 {
        margin-top: 48px;
    }

    .sn-3 {
        margin-top: 50px;
    }

    #la-id-target {
        margin-top: 6px;
    }

    .column-full, .column-two-thirds {
        padding-top: 1px;
    }

    .button {
        margin-top: 28px;
    }
}


.independent-sigdates-edit {
    .column-full {
        padding-top: 1px;
    }
}