
.amalgamate {

    .linked-establishments {
        counter-reset: estab-counter;
        margin-bottom: 1em;

        li {
            margin-bottom: 0.25em;
            width: 90%;
            position: relative;
            display: list-item;

            &:before {
                content: counter(estab-counter)".";
                counter-increment: estab-counter;
                position: absolute;
                left: 0;
                top: 4px;
                width: 12px;
                text-align: center;
            }

            .form-control {
                margin-left: 1.5em;
                padding-top: 4px;
                display: inline-block;
            }

            span {
                display: inline-block;
                margin-left: 1.1em;
                margin-top: 0.25em;
            }
        }

        strong {
            font-weight: bold;
        }
    }

    .summary-list li:before {
        content: counter(estab-counter)".";
    }

    .summary-panel {
        border-bottom: 1px $grey-2 solid;
        margin-bottom: 40px;
        padding-bottom: 12px;
    }


    .merger-list {
        margin: 20px 0;
    }

    .special-snowflake-radios {
        margin-bottom: 50px;
    }

    .amalg-summary {
        margin-bottom: 1em;
    }
}

.top-button-panel {
    display: none;
    @include media(mobile) {
        display: block;
    }
    .submit-cancel-panel {
        padding-top: 20px;
    }
}


.date-text-day,
.date-text-month {
    width: 3em;
}
.date-text-year {
    width: 6em;
}
