
.amalgamate {
    .error-message.hidden {
        display: none;
    }

    .linked-establishments {
        counter-reset: estab-counter;
        li {
            margin-bottom: 0.5em;
            width: 90%;
            position: relative;
            display: list-item;

            &:before {
                content: counter(estab-counter);
                counter-increment: estab-counter;
                position: absolute;
                left: 0;
                top: 4px;
                width: 12px;
                text-align: center;
            }
             *:first-child {
                margin-left: 1em;
                padding-top:4px;
                display: inline-block;
            }
        }
        .form-control {
            margin-left: 1em;
        }
        strong {
            font-weight: bold;
        }
    }

    .summary-list li:before {
        content: counter(estab-counter)".";
    }
}

.date-text-day, 
.date-text-month {
    width: 3em;
}
.date-text-year {
    width: 6em;
}

/// temp overlay showing available establishments
#demo-establishment-list {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    padding: 0.5em;
    background-color: $grey-2;
    border: $black 1px solid;
    
    &.hidden {
    display: none;
    }
}