
.amalgamate {
    .error-message.hidden {
        display: none;
    }

    .linked-establishments {
        counter-reset: estab-counter;
        margin-bottom: 1em;
        li {
            margin-bottom: 0.25em;
            width: 90%;
            position: relative;
            display: list-item;

            &:before {
                content: counter(estab-counter);
                counter-increment: estab-counter;
                position: absolute;
                left: 0;
                top: 4px;
                width: 12px;
                text-align: center;
            }
             *:first-child {
                margin-left: 1em;
                padding-top:4px;
                display: inline-block;
            }
        }
        .form-control {
            margin-left: 1em;
        }
        strong {
            font-weight: bold;
        }
    }

    .summary-list li:before {
        content: counter(estab-counter)".";
    }

    .summary-panel {
        border-bottom: 1px $grey-2 solid;
        margin-bottom: 40px;
        padding-bottom: 12px;
    }
       

    .merger-list {
        margin: 20px 0;
    }
    .field-group {
        margin-top: 12px;
    }

    .special-snowflake-radios {
        margin-bottom:50px;
    }

    .form-label {
        margin-bottom: 2px;
    }

    @include media(tablet) {
        #establishment-0,
        #establishment-1,
        #establishment-2 {
            width: 70%;
        }
        
        #lead-establishment {
            width:66%;    
        }
    }
}

.top-button-panel {
    display: none;
    @include media(mobile) {
    display: block;
    }
    .submit-cancel-panel {
        padding-top: 20px;
    }
}


.date-text-day, 
.date-text-month {
    width: 3em;
}
.date-text-year {
    width: 6em;
}

