// styles for the schools search view


.expanding-search-field {
    border-left: 4px solid $grey-2;
    padding-left: 16px;
    margin-left: 12px;
    margin-bottom: 28px;

    .checkbox-wrap {
        margin-left: 0;
    }
}

.schools-search-page {

    legend {
        float: none;
    }


    .user-selected-la {
        width: 50%;
    }
}


#user-selected-la {
    margin-bottom: 15px;

    .form-group {
        position: relative;
    }
}
.js-enabled .no-js-remove {
    display: none;
}


.la-removal {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: $grey-1 1px solid;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    color: $black !important;
    background: $grey-4;
    outline: none !important;
    text-align: center;
    position: absolute;
    top: 6px;
    left: 47%;
}

.form-hint dd {
    list-style-position: inside;
    list-style-type: disc;
    display: list-item;
}

.remove-suggest-la {
    background-color: $grey-3;       
    color: $black;
    padding: 5px 32px 4px 5px;
    text-decoration: none;
    font-size: 14px;
    margin-right: 3px;
    margin-bottom: 3px;
    float: left;
    position: relative;

    &:hover {
        color: $black;
    }

    &:after {
        content: '';
        position: absolute;
        right: 6px;
        top: 8px;
        width: 10px;
        height: 10px;
        background-image: file-url('icons/suggest-remove.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}


.selected-las {
    position: relative;
    width: 50%;
     @include media(mobile) {
        width: 100%;
    }
      
}


#la-id-target {
    border: $black 1px solid;
    padding: 4px;
    @include clearfix-me(micro);

    &.focused {
        border: 3px solid $focus-colour;
    }
}

.floating-text-field-wrap {
    position: relative;
    float: left;
    width: 100%;
    min-width: 200px;
   

    .twitter-typeahead {
        width: 100%;
    }
    .tt-menu {
        width: 102%;
        left: -6px !important;
    }

    input {
        width: 100%;
        border: 0;
        &:focus {
            outline: 0;
        }
    }
}

.location-search {
    width: 50%;
     @include media(mobile) {
        width: 100%;
    }
}


.scroll-wrapper {
    overflow-y: scroll;
    width: 50%;
    border: $black 2px solid;
    max-height: 200px;

    @include media(mobile) {
        width: 100%;
    }
    label {
        display: block;
        padding: 8px;
        border-bottom: $grey-2 1px solid;
    }
}

.no-js {
    .search-toggle-panel {
        .radio-button-wrap {
            margin-left: 0;
        }
    }

    .selected-las {
        width: 100%;
    }

    #la-id-target {
        border-width: 2px;
        width: 50%;
        float: left;
        margin-right: 12px;
        @include media(mobile) {
            width: 98%;
            margin-bottom: 12px;
        }
    }

    .search-type-wrapper .edubase-button-radio {
        padding-left: 0;
        font-weight: bold;

        &:before,
        &:after {
            border: 0;
            width: 0;
        }
    }

    .expanding-search-field {
        border-left: 0;
        padding-left: 0;
        margin-left: 0;
    }

    #TextSearchModel_Text {
        width: 50%;
         @include media(mobile) {
            width: 100%;
        }
    }
}

.faux-legend {
    margin-bottom: 20px;
}