
.school-details {

    h1.heading-large, .heading-xlarge {
        margin-bottom: 0;
    }

    p.urn {
        font-size: 14px;
        color: $grey-1;
        font-weight: bold;
        margin: 8px 25px 8px 0;


        @include media (tablet) {
            float: left;
        }
    }

    p.establishment-type {
        font-size: 14px;
        color: $grey-1;
        font-weight: bold;
        margin: 8px 0;

        @include media (tablet) {
            float: left;
        }
    }

    .establishment-data-download {
        margin: 4px 0 12px;

        @include media(tablet) {
            overflow: hidden;
            float: right;
            margin-bottom: 24px;

            a {
                font-size: 16px;
            }
        }
    }

    .horizontal-tabs-content .tab-content {
        padding-top: 16px;
    }

    table.estab-links, 
    table.edit-estab-links {

        th {
            font-weight: bold;
        }

        th, td {
            padding: 9px !important;
            text-align: left;
            border: 2px solid $grey-3;
            font-size: 14px;
        }
    }

    table.borderless.estab-links {

        th, td {
            border: none;
        }
    }

    table.borderless.estab-links.add-linked-estab {
        th, td {
            border: none;
            padding: 3px 0px 3px 0px;
        }
    }


    div.mvo table.estab-links {
        th {
            width: 150px;
        }
    }


    td {
        position: relative;
    }

    .tab {
        border-style: solid;
        border-color: black;
        border-width: 0 1px 1px 1px;
        padding: 15px 10px;

        .last {
            border-bottom: 1px solid black;
        }
    }

    .outer {
        @include media(desktop, tablet) {
            border-top: 1px solid black;
            border-right: 1px solid black;
        }

        margin-top: 45px;
    }



    .content-column {
        padding-left: 0 !important;
        margin-left: -1px;

        @include media(desktop, tablet) {
            border-style: solid;
            border-color: black;
            border-width: 0 0 1px 1px;
        }
    }


    .borderless {
        width: 100%;
        clear: left;

        th, td {
            border: none;
            font-size: 14px;
        }

        th {
            padding-left: 0;
        }

        @media(min-width: 640px) {
            width: 60%;
        }
    }

    .borderless.editor {
        th, td {
            padding: 0px 10px 3px 0px;
        }
    }

    .map-container {
        width: 40%;
        float: right;

        .map-toggle {
            display: none;
            float: left;
            margin: 8px 0 8px 0;
            font-size: 16px;
        }

        @media(max-width: 640px) {
            width: 100%;
            float: none;

            .map-toggle {
                display: block;
            }
        }
    }

    .school-detail-map {
        width: 100%;
        height: 320px;
        display: block;

        @media(max-width: 640px) {
            display: none;
        }
    }
}

.expanding-content-trigger {
    display: none;
    font-size: 14px;
    padding-left: 20px;
    position: relative;
    overflow: hidden;


    &:before {
        content: "";
        position: absolute;
        top: 1px;
        left: 2px;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 9px solid #005ea5;
    }

    &.trigger-open:before {
        border-bottom: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 9px solid #005ea5;
        top: 4px;
    }
}

#school-change-history h2 {
    margin-bottom: 8px;
}


.highlighted-ofsted-rating {
    display: inline-block;
    background: $govuk-blue;
    color: #fff;
    padding: 0.1em 0.5em 0;
}

.pending-updates-message {
    background-color: $turquoise;
    font-size: 15px;
    color: white;
    padding: 6px 36px 6px 44px;
    position: relative;
    margin-bottom: 10px;

    .tick {
        position: absolute;
        left: 10px;
        top: 0;
        width: 35px;
        height: 35px;
        background-image: url('/public/assets/images/icons/tick.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .exclaim {
        position: absolute;
        left: 10px;
        top: 4px;
        width: 24px;
        height: 24px;
        background-image: url('/public/assets/images/icons/exclaim.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .cross {
        position: absolute;
        background-image: url('/public/assets/images/icons/white-cross-transparent.png');
        top: 0;
        right: 0;
        width: 31px;
        height: 31px;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;

        &:active {
            border: 0;
            outline: none;
        }

        &:focus {
            background-color: transparent;
        }
    }

    a {
        color: white;
    }

    p {
        margin-bottom: 0.5em;
    }
}

.pending-updates {
    position: relative;
    border: 3px solid $turquoise;
    padding: 6px 6px 6px 36px;

    h3 {
        font-size: 15px;
        font-weight: bold;
        margin-top: 3px;
        margin-bottom: 4px;
    }

    .icon {
        position: absolute;
        left: 6px;
        top: 6px;
        @include pending-update;
        width: 24px;
    }

    div.group {
        margin-bottom: 10px;

        div {
            font-size: 13px;
            font-weight: bold;
            color: $turquoise;
        }
    }
}


.detail-summary {
    clear: both;

    div {
        font-size: 16px;
    }

    dl {
        overflow: hidden;
        margin: 16px 0;
        font-size: 16px;
    }

    dt {
        float: left;
        clear: left;
        width: 36%;
        margin-right: 12px;
        padding: 8px 0;

        @include media(mobile) {
            width: 40%;
        }
    }

    dd {
        float: left;
        padding: 8px 0;
    }
}
