// styles for the schools search view

// 'radio button' that opens the search field
.panel-toggle {
    display: none;
    width: 29px;
    height: 29px;
    vertical-align: middle;
    

    .js-enabled & {
        display: inline-block;
    }
}

.search-type-wrapper {

    label {
        display: block;
        background-color: $grey-3;
        padding: 12px;
        margin-bottom: 12px;
        width: 50%;
        overflow: hidden;

        @media(max-width:640px) {
            min-width: 94%;
        }

        &.selected-search {
            background-color: #fff;
            border: $black 1px solid;
        }
    }

    .label-text {
        display: inline-block;
        max-width: 80%;
        vertical-align: middle;
    }
    .search-hint {
        display: block;
        clear: left;
        padding: 0 0 12px;
        font-weight: bold;
    }

    .expanding-search-field {
        border-left: $grey-2 4px solid;
        padding: 12px 0 24px 8px;
        margin-bottom: 12px;
        clear: left;

        .js-enabled & {
            display: none;
        }

        
        .form-control {
            width: 60%;
            float: left;
            margin-right: 12px;
            line-height: 1.6;

            @media(max-width: 380px) {
                line-height: 1.3;
            }

            &.tt-menu {
                width: 100%;
            }
        }

        .button {
            @media(max-width: 380px) {
                margin-right: 0;
            }
        }
        .button-below {
            display: block;
            margin-top: 12px;
        }

        &.la {
            .link-button { margin-top:5px; }
        }
    }
}


.schools-search-page {

    legend {
        float: none;
    }

    .horizontal-tabs {
        .horizontal-tab {
            font-weight: bold;
            min-height: 45px;
        }
    }


    .twitter-typeahead {
        width: 50%;

        @include media(mobile) {
            width: 100%;
        }

        .form-control {
            width: 100%;
        }
    }

    .tt-menu {
        background-color: white;
        z-index: 99 !important; // accessibility requirement
        .tt-suggestion {
            a {
                display: block;
                padding: $gutter-one-quarter;
                text-decoration: none;
            }

            a strong {
                text-decoration: underline;
            }

            &:hover, a:hover {
                background-color: $link-hover-colour;
                color: white;
                cursor: pointer;
            }
        }

        .tt-cursor {
            background-color: #f9f9f9;
        }
    }
}

.search-all-shortcut {
    clear: both;
    margin: 36px 0 0;
}
