
.school-details {

    h1.heading-large { margin-bottom:0; }

    p.urn {
        font-size:14px;
        color:$grey-1;
        font-weight:bold;
        margin-bottom:24px;
    }

    .horizontal-tabs-content .tab-content { padding-top:16px; }

    table.estab-links, table.edit-estab-links {
        
        th {
            font-weight: bold;
        }

        th, td {
            padding: 9px !important;
            text-align: left;
            border: 2px solid $grey-3;
            font-size: 14px;
        }
    }

    table.borderless.estab-links {
        
        th, td {
            border: none;
        }
    }

    table.borderless.estab-links.add-linked-estab  {
        th, td {
            border: none;
            padding:3px 0px 3px 0px ;
        }
    }
    

    div.mvo table.estab-links {
        th {
            width: 150px;
        }
    }


    td {
        position: relative;

        .pending-update-icon {
            @include pending-update;
            position: absolute;
            left: -16px;
            top: 5px;
            padding: 0;
            height: 19px;
            font-size: 15px;
            width: 19px;
        }
    }





    h1 {
        .pending-update-icon {
            @include pending-update;
            position: relative;
            display: inline-block;
            padding: 3px 0 0 0;
            height: 21px;
            top: -6px;
        }
    }



    .pending-updates-message {
        background-color: $turquoise;
        font-size: 15px;
        color: white;
        padding: 6px 36px 6px 44px;
        position: relative;
        margin-bottom: 10px;

        .tick {
            position: absolute;
            left: 10px;
            top: 0;
            width: 35px;
            height: 35px;
            background-image: url('/public/assets/images/icons/tick.PNG');
            background-repeat: no-repeat;
            background-size: contain;
        }

        .exclaim {
            position: absolute;
            left: 10px;
            top: 4px;
            width: 24px;
            height: 24px;
            background-image: url('/public/assets/images/icons/exclaim.PNG');
            background-repeat: no-repeat;
            background-size: contain;
        }

        .cross {
            position: absolute;
            background-image: url('/public/assets/images/icons/cross.PNG');
            top: 0;
            right: 0;
            width: 31px;
            height: 31px;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            
            &:active {
                border: 0;
                outline: none;
            }
            &:focus {
                background-color: transparent;
            }
        }

        a {
            color: white;
        }
    }

    .pending-updates {
        position: relative;
        border: 3px solid $turquoise;
        padding: 6px 6px 6px 36px;

        h3 {
            font-size: 15px;
            font-weight: bold;
            margin-top: 3px;
            margin-bottom: 4px;
        }

        .icon {
            position: absolute;
            left: 6px;
            top: 6px;
            @include pending-update;
            width: 24px;
        }

        div.group {
            margin-bottom: 10px;

            div {
                font-size: 13px;
                font-weight: bold;
                color: $turquoise;
            }
        }
    }

    .school-details-list li strong {
        font-weight: bold;
    }

    .side-menu {
        @include media(mobile) {
            display: none;
        }
    }

    .selector-menu {
        @include media(desktop, tablet) {
            display: none;
        }
    }

    .selector-menu-options {
        text-align: center;
    }

    .ofsted .column-quarter, .ofsted .column-three-quarters {
        @include media(mobile) {
            display: inline-block;
            vertical-align: top;
        }
    }

    .stats-left .column-quarter {
        @include media(mobile) {
            display: inline-block;
            width: 45%;
        }
    }

    .stats-right .column-quarter {
        @include media(mobile) {
            display: inline-block;
            width: 45%;
        }
    }

    .ofsted-rating {
        margin-top: 35px;
    }

    .main-stats-label {
        margin-bottom: 0;
    }

    .main-stats-value {
        font-weight: bold;
    }

    .summary {
        margin-bottom: 40px;
    }

    .urn {
        font-weight: normal;
    }

    .tab {
        border-style: solid;
        border-color: black;
        border-width: 0 1px 1px 1px;
        padding: 15px 10px;

        .last {
            border-bottom: 1px solid black;
        }
    }

    .outer {
        @include media(desktop, tablet) {
            border-top: 1px solid black;
            border-right: 1px solid black;
        }

        margin-top: 45px;
    }



    .content-column {
        padding-left: 0 !important;
        margin-left: -1px;

        @include media(desktop, tablet) {
            border-style: solid;
            border-color: black;
            border-width: 0 0 1px 1px;
        }
    }

    @include media(desktop, tablet) {
        .stats-icon {
            padding-left: 50px;
        }

        .stats-icon.pupils {
            background: url("/public/assets/images/icon-pupils.png") no-repeat 0 12px / 45px;
        }

        .stats-icon.ages {
            background: url("/public/assets/images/icon-ages.png") no-repeat 0 8px / 45px;
        }

        .stats-icon.gender-mixed {
            background: url("/public/assets/images/icon-gender-mixed.png") no-repeat 0 16px / 45px;
        }

        .stats-icon.denom {
            background: url("/public/assets/images/icon-denom.png") no-repeat 0 12px / 45px;
        }

        .school-address {
            background: url("/public/assets/images/icon-location.png") no-repeat 0 0 / 32px;
            background-position-x: -4px;
            background-position-y: -4px;
        }

        .school-address, .school-local-authority, .school-headteacher {
            padding-left: 30px;
        }
    }

    .borderless {
        width: 100%;
        clear: left;

        th, td {
            border: none;
            font-size: 14px;
        }

        th { 
            padding-left: 0;
        }

        @media(min-width: 640px) {
            width: 60%;
        }
    }

    .borderless.editor {
        th, td {
            padding: 0px 10px 3px 0px;
        }
    }

    .map-container {
        width: 40%;
        float: right;

        .map-toggle {
            display: none;
            float: left;
            margin: 8px 0 8px 0;
            font-size: 16px;
        }

        @media(max-width: 640px) {
            width: 100%;
            float: none;

            .map-toggle {
                display: block;
            }
        }
    }

    .school-detail-map {
        width: 100%;
        height: 320px;
        display: block;

        @media(max-width: 640px) {
            display: none;
        }
    }
}

.expanding-content-trigger {
    display: none;
    font-size: 14px;
    padding-left: 16px;
    position: relative;
    overflow: hidden;
    

    &:before {
        content: "";
        position: absolute;
        top: 4px;
        left: 2px;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 9px solid #005ea5;        
    }

    &.trigger-open:before {
        border-bottom: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 9px solid #005ea5;
        top: 6px;
    }
}

.v-space-300{
    height:300px;
}

.v-space-100{
    height:100px;
}

.mi { // mobile-invisible
    display:none;
    @include media(desktop){
        display:block;
    }
    @include media(tablet){
        display:block;
    }
}

.mvo { // mobile-visible-only
    display:block;
    @include media(desktop){
        display:none;
    }
    @include media(tablet){
        display:none;
    }
}

table.mi { // mobile-invisible
    display:none;
    @include media(desktop){
        display:table;
    }
    @include media(tablet){
        display:table;
    }
}

table.mvo { // mobile-visible-only
    display:table;
    @include media(desktop){
        display:none;
    }
    @include media(tablet){
        display:none;
    }
}


.pending-closure {
    color: $red;
}

#school-change-history h2 {
    margin-bottom: 8px;
}


.highlighted-ofsted-rating {
    display: inline-block;
    background: $govuk-blue;
    color: #fff;
    padding: 0.1em 0.5em 0;
}

