

.search-map {
    width: 100%;
    height: 700px;
    position: relative;
}

.leaflet-google-layer {
    z-index: 1;
}

%icon {
    position: relative;
    &:before {
        position: absolute;
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 30px;
    }
}

.icon-map {
    @extend %icon;
    margin-left: 27px;
    &:before {
        background-image: url("/public/assets/images/icons/icon-map.png");
        left: -27px;
        top: -5px;
    }
}

.icon-list {
    @extend %icon;
    margin-left: 30px;
    &:before {
        background-image: url("/public/assets/images/icons/icon-burger.png");
        left: -30px;
        top: 0;
    }
}

.result-header-section {
    width: 100%;
    position: relative;
    min-height: 48px;

    a:active, a:focus {
        outline: none;
    }
}

.result-type-toggle {
    position: absolute;
    right: 0;
}

.map-radius {
    float: left;
    overflow: hidden;

    .form-label, .form-control {
        display: inline-block;
    }

    .form-control {
        width: 140px;
    }
}

.map-header {
    clear: both;
    &.loading {
        background-image: url('/public/assets/images/icons/icon-loading.gif');
        background-repeat: no-repeat;
        background-position: left -1px;
        background-size: 28px 28px;
        padding-left: 32px;
    }

    p {
        margin-top: 0;
    }
}
.result-count {
    font-weight: bold;
    font-size: 21px;
}


.map-data-warning {
    position: relative;
    background-size: 24px;
    .load-all-map-points {
        position: absolute;
        right: 16px;
        font-weight: normal;
        top: 50%;
        margin-top: -13px;
    }

    .warning-text {
        max-width: 70%;
        font-weight: normal;
        padding-top:4px;
        display: inline-block;
    }
    p {
        padding-left: 46px;
    }
}
//streetview pegman
.gm-svpc {
    z-index: 999 !important;
}
