
.search-page {

    div.local-authority-selector {
        overflow-y: auto;
        overflow-x: hidden;
        height: 200px;
        width: 100%;
        max-width: 400px;
        border: 2px inset $grey-2;
        padding: 5px;

        label {
            background-color: white;
            border-bottom: 1px solid $grey-3;
            width: 99%;
            margin: 0 0px 0 0px;
            font-size: 16px;
            display: block;
            float: none;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 8px 12px 8px 12px;
        }
    }

}

.edubase-search-element {
    display: block;
    margin-bottom: 20px;
    padding: 4px 0;
    width: 100%;
    clear: both;


    .checkbox-wrap {
        margin-left: 0;
    }
    .bold-small {
        display: block;
    }
     &.with-typeahead  {
        overflow: visible;

        .bold-small {
            display: inline-block;
        }

        .tt-menu {
            width: 100%;
            margin-top: 0 !important;
        }        
    }

    @include media(tablet) {
       .form-control {
            width: 50%;
        }
    }

}

.inline-with-button {
    .form-control {
        width: 75%;
        margin-right: 12px;

        @include media(mobile) {
            width: calc(100% - 115px);
        }
    }
    .button-next {
        font-size: 16px;
        margin-right: 0;
    }
    
}

.trust-details {
    margin: 10px 0;

    th {
        white-space: nowrap;
        padding-left: 0;
    }
}

.single-group {
    margin: 40px 0;
}

#searchby-allgroups-ref .search-button {
    margin-top: 12px;
}

.group-search-intro {
    margin-top: 20px;

    .is-mac & {
        margin-top: 3px;
    }
}



.custom-fields-download {
    .form-control.search {
        min-width: 200px;
        width: 40%;
        height: 42px;
    }

    .button-search {
        @include bold-24;
        background-image: file-url("icons/icon-search-2x.png");
        background-repeat: no-repeat;
        background-position: 100% 50%;
        background-size: 30px 22px;
        padding: em(7) em(41) em(4) em(16);
    }

    .button-search.icon-only {
        padding: 0;
        width: 40px;
        height: 40px;
    }

    .switch {
        float:right;
        @include media(mobile){
            float:none;
            padding-top:8px;
        }
    }

    input[type=submit]{
        width: 150px;
    }
}