.search-results {
    li strong {
        font-weight: bold;
    }

    li ul {
        margin: 5px 0 10px 30px;
    }

    a.download-link {

        display:block;
        margin-top:10px;
        margin-right:10px;
        outline: none;
        padding: 3px;
        @include media(desktop){
            margin-right: 0;
            position: absolute;
            right: 15px;
            bottom: 0;
        }
    }
}


.indi-results-header {
    a.download-link {
        top: 0;
    }
}

.results-heading {
    position: relative;
}

.search-results-header {
    border-bottom: $black 3px solid;
    position: relative;

    .top-pagination .pagination {
        border-bottom-width: 1px;
    }

    .form-group {
        width: 90%;

        @include media(tablet) {
            width: 80%;
        }
    }

    .form-label {
        font-size: 14px;
        display: inline-block;
    }

    .form-control {
        width: 160px;
        font-size: 14px;
        display: inline-block;
        margin-top: 12px;

        @include media(tablet) {
            width: 200px;
        }
    }

}

.search-type-toggle {
    display: inline-block;
    margin: 15px 0;
    font-size: 16px;
    text-decoration: none;
}

.school-results-listing {
    margin: 15px 0 15px;

    .top-pagination + & {
        margin-top: 15px;
    }

    li {
        clear: both;
        margin-bottom: 20px;
        border-bottom: 1px solid #bfc1c3;
        position: relative;

        &:last-child {
            border-bottom: 0;
        }

        .additional-closed {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 12px;
            color: $grey-1;

            @media (min-width: 640px) {
                font-size: 14px;
            }
        }
    }

    dl {
        overflow: hidden;
        font-size: 12px;
        line-height: 1.6;
        margin-bottom: 15px;

        @media (min-width: 640px) {
            font-size: 14px;
        }
    }

    dt, dd {
        float: left;
    }

    dt {
        clear: left;
        padding-right: 0.5em;

        &.inline-details {
            clear: none;
            margin-left: 12px;
        }
    }

    .trust-details {
        float: none;

        @include media(mobile) {
            width: 100%;
        }
    }
}

.pagination {
    overflow: hidden;
    position: relative;
    font-size: 16px;
    clear: both;
    min-height: 48px;

    .top-pagination & {
        border-bottom: $black 3px solid;
    }
    .lower-pagination & {
        border-top: $black 3px solid;

        p {
            margin-top: em(20, 16);
        }

        .pagination-links {
            top: em(20, 16);
        }
    }

    p {
        float: left;
        margin-top: 0;
    }

    .pagination-links {
        clear: left;
        margin: 0.2631578947em 0 0;
        padding: 0;
        overflow: hidden;

        @media (min-width: 640px) {
            position: absolute;
            right: 0;
            margin-bottom: 0;
        }

        @media(max-width: 940px) {
            .numeric-pagination {
                display: none;
            }

        }

        @media (max-width: 740px) {
            .pagination-prev {
                margin-right: 12px;
            }
        }
        .tablet-pagination,
        .go-nowhere {
            display: block;
            @media (max-width: 740px) {
                display: none;
            }
        }
    }
    li {
        float: left;
        display:block;
        text-align: center;
    }

    a, .go-nowhere {
        display: block;
        min-width: 28px;
        margin-bottom: 12px;

        &:focus {
            outline: none;
        }
    }

}

.map-header {
    border: 0;
    overflow: hidden;
}

div.approval-data {
    dl {
        font-size: 15px;
    }
}

table.approval-items {
    display: table;
    font-size: 14px;

    th {
        font-weight: bold;
        text-align: left;
    }

    td, th {
        font-size: 13px;
        padding: 5px 3px 5px 3px;
        border-bottom: 2px solid #eee;
        width: 12.5%;

        dl {
            margin-bottom: 20px;
            overflow: hidden;
            font-size: 13px;

            dt, dd {
                float: left;
            }

            dt {
                clear: left;
                margin-right: 12px;
                font-weight: bold;
            }
        }
    }


    td.bb {
        -ms-word-break: break-all;
        word-break: break-all;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }

    @include media(mobile) {
        border-bottom: 1px solid #eee;

        thead {
            display: none;
        }

        tr {
            border-top: 3px solid #eee;
        }

        td {
            clear: left;
            display: block;
            float: left;
            width: 100%;
            font-size: 14px;
            padding: 0.5em 0;
            border-bottom: 1px solid #eee;

            &:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                padding-right: 0.5em
            }

            &:last-child {
                border: 0;
            }
        }
    }
}

.link-button {
    padding:0;
    background-color:transparent;
    color:$link-colour;
    border:none;
    cursor:pointer;
    text-decoration:underline;
}

.clear-selections {
    display: none;
    position: absolute;
    top: 28px;
    left: 90px;
    z-index: 100;
    font-size: 14px;

    @include media(tablet) {
        top: 36px;
    }

    &.active-clear {
        display: inline-block;
    }

    &.clear-disabled {
        color: $grey-1;
        text-decoration: none;
    }

    .age-filter & ,
    .date-filters & {
        left: 94px;
    }
}

.filter-form .edubase-filter-submit {
    font-size:19px;

    .js-enabled & {
        display: none;
    }
}

.add-clear-filters {
    font-size: 14px;
    display: block;
    float: left;
}

.save-filter-set-link {
    margin-bottom: 2em;
    float: right;
    font-size: 14px;
}
#filter-additional-controls {
    display: none;

    .js-enabled & {
        display: block;

    }

    &.hidden {
        display: none;
    }
}


.edubase-filter-submit {
    margin-top: 12px;
}


#la-list {
    word-wrap: break-word;
}

.governors-results {
    padding-left: 15px;
}

.error-summary-list {
    .hidden {
        display: none;
    }
}

.pending-results-update {
    @include opacity(0.6);
}

.is-mac .sortby-selector {
    margin-top: 20px;
}
