.search-results {
    li strong {
        font-weight: bold;
    }

    li ul {
        margin: 5px 0 10px 30px;
    }

    a.download-link {
        float:none; 
        display:block; 
        margin-top:10px;
        margin-right:10px;
        outline: none;
        padding: 3px;
        @include media(desktop){
            float:right;
        }
    }
}

.result-info {
    border-bottom: 1px solid #bfc1c3;
    p {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 8px;
    }
}

.school-results-listing {
    margin: 35px 0 15px;

   .top-pagination + &  {
        margin-top: 15px;
    }

    li {
        clear: both;
        margin-bottom: 20px;
        border-bottom: 1px solid #bfc1c3;

        &:last-child {
            border-bottom:0; 
        }
    }
    dl {
        overflow: hidden;
        font-size: 12px;
        line-height: 1.6;
        margin-bottom: 15px;
        @media (min-width: 640px) {
            font-size: 14px;
        }
    }
    dt, dd {
        float: left;
    }
    dt {
        clear: left;
        padding-right: 0.5em;

        &.inline-details {
            clear: none;
            margin-left: 12px;
        }
    }
    .trust-details {
        float: none;

        @include media(mobile) {
            width: 100%;
        }
    }

}

.school-results-listing.establishment-list {
    
    dl {
        margin-bottom: 0px;
    }
    
    .cc-lead-centre { 
        margin-top:0;
        label {  
            font-size:14px;
        }
    }
}

.pagination {
    overflow: hidden;
    position: relative;
    font-size: 16px;
    clear: both;

    .top-pagination & {
        border-bottom: $black 1px solid;
    }
    .lower-pagination & {
        border-top: $black 1px solid;
        
        p {
            margin-top: em(20, 16);
        }

        .pagination-links {
            top: em(20, 16);
        }
    }

    p {
        float: left;
    }

    .pagination-links {
        clear: left;
        margin: 0.2631578947em 0 0;
        padding: 0;
        overflow: hidden;

        @media (min-width: 640px) {
            position: absolute;
            right: 0;
            margin-bottom: 0;
        }

        @media(max-width: 940px) {
            .numeric-pagination {
                display: none;
            }
            
        }

        @media (max-width: 740px) {
            .pagination-prev {
                margin-right: 12px;
            }
        }
        .tablet-pagination,
        .go-nowhere {
            display: block;
            @media (max-width: 740px) {
                display: none;
            }
        }
    }
    li {
        float: left;
        display:block;
        text-align: center;
    }

    a, .go-nowhere {
        display: block;
        min-width: 28px;
        margin-bottom: 12px;

        &:focus {
            outline: none;
        }
    }

}

div.approval-data
{
    dl{
        font-size:15px;
    }
}

table.approval-items {
    display: table;
    font-size: 14px;

    th {
        font-weight: bold;
        text-align: left;
    }

    td, th {
        font-size: 13px;
        padding: 5px 3px 5px 3px;
        border-bottom: 2px solid #eee;
        width: 12.5%;

        dl {
            margin-bottom: 20px;
            overflow: hidden;
            font-size: 13px;

            dt, dd {
                float: left;
            }

            dt {
                clear: left;
                margin-right: 12px;
                font-weight: bold;
            }
        }
    }


    td.bb {
        -ms-word-break: break-all;
        word-break: break-all;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }

    @include media(mobile) {
        border-bottom: 1px solid #eee;

        thead {
            display: none;
        }

        tr {
            border-top: 3px solid #eee;
        }

        td {
            clear: left;
            display: block;
            float: left;
            width: 100%;
            font-size: 14px;
            padding: 0.5em 0;
            border-bottom: 1px solid #eee;

            &:before {
                content: attr(aria-label);
                float: left;
                font-weight: bold;
                padding-right: 0.5em
            }

            &:last-child {
                border: 0;
            }
        }
    }
}

ul.approval-items{
    display:none;

    dl {
        border-bottom-width: 2px;
        font-size: 14px;
    }
    dt {
        font-weight: bold;
    }
    @include media(mobile){
        display:block;
    }
}

.link-button {
    padding:0;
    background-color:transparent;
    color:$link-colour;
    border:none;
    cursor:pointer;
    text-decoration:underline;
}



.pending-updates-message {
        background-color:$turquoise;
        font-size:15px;
        color:white;
        padding: 12px 36px 12px 44px;
        position:relative;
        margin-bottom:10px;
        
        p {
            margin: 0;
        }

        .tick {
            position:absolute;
            left:0;
            top:5px;
            width:35px;
            height:35px;
            background-image: url('/public/assets/images/icons/tick.png');
            background-repeat:no-repeat;
            background-size:contain;
        }
        .cross {
            position:absolute;
            background-image: url('/public/assets/images/icons/white-cross-transparent.png');
            top:10px;
            right:8px;
            width:20px;
            height:20px;
            background-repeat:no-repeat;
            background-size:contain;
            cursor:pointer;
        }

        a { color:white; }
    }

.dismissable-warning {
    background-color: $red;

    .exclaim {
        background-image: url('/public/assets/images/icons/exclaim-transparent.PNG');
        width: 35px;
        height: 35px;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;

         @include device-pixel-ratio() {
            background-image: url('/public/assets/images/icons/exclaim-transparentx2.PNG');
            background-size: 100%;
          }
    }
}

.clear-selections {
    display: none;
    position: absolute;
    right: 30px;
    top: 9px;
    z-index: 98;
    font-size: 14px;

    &.active-clear {
        display: block;
    }
}

.filter-form .edubase-filter-submit {
    font-size:19px;

}

.add-filters-link {
    display: none;
    .js-enabled & {
        display: block;
        margin-bottom: 2em
    }

    &.hidden {
        display: none;
    }
}


.edubase-filter-submit {
    margin-top: 12px;
}


#la-list {
    word-wrap: break-word;
}