<?xml version="1.0" encoding="utf-8"?>
<!-- master -->
<log4net>
  <appender name="AzureTraceAppender" type="Web.UI.Tracing.AzureTraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message" />
    </layout>
  </appender>

  <appender name="ErrorSmtpAppender" type="log4net.Appender.SmtpAppender">
    <to value="akin.soluade@contentsupport.co.uk,michael.richardson@contentsupport.co.uk,marcel.dupreez@contentsupport.co.uk,kris.dyson@contentsupport.co.uk" />
    <from value="spt-website-errors@spt.education.gov.uk" />
    <subject value="SPT Website BETA - Error" />
    <smtpHost value="smtp.sendgrid.net" />
    <port value="587" />
    <authentication value="Basic" />
    <username value="azure_b375c59491908d18bd1ce621619512db@azure.com" />
    <password value="iGBg1wIaazd99U3" />
    <bufferSize value="1" />
    <lossy value="true" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR"/>
    </evaluator>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="(Environment: BETA)%newline%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="AzureTraceAppender" />
    <appender-ref ref="ErrorSmtpAppender" />
  </root>
</log4net>