<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=edubasedev;AccountKey=ykjpWnaaLqqRDtCkJ/7dWYQt4Fodnj+an59owlU8mG1trDNhDLz+ivwDAFhKxmzOvsk/RqGbq7UejTYpp6cbMg==;" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=edubasedev;AccountKey=ykjpWnaaLqqRDtCkJ/7dWYQt4Fodnj+an59owlU8mG1trDNhDLz+ivwDAFhKxmzOvsk/RqGbq7UejTYpp6cbMg==;" />
    <add name="EdubaseSqlDb" connectionString="Server=(localdb)\ProjectsV12;Database=DfE_Edubase;Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="DataConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=edubasedev;AccountKey=ykjpWnaaLqqRDtCkJ/7dWYQt4Fodnj+an59owlU8mG1trDNhDLz+ivwDAFhKxmzOvsk/RqGbq7UejTYpp6cbMg==;" />
  </connectionStrings>
  <appSettings>
    <add key="ErrorReportingEmailAddress" value="kris.dyson@contentsupport.co.uk" />
    <add key="Environment" value="localdev" />
    <add key="EnableErrorReporting" value="true" />
    <add key="EnableFriendlyErrorPage" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="SessionExpireTimeSpan" value="00:59:00" />
    <add key="DataOwnerEmailAddress" value="kris.dyson@contentsupport.co.uk" />
    <add key="CompaniesHouseApiKey" value="N-LW5QMy11Ck06_Rk6YOMrsfEksPZobpMdmUbl9v" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>