
@{
    ViewBag.Title = "Manage academy openings";
    ViewBag.bodyClasses = "manage-academy-openings";
}

<div class="breadcrumbs">
    <ol>
        <li>
            @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
        </li>
        <li>
            @Html.ActionLink("Tools", "Index", "Tools", new { area = "" }, null)
        </li>
    </ol>
</div>

<div id="academy-opening-app" v-cloak>

    <!-- Error summary -->
    <div v-show="Object.keys(apiError).length === 0">
        <div v-if="recordUpdateErrors.errors || searchError || updateNameError || openDateError" class="error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
            <h2 id="error-summary-title" class="heading-medium error-summary-heading">Incorrect or missing details</h2>
            <ul class="error-summary-list">
                <li class="error-message" v-for="(item, index) in recordUpdateErrors.errors">
                    {{item.message}}
                </li>
                <li v-if="searchError">
                    <a href="#academy-search-field">Please enter a valid <abbr title="Unique Reference Number">URN</abbr></a>
                </li>
                <li v-if="updateNameError">
                    <a href="#est-name">Please enter the establishment name</a>
                </li>
                <li v-if="openDateError">
                    <a href="#opening-date">Please enter the establishment opening date</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Error message -->
    <div v-show="Object.keys(apiError).length>0">
        <h1 class="heading-xlarge">Sorry, something went wrong</h1>
        <p>Please try again later.</p>
        <p>A report of the error has been sent to our technical team.</p>

        <p class="api-error-code" v-show="apiError.hasOwnProperty('errorCode')">Error code: {{apiError.errorCode}}</p>
        <div v-show="apiError.hasOwnProperty('technicalDetails')">
            <code>
                {{apiError.technicalDetails}}
            </code>
        </div>
    </div>

    <!-- Show when no API errors -->
    <div v-show="Object.keys(apiError).length === 0">
        <!-- When not editing record -->
        <div class="grid-row" v-show="!editRecord">
            <!-- Error message -->
            <div class="column-full">
                <div v-show="loadDataError" class="error-summary">
                    <h2 class="error-summary-heading heading-medium">Something went wrong</h2>
                    <p class="error-message">Please reload the page to try again.</p>
                </div>
                <h1 class="heading-xlarge">Manage academy openings</h1>
                <div aria-live="polite" class="wait-spinner" v-show="isProcessing">
                    <p class="visually-hidden">Please wait</p>
                </div>
            </div>

            <div class="column-full" v-show="!isProcessing">
                <div class="horizontal-tabs-wrapper">
                    <!-- Tabs -->
                    <div class="tab-wrap">
                        <ul class="horizontal-tabs">
                            <li><a href="#calendar" class="horizontal-tab">Opening calendar</a></li>
                            <li><a href="#academy-search" class="horizontal-tab">Academy search</a></li>
                        </ul>
                    </div>

                    <!-- Tabs content -->
                    <div class="tab-content-wrapper horizontal-tabs-content" v-cloak>
                        <!-- Opening calendar -->
                        <div id="calendar" class="tab-content">

                            <div class="form-group month-selector">
                                <label class="form-label" for="opening-date-filter">
                                    Opening date
                                </label>
                                <select class="form-control" v-model="selectedDate" v-on:change="buildDatePages" id="opening-date-filter"></select>
                            </div>

                            <div class="top-pagination">
                                <nav role="navigation" aria-label="Pagination" class="pagination">
                                    <p class="pagination-info">
                                        Showing
                                        <span class="pagination-range">
                                            {{ paginationDescription }}
                                        </span>
                                        of {{currentCount}}
                                    </p>
                                    <ul class="pagination-links">
                                        <li v-if="currentPage > 0"><a href="#" class="pagination-prev" v-on:click.prevent="setCurrentPage(currentPage -1)" aria-label="Previous page">Previous</a></li>
                                        <li v-if="pages.length > 1" v-for="(page, index) in pages.slice(slicePage, slicePage + 5)">
                                            <a v-show="(index + slicePage) < currentPage" href="#" class="numeric-pagination" v-on:click.prevent="setCurrentPage(index + slicePage)" :aria-label="'Page ' + (index + slicePage + 1)">{{ index + slicePage + 1 }}</a>
                                            <span v-show="(index + slicePage) === currentPage" class="numeric-pagination go-nowhere" aria-current="true" :aria-label="'Page ' + (index + slicePage + 1) + ', current page'">{{ index + slicePage + 1 }}</span>
                                            <a v-show="(index + slicePage) > currentPage" href="#" class="numeric-pagination" v-on:click.prevent="setCurrentPage(index + slicePage)" :aria-label="'Page ' + (index + slicePage + 1)">{{ index + slicePage + 1 }}</a>
                                        </li>
                                        <li v-if="currentPage < pages.length -1"><a href="javascript:" class="pagination-next" v-on:click.prevent="setCurrentPage(currentPage +1)" aria-label="Next page">Next</a></li>
                                        <li v-if="pages.length > 1"><a href="javascript:" class="pagination-next" style="margin-left:5px;" v-on:click.prevent="showAll()" aria-label="Show all pages">Show all</a></li>
                                    </ul>
                                </nav>
                            </div>


                            <table class="academy-openings sortable-table" id="openings-table">
                                <caption class="visuallyhidden">Academy openings</caption>
                                <thead>
                                    <tr>
                                        <th v-for="(value, key) in tableColumns" :class="'cell-' + key.toLowerCase()">
                                            <a
                                                href="#"
                                                v-on:click.prevent="sortOpenings(key)"
                                                v-bind:class="[ sortKey===key && sortAscending ? 'selected-sort sorted-asc' : '', sortKey===key && !sortAscending ? 'selected-sort sorted-desc' : '']"
                                                :aria-label="[ sortKey===key && sortAscending ? value + ' is sorted in an ascending order. Click to change order. All other columns are sortable.' : '', sortKey===key && !sortAscending ? value + ' is sorted in a descending order. Click to change order. All other columns are sortable.' : '', sortKey===key ? '' : value + '. Click to sort data by this column.' ]"
                                            >{{ value }}</a>
                                        </th>
                                        <th scope="col" class="cell-edit"><span class="visuallyhidden">Action links</span></th>
                                    </tr>
                                </thead>
                                <tbody v-if="pages.length > 0">
                                    <tr v-for="(entry, index) in page">
                                        <td data-label="Opening date" class="cell-openingdate"> {{entry.displayDate}} </td>
                                        <td data-label="URN"><a v-bind:href="detailUrl(entry.urn)">{{entry.urn}}</a></td>
                                        <td data-label="Establishment name">{{entry.name}}</td>
                                        <td data-label="Establishment type">{{entry.establishmentType}}</td>
                                        <td data-label="Predecessor URN"><a v-bind:href="detailUrl(entry.predecessorUrn)"  v-if="entry.predecessorUrn">{{entry.predecessorUrn}}</a></td>
                                        <td data-label="Predecessor name">{{entry.predecessorName}}</td>
                                        <td class="cell-edit"><a href="#" v-on:click.prevent="editEstab(entry.urn)" aria-label="Edit opening details">Edit</a></td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td colspan="7">
                                            <p> [ NO RESULTS MESSAGE ] </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="lower-pagination push--bottom">
                                <nav role="navigation" aria-label="Pagination" class="pagination">
                                    <p class="pagination-info">
                                        Showing
                                        <span class="pagination-range">
                                            {{ paginationDescription }}
                                        </span>
                                        of {{currentCount}}
                                    </p>
                                    <ul class="pagination-links">
                                        <li v-if="currentPage > 0"><a href="#" class="pagination-prev" v-on:click.prevent="setCurrentPage(currentPage -1)" aria-label="Previous page">Previous</a></li>
                                        <li v-if="pages.length > 1" v-for="(page, index) in pages.slice(slicePage, slicePage + 5)">
                                            <a v-show="(index + slicePage) < currentPage" href="#" class="numeric-pagination" v-on:click.prevent="setCurrentPage(index + slicePage)" :aria-label="'Page ' + (index + slicePage + 1)">{{ index + slicePage + 1 }}</a>
                                            <span v-show="(index + slicePage) === currentPage" class="numeric-pagination go-nowhere" aria-current="true" :aria-label="'Page ' + (index + slicePage + 1) + ', current page'">{{ index + slicePage + 1 }}</span>
                                            <a v-show="(index + slicePage) > currentPage" href="#" class="numeric-pagination" v-on:click.prevent="setCurrentPage(index + slicePage)" :aria-label="'Page ' + (index + slicePage + 1)">{{ index + slicePage + 1 }}</a>
                                        </li>
                                        <li v-if="currentPage < pages.length -1"><a href="javascript:" class="pagination-next" v-on:click.prevent="setCurrentPage(currentPage +1)" aria-label="Next page">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <a class="back-to-top-link" href="#full-content">
                                <svg role="presentation" focusable="false" class="back-to-top-icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                                    <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                                </svg>
                                Back to top
                            </a>

                        </div>

                        <!-- Academy search -->
                        <div id="academy-search" class="tab-content">
                            <!-- search app -->
                            <div id="academy-search-app">
                                <form>
                                    <div v-bind:class="['form-group', searchError? 'error' : '']">
                                        <label class="form-label" for="academy-search-field">
                                            Enter establishment <abbr title="Unique Reference Number">URN</abbr>
                                        </label>
                                        <span class="error-message" v-show="searchError">Please enter a valid <abbr title="Unique Reference Number">URN</abbr></span>
                                        <input type="text" class="form-control  desktop-inline" id="academy-search-field" v-model.trim="searchUrn" />

                                        <input type="submit" class="button inline-submit" value="Search for establishment" v-on:click.prevent="validateUrn" />
                                    </div>

                                </form>

                                <!-- Search results -->
                                <div v-show="presentDetail" v-if="od.urn" class="openings-single-result">
                                    <h2 class="heading-small">Establishment found</h2>
                                    <div class="urn-result">
                                        <h4 class="heading-small">Opening date: {{od.displayDate }}</h4>
                                        <dl>
                                            <dt><abbr title="Unique Reference Number">URN</abbr>:</dt>
                                            <dd><a v-bind:href="detailUrl(od.urn )">{{ od.urn }}</a></dd>
                                            <dt>Establishment name:</dt>
                                            <dd>{{updateName}}</dd>
                                            <dt>Establishment type:</dt>
                                            <dd>{{ od.establishmentType }}</dd>
                                            <dt>Predecessor <abbr title="Unique Reference Number">URN</abbr>:</dt>
                                            <dd><a v-bind:href="detailUrl(od.predecessorUrn )" v-if="od.predecessorUrn">{{ od.predecessorUrn }}</a></dd>
                                            <dt>Predecessor name:</dt>
                                            <dd>{{ od.predecessorName }}</dd>
                                        </dl>
                                        <a href="#" class="button" v-on:click.prevent="editEstab(od.urn)">Edit opening detail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Record editing -->
        <div class="grid-row" v-show="editRecord" v-cloak>
            <div class="column-full">
                <h1 class="heading-large">Edit opening detail</h1>
            </div>
            <div class="column-half">
                <div class="form-group">
                    <label class="form-label" for="est-urn">Unique Reference Number (URN)</label>
                    <input class="form-control" type="text" :value="od.urn" disabled="disabled" id="est-urn" />
                </div>

                <div v-bind:class="['form-group',  updateNameError ? 'error' : '' ]">
                    <label class="form-label" for="est-name">Establishment name </label>
                    <span class="error-message" v-if="updateNameError">Please enter the establishment name</span>
                    <input class="form-control" type="text" v-model="updateName" v-on:change="attachUnload" id="est-name" />
                </div>

                <div class="form-group">
                    <label class="form-label" for="est-type">Establishment type</label>
                    <input class="form-control" type="text" :value="od.establishmentType" disabled="disabled" id="est-type" />
                </div>

                <div v-bind:class="['form-group range-group', openDateError ? 'error' : '' ]">
                    <fieldset id="opening-date">
                        <span v-bind:class="['error-message']" v-if="openDateError">Please enter the establishment opening date</span>
                        <legend>Opening date</legend>
                        <div class="form-hint">For example, 20 03 2003</div>

                        <span class="inline-form-control">
                            <label for="opendate-day">Day</label>
                            <input class="form-control date-text-day" id="opendate-day" name="OpenDate.Day" type="text" v-model="updateDateDay" v-on:change="attachUnload">

                        </span>
                        <span class="inline-form-control">
                            <label for="opendate-month">Month</label>
                            <input class="form-control date-text-month" id="opendate-month" name="OpenDate.Month" type="text" v-model="updateDateMonth" v-on:change="attachUnload">

                        </span>
                        <span class="inline-form-contol">
                            <label for="opendate-year">Year</label>
                            <input class="form-control date-text-year" id="opendate-year" name="OpenDate.Year" type="text" v-model="updateDateYear" v-on:change="attachUnload">
                        </span>
                    </fieldset>
                </div>

                <div class="form-group">
                    <label class="form-label" for="est-pred-urn">Predecessor <abbr title="Unique Reference Number">URN</abbr></label>
                    <input type="text" class="form-control" disabled="disabled" :value="od.predecessorUrn" id="est-pred-urn" />
                </div>

                <div class="form-group">
                    <label class="form-label" for="est-pred-name">Predecessor name</label>
                    <input type="text" class="form-control" disabled="disabled" :value="od.predecessorName" id="est-pred-name" />
                </div>

                <div class="button-row push--top">
                    <input type="submit" class="button opening-save" value="Save" v-on:click.prevent="updateRecord" />
                    <a href="#" class="button button-secondary" v-on:click="cancelEditClick">Cancel</a>
                </div>
            </div>
        </div>

        <div id="modal-overlay" class="modal-overlay" v-show="presentExitWarning"></div>
        <div id="modal-content" class="modal-content" role="dialog" aria-labelledby="modal-label" aria-describedby="modal-desc" v-show="presentExitWarning">
            <a href="#" id="exit-overlay" class="modal-exit" v-on:click.prevent="presentExitWarning = false, anchorTarget=''">Close</a>
            <div id="modal-inner">
                <h3 class="heading-large" id="modal-label" tabindex="0">Are you sure you want to leave this page?</h3>
                <p id="modal-desc" tabindex="0">Any unsaved changes will be lost.</p>
            </div>
            <div class="button-row">
                <a href="#" class="button mobile-full-width" id="button-ok" v-on:click.prevent="exitWarningOkClick">OK</a>
                <a href="#" class="button button-secondary mobile-full-width" id="button-cancel" v-on:click.prevent="presentExitWarning = false, anchorTarget=''">Cancel</a>
            </div>
        </div>
    </div>
</div>

@section ViewScripts {
    <script src="/public/assets/scripts/standalone/manage-academy-openings.js"></script>
    @*<script src="/Assets/Scripts/standalone/manage-academy-openings.js"></script>*@
}
