@using Edubase.Web.UI.Areas.Establishments.Models
@using CreateSteps = Edubase.Web.UI.Areas.Establishments.Models.CreateEstablishmentViewModel.eEstabCreateSteps;
@model CreateChildrensCentreViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @if (Model.CurrentStep == CreateSteps.NameEntry)
        {
            @Html.ActionLink(
                "Back",
                "Index",
                "Tools",
                new { area = "" },
                new {
                    id = "edit-back-button",
                    @class = "govuk-back-link gias-back-link--button cancel",
                    data_module = "govuk-button"
                })
        }
        else
        {
            <button type="submit"
                    id="edit-back-button"
                    class="govuk-back-link gias-back-link--button cancel"
                    name="@nameof(Model.ActionStep)"
                    value="@Model.PreviousStep">
                Back
            </button>
        }
    </div>
</div>
