@{
    Layout = "../dfe/layouts/template.cshtml";
    ViewBag.Title = "Get information about schools";
    ViewBag.pageDescription = "";
    ViewBag.pageClass = "error-page";
}

<div class="grid-row">
    <div class="column-full">
        <div class="breadcrumbs">
            <ul>
                <li>
                    @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
                </li>
            </ul>

        </div>
        @if (ViewBag.ExTypeName == "UsageQuotaExceededException")
        {
            <h1 class="heading-xlarge">Usage quota exceeded</h1>
        }
        else
        {
            <h1 class="heading-xlarge">Sorry, something went wrong</h1>
        }

    </div>
    <div class="column-two-thirds">
        @FormatHelpers.HtmlizeNewLines(ViewBag.PublicErrorMessage)
    </div>
</div>