@{
    Layout = "../dfe/layouts/template.cshtml";
    ViewBag.Title = "Edubase";
    ViewBag.pageDescription = "";
    ViewBag.pageClass = "error-page";
    ViewBag.suppressHomeLink = true;
}

<h1 class="text-danger bold-large">Error</h1><br />
<h2 class="text-danger">@FormatHelpers.HtmlizeNewLines(ViewBag.PublicErrorMessage)</h2>
