@using Edubase.Web.UI.Helpers
@{
    Layout = "../dfe/layouts/template.cshtml";
    ViewBag.Title = "Get Information about Schools";
    ViewBag.pageDescription = "";
    ViewBag.pageClass = "error-page";
}
@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @if (ViewBag.ExTypeName == "UsageQuotaExceededException")
        {
            <h1 class="govuk-heading-xl">Usage quota exceeded</h1>
        }
        else
        {
            <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
        }

    </div>
    <div class="govuk-grid-column-two-thirds">
        <p>@FormatHelpers.HtmlizeNewLines(ViewBag.PublicErrorMessage)</p>
    </div>
</div>
