@{
    Layout = "../dfe/layouts/template.cshtml";
    ViewBag.Title = "Edubase";
    ViewBag.pageDescription = "";
    ViewBag.pageClass = "error-page";
    ViewBag.suppressHomeLink = true;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">@ViewBag.PublicErrorMessage</h2>
