@model Exception
@{
    var isPartialView = ((bool?)ViewBag.IsPartialView).GetValueOrDefault();
    Layout = isPartialView ? null as string : "../dfe/layouts/template.cshtml";
    ViewBag.Title = "Get Information about Schools";
    ViewBag.pageDescription = "";
    ViewBag.pageClass = "error-page view-logs";
}
@section BreadCrumbs
{
    @if (!isPartialView)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-breadcrumbs">
                    <ol class="govuk-breadcrumbs__list">
                        <li class="govuk-breadcrumbs__list-item">
                            @Html.ActionLink("Home", "Index", "Home", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    }
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
    </div>
    <div class="govuk-grid-column-full">
        <p>Try again later.</p>
        @if (ViewBag.ErrorCode != null)
        {
            <p style="color:#ddd;">Error code: @ViewBag.ErrorCode</p>
        }
        <hr />
        <h1 class="govuk-heading-m">Details</h1>
        <table>
            <tr>
                <td class="govuk-!-font-weight-bold" style="width:100px;">Message</td>
                <td>@ViewBag.Message</td>
            </tr>
            <tr>
                <td class="govuk-!-font-weight-bold">Stack trace</td>
            </tr>
            <tr>
                <td colspan="2" class="plain">@FormatHelpers.HtmlizeNewLines(ViewBag.Exception.ToString())</td>
            </tr>
        </table>
    </div>
</div>
