.app-cookie-banner {
  background-color: #fff !important;
  color: #00703c;
  padding: 10px 0;
  display: none;

  .no-js & {
    display: block;
  }

  .govuk-button {
    margin: govuk-spacing(2) govuk-spacing(2) govuk-spacing(1) 0;
    display: block;
    padding: 5px 10px;
    border: 2px solid govuk-colour('green');
    background-color: #fff;
    color: govuk-colour('green');
    box-shadow: none;
    line-height: 1;
  }

  p {
    color: govuk-colour('green');
    font-size: 16px;
    margin-bottom: govuk-spacing(2);
  }
}
