@{
    ViewBag.Title = "Review and approve changes";
    ViewBag.bodyClasses = "change-approvals";
}



<div id="change-approvals" v-cloak>
<div v-show="Object.keys(apiBork).length> 0">
    <h1 class="heading-xlarge">Sorry, something went wrong</h1>
    <p>Please try again later.</p>
    <p>A report of the error has been sent to our technical team.</p>

    <p class="api-error-code" v-show="apiBork.hasOwnProperty('errorCode')">Error code: {{apiBork.errorCode}}</p>
    <div v-show="apiBork.hasOwnProperty('technicalDetails')">
        <code>
            {{apiBork.technicalDetails}}
        </code>
    </div>
</div>
    <div v-show="Object.keys(apiBork).length === 0">
        <div class="breadcrumbs">
            <ul>
                <li>
                    @Html.ActionLink("Home", "Index", "Search", new {area = ""}, null)
                </li>
                <li>
                    @Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, null)
                </li>
            </ul>
        </div>
        <div class="grid-row">
            <div class="column-full">
                <div class="wait-spinner" v-show="isProcessing" data-live="polite">
                    <p class="visually-hidden">Please wait</p>
                </div>
                <h1 class="heading-xlarge" v-show="!isProcessing">Items for approval</h1>
                <div class="pending-updates-message dismissable-message" v-show="itemsConfirmedRemoved">
                    <div class="tick"></div>
                    <p>Items approved. The editor has been notified by email.</p>
                    <a class="cross" href="#" v-on:click="itemsConfirmedRemoved = false"><span class="visually-hidden">Dismiss notification</span></a>
                </div>

                <div class="pending-updates-message dismissable-message" v-show="itemsConfirmedRejected">
                    <div class="tick"></div>
                    <p>Items rejected. The editor has been notified by email.</p>
                    <a class="cross" href="#" v-on:click="itemsConfirmedRejected = false"><span class="visually-hidden">Dismiss notification</span></a>
                </div>
                <p v-show="!isProcessing">
                    You have <span class="heading-xlarge count">{{currentCount}}</span> items that require your approval.
                </p>

                <div class="approve-reject" v-show="!isProcessing">
                    <form>
                        <div class="error-summary" v-show="approvalError || noneSelectedError || apiError.length > 0">
                            <p class="error-message" v-show="approvalError">Please select some changes to approve</p>
                            <p class="error-message" v-show="noneSelectedError">Please select some changes to reject</p>
                            <p class="error-message" v-show="apiError.length > 0" v-html="apiError"></p>
                        </div>
                        <div class="submit-cancel-panel approve-reject" v-show="!pendingRejection">
                            <button type="submit" name="action" value="" class="button" v-on:click.prevent="approveSelection" :disabled="noItemsSelected">Approve</button>
                            <button type="submit" name="action" value="" class="button" :disabled="noItemsSelected"
                                    v-on:click.prevent="pendingRejection = true, approvalError = false, itemsConfirmedRejected = false,itemsConfirmedRemoved = false, reason=''">Reject</button>
                        </div>

                        <div v-show="pendingRejection">
                            <div v-bind:class="['form-group', (invalidReason || reasonLength) ? 'error' : '']">
                                <label for="reason">Reason for rejecting updates</label>
                                <span class="error-message" v-show="invalidReason">Please enter a reason for the rejection.</span>
                                <span class="error-message" v-show="reasonLength">Please enter a reason less than 1024 characters</span>
                                <textarea id="reason" rows="7" class="form-control-3-4" v-model="reason"></textarea>
                                <div class="approvals-canned">
                                    <a href="#" v-on:click.prevent="showRejections=true" class="plus-link">Add a preset reason</a>
                                </div>
                            </div>
                            <div class="button-row">
                                <button type="submit" name="action" class="button mobile-full-width" v-on:click.prevent="confirmRejection" :disabled="$.trim(reason).length == 0">Submit</button>
                                <button type="submit" name="action" class="button button-secondary cancel mobile-full-width"
                                        v-on:click.prevent="pendingRejection = false, approvalError = false, noneSelectedError = false, apiError = false">Cancel</button>
                            </div>
                        </div>


                    </form>
                    <div>
                        <div class="pagination" v-show="!isProcessing">
                            <p class="pagination-info">
                                Showing
                                <span class="pagination-range">
                                    {{ paginationDescription }}
                                </span>
                                of
                                <span class="result-count">{{currentCount}}</span>
                            </p>
                            <ul class="pagination-links">
                                <li v-if="currentPage > 0  && totalPages > 1"><a href="#" class="pagination-prev" v-on:click.prevent="setCurrentPage(currentPage -1)">Previous</a></li>
                                <li v-if="totalPages > 1" v-for="item in totalPages">
                                    <span v-if="item === currentPage + 1" class="numeric-pagination go-nowhere">{{ item }}</span>
                                    <a v-else href="#" class="numeric-pagination" v-on:click.prevent="setCurrentPage(item -1)">{{ item }}</a>
                                </li>
                                <li v-if="currentPage +1 < totalPages && totalPages > 1"><a href="#" class="pagination-next" v-on:click.prevent="setCurrentPage(currentPage +1)">Next</a></li>

                                <li v-if="totalPages > 1"><a href="#" class="pagination-next" style="margin-left:5px;" v-on:click.prevent="showAll()">Show all</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="changes-list-wrapper" v-show="!isProcessing">
                        <table class="edubase-table approval-changes sortable-table" id="changes-table">
                            <caption class="visuallyhidden">Items for approval</caption>
                            <thead>
                                <tr>
                                    <th class="cell-checkbox"><span class="visuallyhidden">Checkbox</span></th>
                                    <th v-for="(value, key) in tableColumns" :class="'cell-' + key.toLowerCase()">
                                        <a
                                            href="#"
                                            v-on:click.prevent="setSort(key)"
                                            v-bind:class="[ sortType===key && sortAscending ? 'selected-sort sorted-asc' : '', sortType===key && !sortAscending ? 'selected-sort sorted-desc' : '']"
                                            :aria-label="[ sortType===key && sortAscending ? value + ' is sorted in an ascending order. Click to change order. All other columns are sortable.' : '', sortType===key && !sortAscending ? value + ' is sorted in a descending order. Click to change order. All other columns are sortable.' : '', sortType===key ? '' : value + '. Click to sort data by this column.' ]"
                                        >{{ value }}</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody v-if="changes.length > 0">
                                <tr v-for="(entry, index) in changes">
                                    <td class="cell-checkbox" data-label="Select item">
                                        <input :id="'change-'+entry.id" name="pending-change" :value="entry.id" type="checkbox" class="boldened-checkbox" v-on:click="selectItem">
                                        <label class="edubase-label edubase-button-checkbox" :for="'change-'+entry.id">
                                            <span class="visuallyhidden">Select this change for approval or rejection</span>
                                        </label>
                                    </td>
                                    <td data-label="URN">
                                        <a v-bind:href="detailUrl(entry.establishmentUrn)">{{entry.establishmentUrn}}</a>
                                    </td>
                                    <td data-label="DfE Number">{{entry.establishmentLAESTAB}}</td>
                                    <td data-label="Establishment"><a v-bind:href="detailUrl(entry.establishmentUrn)">{{entry.establishmentName}}</a></td>
                                    <td data-label="Updated field">{{entry.fieldName}}</td>
                                    <td data-label="Old value">{{entry.oldValue}}</td>
                                    <td data-label="New value">{{entry.newValue}}</td>
                                    <td data-label="Effective date">{{formatDate(entry.effectiveDateUtc)}}</td>
                                    <td data-label="Date requested">{{formatDate(entry.requestedDateUtc)}}</td>
                                    <td data-label="Suggested by">{{entry.originatorFullName}}</td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="9">
                                        <p> You have no items requiring approval.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-overlay" v-show="showRejections"></div>
    <div class="modal-content" v-show="showRejections">
        <a class="modal-exit" href="#" v-on:click.prevent="showRejections=false; reasonIds=[]">Close</a>
        <div class="modal-inner">
            <h2 class="heading-medium">Add reason(s) for rejection</h2>
            <p class="error-message" v-show="noReasonSelectedError">Please select at least one reason to add.</p>
            <div class="govuk-option-select">
                <div class="container-head">
                    <div class="option-select-label hard--left">Reasons</div>
                </div>
                <div class="options-container">
                    <fieldset>
                        <div class="filter-wrapper" v-for="(reason, index) in cannedRejections">
                            <input :id="'reason-' + reason.id" class="filter-input" :value="reason.id" type="checkbox" v-model="reasonIds">
                            <label :for="'reason-'+ reason.id" class="filter-radio">
                                {{reason.title}}
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="button-row">
            <a href="#" class="button mobile-full-width" v-on:click.prevent="selectReason">OK</a>
            <a href="#" class="button button-secondary mobile-full-width" v-on:click.prevent="showRejections = false; reasonIds =[]">Cancel</a>
        </div>
    </div>
</div>

@{ Html.RenderPartial("Partials/_RejectionReasons"); }

@section ViewScripts
    {
   @*<script src="/Assets/Scripts/standalone/approvals.js"></script>*@
    <script src="/public/assets/scripts/standalone/approvals.js"></script>

}
