@{
    ViewBag.Title = "Review and approve changes";
    ViewBag.bodyClasses = "change-approvals";
}



<div id="change-approvals" v-cloak>
<div v-show="Object.keys(apiBork).length> 0">
    <h1 class="heading-xlarge">Sorry, something went wrong</h1>
    <p>Please try again later.</p>
    <p>A report of the error has been sent to our technical team.</p>

    <p class="api-error-code" v-show="apiBork.hasOwnProperty('errorCode')">Error code: {{apiBork.errorCode}}</p>
    <div v-show="apiBork.hasOwnProperty('technicalDetails')">
        <code>
            {{apiBork.technicalDetails}}
        </code>
    </div>
</div>
<div v-show="Object.keys(apiBork).length === 0">
    <div class="breadcrumbs">
        <ul>
            <li>
                @Html.ActionLink("Home", "Index", "Search", new {area = ""}, null)
            </li>
            <li>
                @Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, null)
            </li>
        </ul>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <div class="wait-spinner" v-show="isProcessing" aria-live="polite">
                <p class="visually-hidden">Please wait</p>
            </div>
            <h1 class="heading-xlarge" v-show="!isProcessing">Items for approval</h1>
            <div class="pending-updates-message dismissable-message" v-show="itemsConfirmedRemoved">
                <div class="tick"></div>
                <p>Items approved. The editor has been notified by email.</p>
                <a class="cross" href="#" v-on:click="itemsConfirmedRemoved = false"><span class="visually-hidden">Dismiss notification</span></a>
            </div>

            <div class="pending-updates-message dismissable-message" v-show="itemsConfirmedRejected">
                <div class="tick"></div>
                <p>Items rejected. The editor has been notified by email.</p>
                <a class="cross" href="#" v-on:click="itemsConfirmedRejected = false"><span class="visually-hidden">Dismiss notification</span></a>
            </div>
            <p v-show="!isProcessing">
                You have <span class="heading-xlarge count">{{currentCount}}</span> items that require your approval.
            </p>

            <div class="approve-reject" v-show="!isProcessing">
                <form>
                    <div class="error-summary" v-show="approvalError || noneSelectedError || apiError.length > 0">
                        <p class="error-message" v-show="approvalError">Please select some changes to approve</p>
                        <p class="error-message" v-show="noneSelectedError">Please select some changes to reject</p>
                        <p class="error-message" v-show="apiError.length > 0" v-html="apiError"></p>
                    </div>
                    <div class="submit-cancel-panel approve-reject" v-show="!pendingRejection">
                        <button type="submit" name="action" value="" class="button" v-on:click.prevent="approveSelection">Approve</button>
                        <button type="submit" name="action" value="" class="button"
                                v-on:click.prevent="pendingRejection = true, approvalError = false, itemsConfirmedRejected = false,itemsConfirmedRemoved = false, reason=''">Reject</button>
                    </div>

                    <div v-show="pendingRejection">
                        <div v-bind:class="['form-group', (invalidReason || reasonLength) ? 'error' : '']">
                            <label for="reason">Reason for rejecting updates</label>
                            <span class="error-message" v-show="invalidReason">Please enter a reason for the rejection.</span>
                            <span class="error-message" v-show="reasonLength">Please enter a reason less than 1024 characters</span>
                            <textarea id="reason" class="edubase-textarea" v-model="reason"></textarea>
                        </div>
                        <div class="submit-cancel-panel">
                            <button type="submit" name="action" class="button" v-on:click.prevent="confirmRejection">Confirm</button>
                            <button type="submit" name="action" class="button button-grey cancel mobile-full-width"
                                    v-on:click.prevent="pendingRejection = false, approvalError = false, noneSelectedError = false, apiError = false">Cancel</button>
                        </div>
                    </div>


                </form>
                <div>
                    <div class="pagination" v-show="!isProcessing">
                        <p class="pagination-info">
                            Showing
                            <span class="pagination-range">
                                {{ paginationDescription }}
                            </span>
                            of
                            <span class="result-count">{{currentCount}}</span>
                        </p>
                        <ul class="pagination-links">
                            <li v-if="currentPage > 0  && totalPages > 1"><a href="#" class="pagination-prev" v-on:click.prevent="setCurrentPage(currentPage -1)">Previous</a></li>
                            <li v-for="item in totalPages">
                                <span v-if="item === currentPage + 1" class="numeric-pagination go-nowhere">{{ item }}</span>
                                <a v-else href="#" class="numeric-pagination" v-on:click.prevent="setCurrentPage(item -1)">{{ item }}</a>
                            </li>
                            <li v-if="currentPage +1 < totalPages && totalPages > 1"><a href="#" class="pagination-next" v-on:click.prevent="setCurrentPage(currentPage +1)">Next</a></li>
                        </ul>
                    </div>
                </div>
                <div class="changes-list-wrapper" v-show="!isProcessing">
                    <changes-table :pages="changes" :current-page="currentPage"></changes-table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



@section ViewScripts{

    <script type="text/x-template" id="table-template">
        <table class="edubase-table approval-changes" id="changes-table">
            <thead>
                <tr>
                    <td class="cell-checkbox">&nbsp;</td>
                    <th scope="col" class="cell-urn" data-sortkey="establishmentUrn">
                        <abbr title="Unique reference number">
                            URN
                        </abbr>
                    </th>
                    <th scope="col" class="cell-estab" data-sortkey="establishmentName">Establishment</th>
                    <th scope="col" class="cell-updatedfield" data-sortkey="establishmentUrn">Updated field</th>
                    <th scope="col" class="cell-oldvalue" data-sortkey="oldValue">Old value</th>
                    <th scope="col" class="cell-newvalue" data-sortkey="newValue">New value</th>
                    <th scope="col" class="cell-edate" data-sortkey="effectiveDateUtc">Effective date</th>
                    <th scope="col" class="cell-rdate" data-sortkey="originatorFullName">Date requested</th>
                    <th scope="col" class="cell-suggested" data-sortkey="establishmentUrn">Suggested from</th>
                </tr>
            </thead>
            <tbody v-if="pages.length > 0">
                <tr v-for="(entry, index) in page">
                    <td class="cell-checkbox" aria-label="Select item">     
                        <input :id="'change-'+entry.id" name="pending-change" :value="entry.id" type="checkbox" class="boldened-checkbox">
                        <label class="edubase-label edubase-button-checkbox" :for="'change-'+entry.id">
                            <span class="visuallyhidden">Select this change for approval or rejection</span>
                        </label>
                    </td>
                    <td aria-label="URN">
                        <a v-bind:href="detailUrl(entry.establishmentUrn)">{{entry.establishmentUrn}}</a>
                    </td>
                    <td aria-label="Establishment"><a v-bind:href="detailUrl(entry.establishmentUrn)">{{entry.establishmentName}}</a></td>
                    <td aria-label="Updated field">{{entry.fieldName}}</td>
                    <td aria-label="Old value">{{entry.oldValue}}</td>
                    <td aria-label="New value">{{entry.newValue}}</td>
                    <td aria-label="Effective date">{{formatDate(entry.effectiveDateUtc)}}</td>
                    <td aria-label="Date requested">{{formatDate(entry.requestedDateUtc)}}</td>
                    <td aria-label="Suggested from">{{entry.originatorFullName}}</td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr>
                    <td colspan="9">
                        <p> You have no items requiring approval.</p>        
                    </td>
                </tr>
            </tbody>
         </table>

</script>

<script src="/Assets/Scripts/standalone/approvals.js"></script>

}