@{
    ViewBag.Title = "Review and approve changes";
    ViewBag.bodyClasses = "change-approvals";
}

<div id="change-approvals" v-cloak>

    <div v-show="Object.keys(apiBork).length === 0">
        <div class="breadcrumbs">
            <ul>
                <li>
                    @Html.ActionLink("Home", "Index", "Search", new {area = ""}, null)
                </li>
                <li>
                    @Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, null)
                </li>
            </ul>
        </div>

        <div v-if="approvalError || rejectionError || noneSelectedError || invalidReason || reasonLength || apiError.length > 0" class="error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
            <h2 id="error-summary-title" class="heading-medium error-summary-heading">Incorrect or missing details</h2>
            <ul class="error-summary-list">
                <li v-if="approvalError">
                    <a href="#">Please select some changes to approve</a>
                </li>
                <li v-if="rejectionError">
                    <a href="#">Please select some changes to reject</a>
                </li>
                <li v-if="noneSelectedError">
                    <a href="#">Please select some changes to reject</a>
                </li>
                <li v-if="invalidReason">
                    <a href="#rejection-reason">Please enter a reason for the rejection</a>
                </li>
                <li v-if="reasonLength">
                    <a href="#rejection-reason">Please enter a reason less than 1024 characters</a>
                </li>
                <li v-if="apiError.length > 0">
                    <a href="#" v-html="apiError"></a>
                </li>
            </ul>
        </div>
    </div>

    <div v-show="Object.keys(apiBork).length> 0">
        <h1 class="heading-xlarge">Sorry, something went wrong</h1>
        <p>Please try again later.</p>
        <p>A report of the error has been sent to our technical team.</p>

        <p class="api-error-code" v-show="apiBork.hasOwnProperty('errorCode')">Error code: {{apiBork.errorCode}}</p>
        <div v-show="apiBork.hasOwnProperty('technicalDetails')">
            <code>
                {{apiBork.technicalDetails}}
            </code>
        </div>
    </div>

    <div v-show="Object.keys(apiBork).length === 0">
        <div class="grid-row">
            <div class="column-full">
                <div v-if="itemsConfirmedRemoved" class="pending-updates-message js-dismiss-message" role="alert">
                    <div class="tick"></div>
                    <p aria-live="polite">{{ approvalMessage }}</p>
                    <a class="cross" href="#" v-on:click="itemsConfirmedRemoved = false" v-show="itemsConfirmedRemoved"><span class="hidden">Dismiss notification</span></a>
                </div>
                <div v-if="itemsConfirmedRejected" class="pending-updates-message js-dismiss-message" role="alert">
                    <div class="tick"></div>
                    <p>{{ rejectionMessage }}</p>
                    <a class="cross" href="#" v-on:click="itemsConfirmedRejected = false" v-show="itemsConfirmedRejected"><span class="visually-hidden">Dismiss notification</span></a>
                </div>
                <div class="wait-spinner" v-show="isProcessing" data-live="polite">
                    <p class="visually-hidden">Please wait</p>
                </div>
                <h1 class="heading-xlarge" v-show="!isProcessing">Items for approval</h1>
                <p v-show="!isProcessing">
                    You have <span class="heading-xlarge count">{{currentCount}}</span> items that require your approval.
                </p>

                <div class="approve-reject" v-show="!isProcessing">
                    <form>
                        <div class="submit-cancel-panel approve-reject" v-show="!pendingRejection">
                            <button type="submit" name="action" value="" class="button" v-on:click.prevent="approveSelection">Approve</button>
                            <button type="submit" name="action" value="" class="button" v-on:click.prevent="rejectSelection">Reject</button>
                        </div>

                        <div v-show="pendingRejection">
                            <div v-bind:class="['form-group', (invalidReason || reasonLength) ? 'error' : '']" id="rejection-reason">
                                <label for="reason">Reason for rejecting updates</label>
                                <span class="error-message" v-show="invalidReason">Please enter a reason for the rejection</span>
                                <span class="error-message" v-show="reasonLength">Please enter a reason less than 1024 characters</span>
                                <textarea id="reason" rows="7" class="form-control form-control-3-4" v-model="reason"></textarea>
                                <div class="approvals-canned">
                                    <a href="#" v-on:click.prevent="showRejectionsModal" class="plus-link">Add a preset reason</a>
                                </div>
                            </div>
                            <div class="button-row">
                                <button type="submit" name="action" class="button mobile-full-width" v-on:click.prevent="confirmRejection">Submit</button>
                                <button type="submit" name="action" class="button button-secondary cancel mobile-full-width" v-on:click.prevent="pendingRejection = false; reason=''; clearErrors()">Cancel</button>
                            </div>
                        </div>
                    </form>

                    <div class="top-pagination">
                        <nav role="navigation" aria-label="Pagination" class="pagination" v-show="!isProcessing">
                            <p class="pagination-info">
                                Showing
                                <span class="pagination-range">
                                    {{ paginationDescription }}
                                </span>
                                of
                                <span class="result-count">{{currentCount}}</span>
                            </p>
                            <ul class="pagination-links">
                                <li v-if="currentPage > 0  && totalPages > 1"><a href="#" class="pagination-prev" v-on:click.prevent="setCurrentPage(currentPage -1)" aria-label="Previous page">Previous</a></li>

                                <li v-if="totalPages > 1" v-for="index in 5">
                                    <a v-show="(index + slicePage - 1) < currentPage" href="#" class="numeric-pagination" v-on:click.prevent="setCurrentPage(index + slicePage - 1)" :aria-label="'Page ' + (index + slicePage)">{{ index + slicePage }}</a>
                                    <span v-show="(index + slicePage - 1) === currentPage" class="numeric-pagination go-nowhere" aria-current="true" :aria-label="'Page ' + (index + slicePage) + ', current page'">{{ index + slicePage }}</span>
                                    <a v-show="(index + slicePage - 1) > currentPage" href="#" class="numeric-pagination" v-on:click.prevent="setCurrentPage(index + slicePage - 1)" :aria-label="'Page ' + (index + slicePage)">{{ index + slicePage }}</a>
                                </li>

                                <li v-if="currentPage +1 < totalPages && totalPages > 1"><a href="#" class="pagination-next" v-on:click.prevent="setCurrentPage(currentPage +1)" aria-label="Next page">Next</a></li>

                                <li v-if="totalPages > 1"><a href="#" class="pagination-next" style="margin-left:5px;" v-on:click.prevent="showAll()">Show all</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="changes-list-wrapper" v-show="!isProcessing">
                        <table class="edubase-table approval-changes sortable-table" id="changes-table">
                            <caption class="visuallyhidden">Items for approval</caption>
                            <thead>
                                <tr>
                                    <th class="cell-checkbox"><span class="visuallyhidden">Checkbox</span></th>
                                    <th v-for="(value, key) in tableColumns" :class="'cell-' + key.toLowerCase()">
                                        <a
                                            href="#"
                                            v-on:click.prevent="setSort(key)"
                                            v-bind:class="[ sortType===key && sortAscending ? 'selected-sort sorted-asc' : '', sortType===key && !sortAscending ? 'selected-sort sorted-desc' : '']"
                                            :aria-label="[ sortType===key && sortAscending ? value + ' is sorted in an ascending order. Click to change order. All other columns are sortable.' : '', sortType===key && !sortAscending ? value + ' is sorted in a descending order. Click to change order. All other columns are sortable.' : '', sortType===key ? '' : value + '. Click to sort data by this column.' ]"
                                        >{{ value }}</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody v-if="changes.length > 0">
                                <tr v-for="(entry, index) in changes">
                                    <td class="cell-checkbox" data-label="Select item">
                                        <div class="multiple-choice">
                                            <input :id="'change-'+entry.id" name="pending-change" :value="entry.id" type="checkbox" class="boldened-checkbox" v-on:click="selectItem">
                                            <label class="edubase-label" :for="'change-'+entry.id">
                                                <span class="visuallyhidden">Select this change for approval or rejection</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td data-label="URN">
                                        <a v-bind:href="detailUrl(entry.establishmentUrn)">{{entry.establishmentUrn}}</a>
                                    </td>
                                    <td data-label="DfE Number">{{entry.establishmentLAESTAB}}</td>
                                    <td data-label="Establishment"><a v-bind:href="detailUrl(entry.establishmentUrn)">{{entry.establishmentName}}</a></td>
                                    <td data-label="Updated field">{{entry.fieldName}}</td>
                                    <td data-label="Old value">{{entry.oldValue}}</td>
                                    <td data-label="New value">{{entry.newValue}}</td>
                                    <td data-label="Effective date">{{formatDate(entry.effectiveDateUtc)}}</td>
                                    <td data-label="Date requested">{{formatDate(entry.requestedDateUtc)}}</td>
                                    <td data-label="Suggested by">{{entry.originatorFullName}}</td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="9">
                                        <p> You have no items requiring approval.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="lower-pagination">
                        <nav role="navigation" aria-label="Pagination" class="pagination" v-show="!isProcessing">
                            <p class="pagination-info">
                                Showing
                                <span class="pagination-range">
                                    {{ paginationDescription }}
                                </span>
                                of
                                <span class="result-count">{{currentCount}}</span>
                            </p>
                            <ul class="pagination-links">
                                <li v-if="currentPage > 0  && totalPages > 1"><a href="#" class="pagination-prev" v-on:click.prevent="setCurrentPage(currentPage -1)" aria-label="Previous page">Previous</a></li>

                                <li v-if="totalPages > 1" v-for="index in 5">
                                    <a v-show="(index + slicePage - 1) < currentPage" href="#" class="numeric-pagination" v-on:click.prevent="setCurrentPage(index + slicePage - 1)" :aria-label="'Page ' + (index + slicePage)">{{ index + slicePage }}</a>
                                    <span v-show="(index + slicePage - 1) === currentPage" class="numeric-pagination go-nowhere" aria-current="true" :aria-label="'Page ' + (index + slicePage) + ', current page'">{{ index + slicePage }}</span>
                                    <a v-show="(index + slicePage - 1) > currentPage" href="#" class="numeric-pagination" v-on:click.prevent="setCurrentPage(index + slicePage - 1)" :aria-label="'Page ' + (index + slicePage)">{{ index + slicePage }}</a>
                                </li>

                                <li v-if="currentPage +1 < totalPages && totalPages > 1"><a href="#" class="pagination-next" v-on:click.prevent="setCurrentPage(currentPage +1)" aria-label="Next page">Next</a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-overlay" v-show="showRejections"></div>
    <div class="modal-content" id="modal-content" v-show="showRejections" role="dialog" aria-describedby="modal-desc">
        <a class="modal-exit" href="#" v-on:click.prevent="noReasonSelectedError=false; showRejections=false; reasonIds=[]">Close</a>
        <div class="modal-inner">
            <h2 class="heading-medium" tabindex="0" id="modal-label">Add one or more reasons for rejection</h2>
            <div v-bind:class="{ error: noReasonSelectedError }">
                <p class="error-message" v-show="noReasonSelectedError" tabindex="0" id="model-desc">Please select at least one reason to add.</p>
                <div class="govuk-option-select">
                    <div class="container-head">
                        <div class="option-select-label hard--left">Reasons</div>
                    </div>
                    <div class="options-container">
                        <fieldset>
                            <div class="multiple-choice multiple-choice--smaller multiple-choice--list" v-for="(reason, index) in cannedRejections">
                                <input :id="'reason-' + reason.id" :value="reason.id" type="checkbox" v-model="reasonIds">
                                <label :for="'reason-'+ reason.id">
                                    {{reason.title}}
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-row">
            <a href="#" class="button mobile-full-width" v-on:click.prevent="selectReason">OK</a>
            <a href="#" class="button button-secondary mobile-full-width" v-on:click.prevent="noReasonSelectedError=false; showRejections = false; reasonIds =[]">Cancel</a>
        </div>
    </div>
</div>

@{ Html.RenderPartial("Partials/_RejectionReasons"); }

@section ViewScripts
    {
   @*<script src="/Assets/Scripts/standalone/approvals.js"></script>*@
    <script src="/public/assets/scripts/standalone/approvals.js"></script>

}
