@using Edubase.Web.UI.Models.Establishments.Establishment
@model BackLinkViewModel

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<button type="submit"
				class="govuk-back-link gias-back-link--button"
				name="@Model.ActionSpecifierName"
				value="@Model.ActionSpecifierValue">
			Back
		</button>
	</div>
</div>
