

.search-field-wrap {
    background-color: $grey-3;

    .filter-searchwithin-label {
        background: transparent url("/public/assets/images/icons/icon-mag-glass.png") no-repeat 12px center;
        background-size: 15px;
        padding-left: 35px;
        width: calc(100% - 60px);
        display: block;
        position: relative;
        padding-bottom: 6px;
    }

    .js-closed & {
        display: none;
    } 
    
    .no-js & {
        display: none;
    }
}

.filter-search {
    background-color: transparent;
    border: 0;
    border-bottom: $black 1px solid;
    width: 100%;
    font-size: 16px;

    &:focus {
        outline: 0;
    }

    &::-ms-clear {
        display: none;
    }
}

.field-clear {
    border: 0;
    background: transparent url('/public/assets/images/icons/black-transparent-X.png') no-repeat center;
    background-size: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;

    &:focus {
        outline: 0;
    }
}


.filter-suggestion {
    position: relative;
    background-color: $white;
    span { 
        font-weight: bold;

    }
}

input#filter-refine[disabled] {
    background-color: $button-colour;
}