
@{
    ViewBag.Title = "Dashboard";
}

<h1 class="bold-large">Dashboard</h1>

<ul>
    <li>Smtp EndPoint Name: @ViewBag.SmtpEndPointName</li>
    <li>Redis Status: @ViewBag.RedisStatus</li>
    <li>Memory Cache Size: @ViewBag.MemoryCacheSize</li>
</ul>

