@using Edubase.Common
@using Edubase.Services.Enums
@using Microsoft.Ajax.Utilities
@model DownloadErrorViewModel
@{
    ViewBag.bodyClasses = "schools-search-page search-page";
    ViewBag.hideLogo = true;

    var searchLink = "";
    if (Model.SearchSource == eLookupSearchSource.Governors)
    {
        searchLink = $"{Url.Action("Index", "GovernorSearch", new {area = "Governors"})}?{Model.SearchQueryString}";
    }
    else if (Model.SearchSource == eLookupSearchSource.Establishments)
    {
        searchLink = $"{Url.Action("Index", "EstablishmentsSearch", new {area = "Establishments"})}?{Model.SearchQueryString}";
    }
    else if (Model.SearchSource == eLookupSearchSource.Groups)
    {
        searchLink = $"{Url.Action("Index", "GroupSearch", new {area = "Groups"})}?{Model.SearchQueryString}";
    }
}

<div class="breadcrumbs">
    @if (Model.SearchQueryString.IsNullOrWhiteSpace() || Model.SearchSource == null)
    {
        @Html.ActionLink("Home", "Index", "Search", new { area = "" })
    }
    else
    {
        if (!searchLink.IsNullOrEmpty())
        {
            <a href=@(searchLink)>Back to search results</a>
        }
    }
</div>


@if (Model.NeedsRegenerating)
{
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">Something went wrong</h1>
        </div>
        <div class="horizontal-tabs-wrapper">
            <div class="column-two-thirds">
                <h2 class="bold-medium">The requested file is no longer available for download.</h2>
                <br />
                <p class="font-small">Please <a href=@(searchLink)>return to the search results</a> and repeat your request.</p>
            </div>
        </div>
    </div>
}
else
{
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">Download error</h1>
        </div>
        <div class="horizontal-tabs-wrapper">
            <div class="column-two-thirds">
                <h2 class="bold-medium">The file you have requested no longer exists.</h2>
                <br />
                <p class="font-small">This may be due to the following factors:</p>

                <ul class="list-bullet">
                    <li>Your file successfully downloaded, but the request was repeated. Please check your browser window.</li>
                    <li>Your original download request was cancelled. If so, please return to the search results page to repeat your request.</li>
                </ul>
            </div>
        </div>
    </div>
}

