@using Edubase.Services.Enums
@using Microsoft.Ajax.Utilities
@model IDownloadGenerationProgressModel
@{
    ViewBag.bodyClasses = "schools-search-page search-page";
    ViewBag.hideLogo = true;
}

@section Head {
    <meta http-equiv="refresh" content="2">
}

<div class="breadcrumbs">
    @if (Model.SearchQueryString.IsNullOrWhiteSpace() || Model.SearchSource == null)
    {
        @Html.ActionLink("Home", "Index", "Search", new { area = "" })
    }
    else
    {
        if (Model.SearchSource == eLookupSearchSource.Governors)
        {
            <a href=@($"{Url.Action("Index", "GovernorSearch", new {area = "Governors"})}?{Model.SearchQueryString}")>Back to search results</a>
        }
        else if (Model.SearchSource == eLookupSearchSource.Establishments)
        {
            <a href=@($"{Url.Action("Index", "EstablishmentsSearch", new {area = "Establishments"})}?{Model.SearchQueryString}")> Back to search results</a>
        }
        else if (Model.SearchSource == eLookupSearchSource.Groups)
        {
            <a href=@($"{Url.Action("Index", "GroupSearch", new {area = "Groups"})}?{Model.SearchQueryString}")> Back to search results</a>
        }
    }
</div>

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">Download data</h1>
    </div>
    <div class="download-step">        
        <div class="column-two-thirds">
            <h2 class="bold-medium">Download @Model.DownloadName search results</h2>
            <p>@Model.Step of @Model.TotalSteps</p>
            <p class="font-small">Preparing your requested data. Large files may take some time to download.</p>
                      
        </div>
        <div class="column-full">
            <div class="progress-indicator">
                <span class="visually-hidden">Please wait. Your file is being prepared</span>
            </div>
        </div>
    </div>
</div>

