@{
    ViewBag.SiteSection = "tools";
    var fileName = $"SatAndMatClosureReport_{DateTime.Now.Date.ToString("dd-MM-yyyy")}.csv";
}
@section BreadCrumbs {
   <div class="govuk-grid-row">
       <div class="govuk-grid-column-full">
           <div class="govuk-breadcrumbs">
               <ol class="govuk-breadcrumbs__list">
                   <li class="govuk-breadcrumbs__list-item">
                       @Html.ActionLink("Home", "Index", "Search", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                   </li>
                   <li class="govuk-breadcrumbs__list-item">
                       @Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                   </li>
               </ol>
           </div>
       </div>
   </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Closed single academy trusts
            (SATs) and multi academy trusts (MATs)</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <p>
            Download the following file to view a list of closed single academy trusts and multi academy trusts.
            These are currently open on GIAS but reported closed by Companies House.
        </p>
        <p>
            @Html.RouteLink(fileName, "DownloadMatClosureReport")
        </p>
    </div>
</div>

