@using Edubase.Web.UI.Helpers
@using Edubase.Web.UI.Models
@model ToolsViewModel

@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.bodyClasses = "tools-landing";
    ViewBag.SiteSection = "tools";

    // These now return List<LinkAction> with IHtmlContent inside
    var creationActions = Model.GetCreateActions(Html);
    var updateActions = Model.GetUpdateActions(Html);
    var adminActions = Model.GetAdminActions(Html);
    var supportActions = Model.GetSupportActions(Html);
}

@section BreadCrumbs {
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 id="tools-heading" class="govuk-heading-xl">Tools</h1>
    </div>
</div>

@await Html.PartialAsync("_RenderLinks", ("Create", creationActions, false))
@await Html.PartialAsync("_RenderLinks", ("Update", updateActions, creationActions.Any()))
@await Html.PartialAsync("_RenderLinks", ("Administration", adminActions, creationActions.Any() || updateActions.Any()))
@await Html.PartialAsync("_RenderLinks", ("Support", supportActions, creationActions.Any() || updateActions.Any() || adminActions.Any()))

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <back-to-top-link />
    </div>
</div>
