@{
    ViewBag.Title = "Edubase: search change history";
    ViewBag.bodyClasses = "search-changes";
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large">Change history</h1>
    </div>
    <div class="column-two-thirds">
        <div class=""></div>
    </div>

</div>