@{
    ViewBag.Title = "Edubase: search change history";
    ViewBag.bodyClasses = "search-changes";
}
<div class="breadcrumbs">
    @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null) > @Html.ActionLink("Tools", "Index", "Tools", new { area = "" }, null)
</div>

<div class="grid-row" id="change-history-app" v-cloak>
    <div class="column-full">
        <h1 class="heading-large">Change history</h1>
        <div class="error-summary" v-show="globalError">
            <p class="error-message" v-show="ajaxError">Sorry, something went wrong. Please try again.</p>
            <p class="error-message" v-show="filterTypeSelectedError">Please select establishment or group.</p>
        </div>
        <div class="wait-spinner" v-show="fakeWait">
            <p v-show="preparingDownload">Preparing your requested data. Large files may take some time to download.</p>

        </div>
    </div>
    <div class="column-full" v-show="filterView">
        <form>
            <div class="button-row">
                <input type="submit" class="button" value="Apply filters" v-on:click.prevent="getResults" />
                <input type="reset" class="button button-grey" value="Clear filters" v-on:click.prevent="resetForm" />
            </div>

            <fieldset class="inline">
                <legend class="heading-small">Filter by establishment or group</legend>
                <div v-bind:class="['form-group', (filterTypeSelectedError) ? 'error' : '']">
                    <span class="error-message" v-show="filterTypeSelectedError">Please select a filter</span>
                    <span class="radio-button-wrap">
                        <input id="searchtype-establishment" name="change-history-search-type" value="establishment" type="radio" v-model="searchType">
                        <label class="edubase-button-radio" for="searchtype-establishment">
                            Establishment
                        </label>
                    </span>
                    <span class="radio-button-wrap">
                        <input id="searchtype-group" name="change-history-search-type" value="group" type="radio" v-model="searchType">
                        <label class="edubase-button-radio" for="searchtype-group">
                            Group
                        </label>
                    </span>
                </div>
            </fieldset>

            <div id="establishment-search-filters" v-show="searchType !==''" class="panel-indent" v-cloak>
                <div class="expander-panel open-expander">
                    <a href="#" class="panel-trigger heading-small">Date</a>
                    <div class="expander-panel-content">
                        <div class="form-group inline">
                            <span class="radio-button-wrap">
                                <input id="date-applied" name="date-search-type" value="applied" type="radio" v-model="dateType">
                                <label class="edubase-button-radio" for="date-applied">Applied</label>
                            </span>

                            <span class="radio-button-wrap">
                                <input id="date-approved" name="date-search-type" value="approved" type="radio" v-model="dateType">
                                <label class="edubase-button-radio" for="date-approved">Approved</label>
                            </span>

                            <span class="radio-button-wrap">
                                <input id="date-effective" name="date-search-type" value="effective" type="radio" v-model="dateType">
                                <label class="edubase-button-radio" for="date-effective">Effective</label>
                            </span>

                        </div>

                        <div class="form-group panel-indent">
                            <fieldset id="date-from" class="range-group">
                                <span v-bind:class="['error-message']" v-show="errorFromDate">Please enter the establishment opening date</span>
                                <legend>Changed date from</legend>
                                <span class="inline-form-control">
                                    <label for="fromdate-day">Day</label>
                                    <input class="form-control date-text-day" id="fromdate-day" type="text" v-model="fromDateDay">
                                </span>
                                <span class="inline-form-control">
                                    <label for="fromdate-month">Month</label>
                                    <input class="form-control date-text-month" id="fromdate-month" type="text" v-model="fromDateMonth">
                                </span>
                                <span class="inline-form-contol">
                                    <label for="fromdate-year">Year</label>
                                    <input class="form-control date-text-year" id="fromdate-year" type="text" v-model="fromDateYear">
                                </span>
                            </fieldset>
                            <fieldset id="date-to" class="range-group  range-group-to">
                                <span v-bind:class="['error-message']" v-show="errorToDate">Please enter the establishment opening date</span>
                                <legend>Changed date to</legend>
                                <span class="inline-form-control">
                                    <label for="todate-day">Day</label>
                                    <input class="form-control date-text-day" id="todate-day" type="text" v-model="toDateDay">

                                </span>
                                <span class="inline-form-control">
                                    <label for="todate-month">Month</label>
                                    <input class="form-control date-text-month" id="todate-month" type="text" v-model="toDateMonth">

                                </span>
                                <span class="inline-form-contol">
                                    <label for="todate-year">Year</label>
                                    <input class="form-control date-text-year" id="todate-year" type="text" v-model="toDateYear">
                                </span>
                            </fieldset>
                        </div>
                    </div>

                </div>
                <div class="expander-panel" v-show="searchType =='establishment'">
                    <a href="#" class="panel-trigger heading-small">Establishment type</a>
                    <div class="expander-panel-content">
                        <span class="checkbox-wrap">
                            <input id="et-academies" type="checkbox" value="academies" v-model="establishmentTypes"
                                   v-on:change.once="selectSingle('establishmentTypes', 'academies')" />
                            <label for="et-academies" class="edubase-button-checkbox">Academies</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="et-childrencentres" type="checkbox" value="children-centres" v-model="establishmentTypes"
                                   v-on:change.once="selectSingle('establishmentTypes', 'children-centres')" />
                            <label for="et-childrencentres" class="edubase-button-checkbox">Children centres</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="et-freeschools" type="checkbox" value="free-schools" v-model="establishmentTypes"
                                   v-on:change.once="selectSingle('establishmentTypes', 'free-schools')" />
                            <label for="et-freeschools" class="edubase-button-checkbox">Free schools</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="et-higher-further" type="checkbox" value="higher-education" v-model="establishmentTypes"
                                   v-on:change.once="selectSingle('establishmentTypes', 'higher-education')" />
                            <label for="et-higher-further" class="edubase-button-checkbox">Higher and further education</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="et-independent" type="checkbox" value="independent" v-model="establishmentTypes"
                                   v-on:change.once="selectSingle('establishmentTypes', 'independent')" />
                            <label for="et-independent" class="edubase-button-checkbox">Independent schools</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="et-la-maintained" type="checkbox" value="la-maintained" v-model="establishmentTypes"
                                   v-on:change.once="selectSingle('establishmentTypes', 'la-maintained')" />
                            <label for="et-la-maintained" class="edubase-button-checkbox">LA maintained schools</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="et-non-maintained" type="checkbox" value="non-maintained" v-model="establishmentTypes"
                                   v-on:change.once="selectSingle('establishmentTypes', 'non-maintained')" />
                            <label for="et-non-maintained" class="edubase-button-checkbox">Non maintained schools</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="et-other" type="checkbox" value="other" v-model="establishmentTypes"
                                   v-on:change.once="selectSingle('establishmentTypes', 'other')" />
                            <label for="et-other" class="edubase-button-checkbox">Other</label>
                        </span>

                    </div>

                </div>
                <div class="expander-panel" v-show="searchType =='establishment'">
                    <a href="#" class="panel-trigger heading-small">Establishment fields</a>

                    <div class="expander-panel-content">
                        <span class="checkbox-wrap">
                            <input id="ef-name" type="checkbox" value="name" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'name')" />
                            <label for="ef-name" class="edubase-button-checkbox">Establishment name</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-locality" type="checkbox" value="locality" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'locality')" />
                            <label for="ef-locality" class="edubase-button-checkbox">Locality</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-city" type="checkbox" value="city" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'city')" />
                            <label for="ef-city" class="edubase-button-checkbox">City or town</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-postcode" type="checkbox" value="postcode" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'postcode')" />
                            <label for="ef-postcode" class="edubase-button-checkbox">Postcode</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-additional-address" type="checkbox" value="additional-address" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'additional-address')" />
                            <label for="ef-additional-address" class="edubase-button-checkbox">Additional address</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-head-title" type="checkbox" value="head-title" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'head-title')" />
                            <label for="ef-head-title" class="edubase-button-checkbox">Head title</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-head-name" type="checkbox" value="head-name" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'head-name')" />
                            <label for="ef-head-title" class="edubase-button-checkbox">Head name</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-statutory-low-age" type="checkbox" value="statutory-low-age" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'statutory-low-age')" />
                            <label for="ef-statutory-low-age" class="edubase-button-checkbox">Statutory low age</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-statutory-high-age" type="checkbox" value="statutory-high-age" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'statutory-high-age')" />
                            <label for="ef-statutory-high-age" class="edubase-button-checkbox">Statutory high age</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-education-phase" type="checkbox" value="education-phase" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'education-phase')" />
                            <label for="ef-education-phase" class="edubase-button-checkbox">Education phase</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-type" type="checkbox" value="type" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'type')" />
                            <label for="ef-type" class="edubase-button-checkbox">Type</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-further-education-type" type="checkbox" value="further-education-type" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'further-education-type')" />
                            <label for="ef-further-education-type" class="edubase-button-checkbox">Further education type</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-gender" type="checkbox" value="gender" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'gender')" />
                            <label for="ef-gender" class="edubase-button-checkbox">Gender</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-la" type="checkbox" value="la" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'la')" />
                            <label for="ef-la" class="edubase-button-checkbox">Local authority</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-establishment-number" type="checkbox" value="establishment-number" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'establishment-number')" />
                            <label for="ef-establishment-number" class="edubase-button-checkbox">Establishment number</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-ukprn" type="checkbox" value="ukprn" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'ukprn')" />
                            <label for="ef-ukprn" class="edubase-button-checkbox">UKPRN</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-status" type="checkbox" value="status" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'status')" />
                            <label for="ef-status" class="edubase-button-checkbox">Status</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-admissions-policy" type="checkbox" value="admissions-policy" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'admissions-policy')" />
                            <label for="ef-admissions-policy" class="edubase-button-checkbox">Admissions policy</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-website" type="checkbox" value="website" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'website')" />
                            <label for="ef-website" class="edubase-button-checkbox">Website address</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-phone" type="checkbox" value="phone" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'phone')" />
                            <label for="ef-phone" class="edubase-button-checkbox">Telephone number</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-inspectorate" type="checkbox" value="inspectorate" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'inspectorate')" />
                            <label for="ef-inspectorate" class="edubase-button-checkbox">Inspectorate</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-proprieter-name" type="checkbox" value="proprieter-name" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'proprieter-name')" />
                            <label for="ef-proprieter-name" class="edubase-button-checkbox">Proprieter name</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-religious-character" type="checkbox" value="religious-character" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'religious-character')" />
                            <label for="ef-religious-character" class="edubase-button-checkbox">Religious character</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-diocese" type="checkbox" value="diocese" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'diocese')" />
                            <label for="ef-diocese" class="edubase-button-checkbox">Diocese</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-religious-ethos" type="checkbox" value="religious-ethos" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'religious-ethos')" />
                            <label for="ef-religious-ethos" class="edubase-button-checkbox">Religious ethos</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-provision-boarding" type="checkbox" value="provision-boarding" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'provision-boarding')" />
                            <label for="ef-provision-boarding" class="edubase-button-checkbox">Provision boarding</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-provision-nursery" type="checkbox" value="provision-nursery" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'provision-nursery')" />
                            <label for="ef-provision-nursery" class="edubase-button-checkbox">Provision nursery</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-provision-6thform" type="checkbox" value="provision-6thform" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'provision-6thform')" />
                            <label for="ef-provision-6thform" class="edubase-button-checkbox">Provision offical sixth form</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-capacity" type="checkbox" value="capacity" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'capacity')" />
                            <label for="ef-capacity" class="edubase-button-checkbox">Capacity</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-section41" type="checkbox" value="section41" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'section41')" />
                            <label for="ef-section41" class="edubase-button-checkbox">Section 41 approval</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-opendate" type="checkbox" value="opendate" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'opendate')" />
                            <label for="ef-opendate" class="edubase-button-checkbox">Open date</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-reason-opened" type="checkbox" value="reason-opened" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'reason-opened')" />
                            <label for="ef-reason-opened" class="edubase-button-checkbox">Reason establishment opened</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-closedate" type="checkbox" value="closedate" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'closedate')" />
                            <label for="ef-closedate" class="edubase-button-checkbox">Close date</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-reason-closed" type="checkbox" value="reason-closed" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'reason-closed')" />
                            <label for="ef-reason-closed" class="edubase-button-checkbox">Reason establishment closed</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-special-classes" type="checkbox" value="special-classes" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'special-classes')" />
                            <label for="ef-special-classes" class="edubase-button-checkbox">Provision special classes</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-sen1" type="checkbox" value="sen1" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'sen1')" />
                            <label for="ef-sen1" class="edubase-button-checkbox">SEN1</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-sen2" type="checkbox" value="sen2" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'sen2')" />
                            <label for="ef-sen2" class="edubase-button-checkbox">SEN2</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-sen3" type="checkbox" value="sen3" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'sen3')" />
                            <label for="ef-sen3" class="edubase-button-checkbox">SEN3</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-sen4" type="checkbox" value="sen4" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'sen4')" />
                            <label for="ef-sen4" class="edubase-button-checkbox">SEN4</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-type-provision" type="checkbox" value="type-provision" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'type-provision')" />
                            <label for="ef-type-provision" class="edubase-button-checkbox">Type of resourced provision</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-provision-roll" type="checkbox" value="provision-roll" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'provision-roll')" />
                            <label for="ef-provision-roll" class="edubase-button-checkbox">Resourced provision on roll</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-sen-roll" type="checkbox" value="sen-roll" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'sen-roll')" />
                            <label for="ef-sen-roll" class="edubase-button-checkbox">SEN unit on roll</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-sen-unit-capacity" type="checkbox" value="sen-unit-capacity" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'sen-unit-capacity')" />
                            <label for="ef-sen-unit-capacity" class="edubase-button-checkbox">SEN unit capacity</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-bso-inspectorate" type="checkbox" value="bso-inspectorate" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'bso-inspectorate')" />
                            <label for="ef-bso-inspectorate" class="edubase-button-checkbox">BSO inspectorate</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-bso-last-inspectorate-visit" type="checkbox" value="bso-last-inspectorate-visit" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'bso-last-inspectorate-visit')" />
                            <label for="ef-bso-last-inspectorate-visit" class="edubase-button-checkbox">BSO last inspection visit</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-bso-next-inspectorate-visit" type="checkbox" value="bso-next-inspectorate-visit" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'bso-next-inspectorate-visit')" />
                            <label for="ef-bso-next-inspectorate-visit" class="edubase-button-checkbox">BSO next inspection visit</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-rsc-region" type="checkbox" value="rsc-region" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'rsc-region')" />
                            <label for="ef-rsc-region" class="edubase-button-checkbox">RSC region</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-gov-region" type="checkbox" value="gov-region" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'gov-region')" />
                            <label for="ef-gov-region" class="edubase-button-checkbox">Government office region</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-admin-district" type="checkbox" value="admin-district" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'admin-district')" />
                            <label for="ef-admin-district" class="edubase-button-checkbox">Administrative district</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-admin-ward" type="checkbox" value="admin-ward" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'admin-ward')" />
                            <label for="ef-admin-ward" class="edubase-button-checkbox">Administrative ward</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-constituency" type="checkbox" value="constituency" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'constituency')" />
                            <label for="ef-constituency" class="edubase-button-checkbox">Parlimentary constituency</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-urban-rural" type="checkbox" value="urban-rural" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'urban-rural')" />
                            <label for="ef-urban-rural" class="edubase-button-checkbox">Urban rural</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-gssla" type="checkbox" value="gssla" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'gssla')" />
                            <label for="ef-gssla" class="edubase-button-checkbox">GSSLA</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-easting" type="checkbox" value="easting" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'easting')" />
                            <label for="ef-easting" class="edubase-button-checkbox">Easting</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-northing" type="checkbox" value="northing" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'northing')" />
                            <label for="ef-northing" class="edubase-button-checkbox">Northing</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-casward" type="checkbox" value="casward" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'casward')" />
                            <label for="ef-casward" class="edubase-button-checkbox">CAS ward</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-msoa" type="checkbox" value="msoa" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'msoa')" />
                            <label for="ef-msoa" class="edubase-button-checkbox">MSOA code</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="ef-lsoa" type="checkbox" value="lsoa" v-model="establishmentFields"
                                   v-on:change.once="selectSingle('establishmentFields', 'lsoa')" />
                            <label for="ef-lsoa" class="edubase-button-checkbox">LSOA code</label>
                        </span>


                    </div>
                </div>

                <div class="expander-panel" v-show="searchType =='group'">
                    <a href="#" class="panel-trigger heading-small">Group type</a>
                    <div class="expander-panel-content">
                        <span class="checkbox-wrap">
                            <input id="gt-academies" type="checkbox" value="academies" v-model="groupTypes"
                                   v-on:change.once="selectSingle('groupTypes', 'academies')" />
                            <label for="gt-academies" class="edubase-button-checkbox">Multi academy trust</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="gt-academy" type="checkbox" value="academy" v-model="groupTypes"
                                   v-on:change.once="selectSingle('groupTypes', 'academy')" />
                            <label for="gt-academy" class="edubase-button-checkbox">Single academy trust</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="gt-sponsor" type="checkbox" value="sponsor" v-model="groupTypes"
                                   v-on:change.once="selectSingle('groupTypes', 'sponsor')" />
                            <label for="gt-sponsor" class="edubase-button-checkbox">Sponsor</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="gt-trust" type="checkbox" value="trust" v-model="groupTypes"
                                   v-on:change.once="selectSingle('groupTypes', 'trust')" />
                            <label for="gt-trust" class="edubase-button-checkbox">Trust</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="gt-federation" type="checkbox" value="federation" v-model="groupTypes"
                                   v-on:change.once="selectSingle('groupTypes', 'federation')" />
                            <label for="gt-federation" class="edubase-button-checkbox">Federation</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="gt-childrens-group" type="checkbox" value="childrens-group" v-model="groupTypes"
                                   v-on:change.once="selectSingle('groupTypes', 'childrens-group')" />
                            <label for="gt-childrens-group" class="edubase-button-checkbox">Childrens centre group</label>
                        </span>

                        <span class="checkbox-wrap">
                            <input id="gt-childrens-collaboration" type="checkbox" value="childrens-collaboration" v-model="groupTypes"
                                   v-on:change.once="selectSingle('groupTypes', 'childrens-collaboration')" />
                            <label for="gt-childrens-collaboration" class="edubase-button-checkbox">Childrens centre collaboration</label>
                        </span>


                    </div>
                </div>
                <div class="expander-panel last-panel">
                    <a href="#" class="panel-trigger heading-small">Author and approver</a>
                    <div class="expander-panel-content">
                        <div class="column-third">
                            <div class="form-group">
                                <label class="form-label">Change suggested by</label>
                                <select id="change-suggested" class="form-control" v-model="changeSuggestedBy">
                                    <option value="0">Select user group</option>
                                    <option value="establishment">Estab user (urn:100053)</option>
                                    <option value="mat">MAT user (uid:1578)</option>
                                    <option value="la">Local authority (Westminster) (code:213)</option>
                                    <option value="la-cc">Local authority CC (Kent) (code:886)</option>
                                    <option value="efa">Education Funding Agency</option>
                                    <option value="aos">AOS - Data owner</option>
                                    <option value="fsg">Free Schools Group</option>
                                    <option value="independent">Independent Education and Boarding Schools Team user</option>
                                    <option value="schoolorg">School Organisation</option>
                                    <option value="pru">Pupil Referral Unit (PRU)/Alternative Provision (AP) Team</option>
                                    <option value="cc">Children's centre</option>
                                    <option value="backoffice">Backoffice</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Change approved by</label>
                                <select id="change-approved" class="form-control" v-model="changeApprovedBy">
                                    <option value="0">Select user group</option>
                                    <option value="establishment">Estab user (urn:100053)</option>
                                    <option value="mat">MAT user (uid:1578)</option>
                                    <option value="la">Local authority (Westminster) (code:213)</option>
                                    <option value="la-cc">Local authority CC (Kent) (code:886)</option>
                                    <option value="efa">Education Funding Agency</option>
                                    <option value="aos">AOS - Data owner</option>
                                    <option value="fsg">Free Schools Group</option>
                                    <option value="independent">Independent Education and Boarding Schools Team user</option>
                                    <option value="schoolorg">School Organisation</option>
                                    <option value="pru">Pupil Referral Unit (PRU)/Alternative Provision (AP) Team</option>
                                    <option value="cc">Children's centre</option>
                                    <option value="backoffice">Backoffice</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="button-row">
                <input type="submit" class="button" value="Apply filters" v-on:click.prevent="getResults" />
                <input type="reset" class="button button-grey" value="Clear filters" v-on:click.prevent="resetForm" />
            </div>
        </form>
    </div>
    <div class="column-full" v-cloak v-show="resultsView">
        <h2 class="heading-small">Download change history</h2>
        <form>
            <div class="form-group padded-group">
                <span class="radio-button-wrap">
                    <input id="download-csv" name="change-history-search-type" value="csv" type="radio" v-model="downloadType">
                    <label class="edubase-button-radio" for="download-csv">
                        Data in CSV format
                    </label>
                </span>
                <span class="radio-button-wrap">
                    <input id="download-xlsx" name="change-history-search-type" value="xlxs" type="radio" v-model="downloadType">
                    <label class="edubase-button-radio" for="download-xlsx">
                        Data in XLSX format
                    </label>
                </span>
            </div>
            <input type="submit" class="button" value="Continue" v-on:click.prevent="prepareDownload" />
        </form>

        <div>
            <p><a href="#" v-on:click.prevent="resultsView = false, filterView = true">Show filters</a></p>
            <div class="pagination">
                <p class="pagination-info">
                    Showing
                    <span class="pagination-range">
                        {{ paginationDescription }}
                    </span>
                    of
                    <span class="result-count">{{currentCount}}</span>
                </p>
                <ul class="pagination-links">
                    <li v-if="currentPage > 0"><a href="#" class="pagination-prev" v-on:click.prevent="setCurrentPage(currentPage -1)">Previous</a></li>
                    <li v-for="(page, index) in pages">
                        <span v-if="index === currentPage" class="numeric-pagination go-nowhere">{{ index + 1 }}</span>
                        <a v-else href="#" class="numeric-pagination" v-on:click.prevent="setCurrentPage(index)">{{ index + 1 }}</a>
                    </li>
                    <li v-if="currentPage < pages.length -1"><a href="#" class="pagination-next" v-on:click.prevent="setCurrentPage(currentPage +1)">Next</a></li>
                </ul>
            </div>
        </div>

        <div class="changes-list-wrapper">
            <changes-table :pages="pages" :current-page="currentPage"></changes-table>
        </div>

    </div>
    <div class="column-full" v-cloak v-show="availableDownload">
        <p>Your requested file is ready to download.</p>
        <ul>
            <li class="download-list-item">
                <span class="icon-link-copy">
                    <a href="#"
                       target="_blank" rel="nofollow">{{downloadLinkText}}</a>
                </span>
                <span class="alternative-file-directions">
                    (Will download as a ZIP file. Open the ZIP to access its contents)
                </span>
            </li>
        </ul>
        <button class="button button-grey" v-on:click="resultsView=true, availableDownload=false">Search results</button>
    </div>
</div>


@section ViewScripts {

    <script type="text/x-template" id="table-template">
        <table class="edubase-table approval-changes" id="changes-table">
            <thead>
                <tr>
                    <th scope="col" class="cell-urn">
                        <abbr title="Unique reference number">
                            URN
                        </abbr>
                    </th>
                    <th scope="col" class="cell-estab">Establishment</th>
                    <th scope="col" class="cell-edate">Date changed</th>
                    <th scope="col" class="cell-updatedfield">Updated field</th>
                    <th scope="col" class="cell-oldvalue">Old value</th>
                    <th scope="col" class="cell-newvalue">New value</th>
                    <th scope="col" class="cell-suggested">Suggested by</th>
                    <th scope="col" class="cell-edate">Approved by</th>
                </tr>
            </thead>
            <tbody v-if="pages.length > 0">
                <tr v-for="(entry, index) in page">
                    <td aria-label="URN">
                        <a v-bind:href="detailUrl(entry.URN)">{{entry.URN}}</a>
                    </td>
                    <td aria-label="Establishment"><a v-bind:href="detailUrl(entry.URN)">{{entry.establishment}}</a></td>
                    <td aria-label="Date changed">{{entry.effectiveDate}}</td>
                    <td aria-label="Updated field">{{entry.changeType}}</td>
                    <td aria-label="Old value">{{entry.oldValue}}</td>
                    <td aria-label="New value">{{entry.newValue}}</td>
                    <td aria-label="Suggested by">{{entry.suggested}}</td>
                    <td aria-label="Approved by">Administrator</td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr>
                    <td colspan="9">
                        <p> No items</p>
                    </td>
                </tr>
            </tbody>
        </table>

    </script>

    <script src="/public/assets/scripts/standalone/search-change-history.js"></script>

}
