@model BulkAssociateEstabs2GroupsViewModel
@{
    ViewBag.SiteSection = "tools";
}
@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Home", "Index", "Home", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Tools", "Index", "Tools", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Bulk upload academies to trust<span class="govuk-visually-hidden"> </span>/<span class="govuk-visually-hidden"> </span>sponsor</h1>
    </div>
    <div class="download-step">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Completed</h2>
            <p class="govuk-body">Your file was processed successfully.</p>
        </div>
    </div>
</div>
