@model BulkAssociateEstabs2GroupsViewModel

<div class="breadcrumbs">
    <ul>
        <li>@Html.RouteLink("Home", "Homepage")</li>
        <li>@Html.RouteLink("Tools", "Tools")</li>
        <li>@Html.RouteLink("Bulk upload academies to trust/sponsor", "BulkAssociateEstabs2Groups")</li>
    </ul>
</div>

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">Bulk upload academies to trust/sponsor</h1>
    </div>
    <div class="download-step">
        <div class="column-two-thirds">
            <h2 class="bold-medium">Completed</h2>
            <p class="font-small">Your file was processed successfully.</p>
        </div>
    </div>
</div>
