<div class="phase-banner-alpha">
    <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/compare-school-performance-survey/" rel="external" target="_blank" class="font16-ext-link">feedback</a> will help us to improve it.</span>
    </p>
</div>