<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service. Our feedback survey is currently closed. We plan to re-open it soon.
        </span>
    </p>
</div>
