<div class="phase-banner-beta">
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service. Our feedback survey is currently closed. We plan to re-open it soon.</span>
    </p>
</div>
