<div class="phase-banner-beta">
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/Getinformationaboutschools/" rel="external" target="_blank" class="font16-ext-link">feedback<span class="visuallyhidden"></span></a> will help us to improve it.</span>
    </p>
</div>