.box {
  @include clearfix-me(micro);
  position: relative;

  /*@include media(desktop) {
    margin-top: 30px;
    margin-bottom: 30px;
  }*/

  .box-head,
  .box-foot {
    @include clearfix-me(micro);
  }

}

.box-horz-offset {
  margin-top: 15px;
}

.box-bordered {
  border: solid 1px $grey-3; 
}

.box-padded {
  .box-head, .box-body, .box-foot {
    padding: 15px;
    /*@include media(desktop) {
      padding: 30px;
    }*/
  }
}

.box-head, .box-body, .box-foot {
  &.box-fill-grey {
    background-color: $grey-3;
  }
}



.box-with-tools {

  .box-body {
    width: 75%;
  }

  .box-foot {
    border-left: 1px solid $grey-3;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
  }
}


.box-container {

  .box-body {
    position: relative;
    overflow: hidden;
    max-width: 1020px;
    margin: 0 auto;
    text-align: left;
  }

}
