.js-enabled .js-hidden {
  display: none !important;
}

[v-cloak] {
  display: none;
}

.no-js {
  .no-js-show-inline {
    display: inline-block !important;
  }

  .no-js-show-block {
    display: block !important;
  }
  .js-show-inline,
  .js-show-block {
    display: none !important;
  }
}

.js-enabled {
  .js-show-inline {
    display: inline-block !important;
  }
  .js-show-block {
    display: block !important;
  }

  .no-js-show-block,
  .no-js-show-inline {
    display: none !important;
  }
}

.hidden {
  display: none !important;
}

.gias-align-right {
  text-align: right;
}

.gias-align-right__from-tablet {
  @include govuk-media-query($from: tablet) {
    text-align: right;
  }
}

.gias-hidden__from-tablet {
  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

.gias-visible__from-tablet {
  display: none;

  @include govuk-media-query($from: tablet) {
    display: block;
  }
}
