@using Edubase.Services.Domain
@model GroupEditorViewModel

@if (Model.WarningsToProcess.Any(x => x.Code == ApiWarningCodes.GROUP_WITH_SIMILAR_NAME_FOUND))
{
    var warning = Model.WarningsToProcess.First(x => x.Code == ApiWarningCodes.GROUP_WITH_SIMILAR_NAME_FOUND);

    <div class="modal-overlay" id="warning-modal-overlay"></div>
    <div class="modal-content" id="warning-modal-content">
        <div class="modal-inner">
            <a href="#" id="warning-exit-overlay" class="modal-exit">Close</a>
            <h3 class="heading-large">Similar name</h3>
            <p>There's already a group with a similar name:<br /><strong>@warning.MessageParameters[0]</strong>, UID: @warning.MessageParameters[1]</p>
        </div>
        <div class="button-row">
            <a href="#" class="button mobile-full-width" id="overlay-proceed">Proceed</a>
            <a href="#" class="button button-grey mobile-full-width" id="overlay-cancel">Cancel</a>
        </div>
    </div>

}

@if (Model.WarningsToProcess.Any(x => x.Code == ApiWarningCodes.CONFIRMATION_CC_CLOSE))
{
    var warning = Model.WarningsToProcess.First(x => x.Code == ApiWarningCodes.CONFIRMATION_CC_CLOSE);
    <div class="modal-overlay" id="warning-modal-overlay"></div>
    <div class="modal-content" id="warning-modal-content">
        <div class="modal-inner">
            <a href="#" id="warning-exit-overlay" class="modal-exit">Close</a>
            <h3 class="heading-large">Confirmation</h3>
            <p>I confirm that:</p>
            <ul class="font-small list list-bullet">
                <li>I have read the DfE's short guide for LAs document, and</li>
                <li>by closing this children's centres group all linked children's centre establishments will have their links removed from this group.</li>
            </ul>            
        </div>
        <div class="button-row">
            <a href="#" class="button mobile-full-width" id="overlay-proceed">Proceed</a>
            <a href="#" class="button button-grey mobile-full-width" id="overlay-cancel">Cancel</a>
        </div>

    </div>
}

@if (Model.WarningsToProcess.Any(x => x.Code == ApiWarningCodes.CONFIRMATION_FEDERATION_BECOMES_CLOSED_LINKS_REMOVED))
{
    var warning = Model.WarningsToProcess.First(x => x.Code == ApiWarningCodes.CONFIRMATION_FEDERATION_BECOMES_CLOSED_LINKS_REMOVED);
    <div class="modal-overlay" id="warning-modal-overlay"></div>
    <div class="modal-content" id="warning-modal-content">
        <div class="modal-inner">
            <a href="#" id="warning-exit-overlay" class="modal-exit">Close</a>
            <h3 class="heading-medium">Establishment removal</h3>
            <p>All establishments will be removed from this federation.</p>
        </div>
        <div class="button-row">
            <a href="#" class="button mobile-full-width" id="overlay-proceed">Proceed</a>
            <a href="#" class="button button-grey mobile-full-width" id="overlay-cancel">Cancel</a>
        </div>
    </div>
}

@if (Model.WarningsToProcess.Any(x => x.Code == ApiWarningCodes.CONFIRMATION_FEDERATION_NO_LINKS_CLOSE))
{
    var warning = Model.WarningsToProcess.First(x => x.Code == ApiWarningCodes.CONFIRMATION_FEDERATION_NO_LINKS_CLOSE);
    <div class="modal-overlay" id="warning-modal-overlay"></div>
    <div class="modal-content" id="warning-modal-content">
        <div class="modal-inner">
            <a href="#" id="warning-exit-overlay" class="modal-exit">Close</a>
            <h3 class="heading-medium">Federation closure</h3>
            <p>This federation has no linked establishments, so it will be set as closed once you save the record. Do you wish to proceed?</p>
        </div>
        <div class="button-row">
            <a href="#" class="button mobile-full-width" id="overlay-proceed">Proceed</a>
            <a href="#" class="button button-grey mobile-full-width" id="overlay-cancel">Cancel</a>
        </div>
    </div>
}

