<h2 class="govuk-heading-m">Key</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">🙋</dt>
    <dd class="govuk-summary-list__value">user need</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">📜</dt>
    <dd class="govuk-summary-list__value">policy (explicit or intended)</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">📚</dt>
    <dd class="govuk-summary-list__value">contracts & funding</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">💻</dt>
    <dd class="govuk-summary-list__value">digital service</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">📊</dt>
    <dd class="govuk-summary-list__value">data</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">🔒</dt>
    <dd class="govuk-summary-list__value">security / GDPR</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">🚧</dt>
    <dd class="govuk-summary-list__value">ECF 1 - TBC if needed for ECF 2</dd>
  </div>
</dl>
