<h2 class="govuk-heading-m">Key</h2>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Emoji</th>
      <th scope="col" class="govuk-table__header">Meaning</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">🙋</td>
      <td class="govuk-table__cell">user need</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">📜</td>
      <td class="govuk-table__cell">policy (explicit or intended)</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">📚</td>
      <td class="govuk-table__cell">contracts & funding</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">💻</td>
      <td class="govuk-table__cell">digital service</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">📊</td>
      <td class="govuk-table__cell">data</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">🔒</td>
      <td class="govuk-table__cell">security / GDPR</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">🚧</td>
      <td class="govuk-table__cell">ECF 1 - TBC if needed for ECF 2</td>
    </tr>
  </tbody>
</table>
