.no-js {
    .file-selector { 
        display: none;
    }

    .file-name {
        display: none;
    }
}

.js-enabled {
   .upload-control-wrapper {
       position: relative;
       height: 40px;
    }

    .file-selector { 
        position: absolute;
        left: 0;
        top: 0;
        z-index: 12;
    }

    .file-name {
        min-width: 290px;
        border: 0;
        position: relative;
        top: 8px;
    }

    .text-field-wrapper {
        width: 100%;
        padding-left: 130px;
        position: absolute;
        z-index: 8;
        top:0;
        bottom: 0;
    }

    .file-input {
        position: absolute;
        left:0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 10;
        @include opacity(0);
    }
}

.spaced-groups {
    .form-group {
        margin-bottom: 45px;
    }
}

.error-summary {
    a {
        display: block;
    }
}

.bulk-update-success {
    margin: 20px 0;
    div.tick {
        top: 5px;
    }
    a.cross {
        top: 10px;
    }
}