.govuk-notification-banner--warning {
  border-color: govuk-colour("red");
  background-color: govuk-colour("red");
}

.govuk-notification-banner {
  .govuk-notification-banner__content > * {
    max-width: 100%;
  }
  
  .govuk-button {
    float: right;
  }
}

.govuk-notification-banner-summary {
  color: govuk-colour("dark-grey");
}

.govuk-notification-banner-global {
  margin-bottom: 20px;
}

.govuk-notification-banner-preview {
  margin-bottom: 0;
}
