.gias-back-link--button {
  background: transparent;
  border: 0;
  text-decoration: underline;
  cursor: pointer;

  &:focus,
  &:active {
    box-shadow: none;
    text-decoration: underline;
  }
}
