.govuk-notification-banner--warning {
  border-color: #d4351c;
  background-color: #d4351c;
}

.govuk-notification-banner {
  .govuk-notification-banner__content > * {
    max-width: 100%;
  }
  
  .govuk-button {
    float: right;
  }
}
