.govuk-accordion {
  margin-bottom: govuk-spacing(2);
}

.govuk-accordion__open-all {
  text-decoration: underline;
}

.govuk-accordion__controls {
  margin-bottom: govuk-spacing(1);
}

.gias-scroll-to-top {
  @include govuk-font($size: 16);
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  border-width: 0;
  color: $govuk-link-colour;
  text-decoration: underline;
  background: none;
  cursor: pointer;
  -webkit-appearance: none;
  float: left;

  @include govuk-link-common;
  @include govuk-link-style-default;

  // Remove default button focus outline in Firefox
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

.govuk-accordion__buttons {
  @include govuk-media-query($until: tablet) {
    margin-top: govuk-spacing(2);
  }
  margin-bottom: 0;
}

.govuk-accordion-user-content {
  @include govuk-media-query($until: tablet) {
    padding-bottom: govuk-spacing(8);
	margin-top: 0;
  }
}