.gias-filter-toggle--container {
  text-align: right;
  position: relative;
  padding: 10px 0;
  display: none;
}

.gias-filter-toggle--icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}
