@import "icon-helpers";

.icon-map {
  @extend %icon;
  margin-left: 27px;

  &:before {
    background-image: url("/public/assets/images/icons/map-icon-black.png");
    left: -27px;
    top: -5px;
  }
}

