@using Edubase.Services.Downloads.Models;
@model FileDownload[]
@{
    ViewBag.Title = "Downloads";
    ViewBag.HideLogo = true;
}

<h1 class="heading-large">Downloads</h1>
<p>Select a file to download</p>

<ul class="lis">
    @foreach (var item in Model)
    {
        <li class="download-list-item">
           <span class="icon-link-copy">
                <a href="@item.Url" target="_blank" rel="nofollow" class="js-track" data-track="download-data-page|@item.Description)|download">@item.Description</a>
                in ZIP format. @ConvertBytesToMegabytes(item.FileSizeInBytes) MB
            </span>

        </li>
    }

</ul>

@functions {

    double ConvertBytesToMegabytes(long bytes, int decimalPlaces = 2, double minimumValue = 0)
    {
        var mb = Math.Round((double)bytes / 1024 / 1024, decimalPlaces);
        return mb > minimumValue ? mb : minimumValue;
    }
}