@helper BackToTopLink() {
    <a class="back-to-top-link" href="#top">
        <svg role="presentation" focusable="false" class="back-to-top-icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>
        Back to top
    </a>
}

@helper MapButtonIcon()
{
    <svg width="20px" height="30px" viewBox="0 0 20 30" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M10,0 C15.5228475,0 20,4.96379951 20,11.0869565 C20,17.2101135 10,30 9.97821351,30 C9.97242216,30 9.2646317,29.0962442 8.22846607,27.654196 L7.92380612,27.2278506 C6.77632342,25.6131918 5.3074999,23.4459539 3.94691638,21.146335 L3.57885453,20.5161997 C1.63361341,17.1413409 0,13.5672227 0,11.0869565 C0,4.96379951 4.4771525,0 10,0 Z M10,4.58937198 C6.93175139,4.58937198 4.44444444,7.34703838 4.44444444,10.7487923 C4.44444444,14.1505462 6.93175139,16.9082126 10,16.9082126 C13.0682486,16.9082126 15.5555556,14.1505462 15.5555556,10.7487923 C15.5555556,7.34703838 13.0682486,4.58937198 10,4.58937198 Z" id="Combined-Shape" fill="currentColor"></path>
        </g>
    </svg>
}

@helper BurgerButtonIcon()
{
    <svg width="20px" height="20px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" focusable="false" role="presentation">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Group" fill="currentColor">
                <polygon points="0 0.636363636 20 0.636363636 20 5.63636364 0 5.63636364"></polygon>
                <polygon points="0 7.81818182 20 7.81818182 20 12.8181818 0 12.8181818"></polygon>
                <polygon points="0 15 20 15 20 20 0 20"></polygon>
            </g>
        </g>
    </svg>
}

@helper FilterIcon()
{
    <svg width="20" height="20" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg" focusable="false" role="presentation">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M30,4.56523708e-13 L19.787,8.857 L19.787234,30 L10.212766,23.8870644 L10.212,8.856 L-1.13686838e-13,4.52970994e-13 L30,4.56523708e-13 Z" fill="currentColor"></path>
        </g>
    </svg>
}

@helper FilterSkipLink(string resultsContainerId = "#results-container")
{
    <a href="@resultsContainerId" class="govuk-visually-hidden-focusable gias-filter-skip-link">Skip to results</a>
}

@helper DialogHiddenPrompt()
{
    <span class="govuk-visually-hidden">Opens a dialog</span>
}

@helper CssSpinner()
{
    <div id="loading-spinner" class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
}
