/*doc
---
title: Collapsibles
name: collapsible
category: Javascript
---
```html_example
<h4 class="styleguide">Basic Collapsible</h4>
<div class="js-collapsible js-collapsible-closed">
  <div class="js-collapsible-head">
    <span class="collabsible-label">collapsible-head</span>
  </div>
  <div id="collapsible1" class="collapsible-container">
      collapsible content
  </div>
</div>
```
*/

.js-enabled {
  /*padding: 0 0 1px 0;*/

  .collapsible-container {
    /*border: 5px solid transparent;*/
  }

  /* styles for collapsibleness. .js-collapsible is added by the javascript if the browser is not ie6/7 in which case these don't collapse */
  .js-collapsible {

    .collapsible-label {
      @include core-19;
      margin-right: 40px;
      font-weight: bold;
      padding-top:5px;
    }

    .collapsible-button {
      @include core-19;
      padding: 5px 0;
      z-index: 100;
      position: relative;
      border: none;
      display: block;
      width: 100%;
      text-align: left;
      cursor: pointer;
      margin-bottom: -1px;
      background-color: transparent;
      background: file-url('govuk-component/option-select-toggle-sprite.png') no-repeat right 5px;

      @include device-pixel-ratio() {
        background-size: 32px 50px;
      }

      &:hover {
        background-color: transparent;
      }

      &:hover + .collapsible-container {
        border-color: transparent;
      }

      &[disabled] {
        background-image: none;
        color: inherit;
      }
    }
  }

  .js-collapsible-closed {
      button {
        background-position: right -75px;
      }

      .collapsible-container {
        display: none;
      }
    }
}
