/*doc
---
title: Browse
name: browse
category: Components
---
```html_example
<h4 class="styleguide">Browse Example</h4>
<div class="browse">
  <h1 class="visuallyhidden" tabindex="-1">All categories</h1>
  <ul>
    <li class="active">
      <a href="#">Benefits</a>
    </li>
    <li>
      <a href="#">Births, deaths, marriages and care</a>
    </li>
    <li>
      <a href="#">Business and self-employed</a>
    </li>
    <li>
      <a href="#">Citizenship and living in the UK</a>
    </li>
  </ul>
</div>
```
*/

.browse {
  min-height: 20px;

  h1, h2 {
    @include media(tablet) {
      padding-left: 15px;
    }
  }

  .visuallyhidden {
    position: absolute !important;
  }

  .sort-order {
    display: none;
  }

  ul {
    li {
      list-style: none;
      position: relative;
    }

    a {
      position: relative;
      display: block;
      @include core-16;
      text-decoration: none;
      padding: 12px 30px 8px 15px;

      @include media(desktop) {
        @include core-19;
      }

      &:hover {
        background: $panel-colour;
        color: $link-colour;
      }

      &:after {
        position: absolute;
        /* top: 50%; */
        margin-top: -1px;
        right: 10px;
        float: right;
        content: "\203A";
      }

      &.loading {
        cursor: default;
        background: transparent image-url("loading.gif") 95% 50% no-repeat;

        &:after {
          content: "";
        }
      }

      h3 {
        font-weight: bold;
      }

      p {
        color: $text-colour;
        @include core-14;
      }
    }

    li.active a {
      background: $link-colour;
      color: $white;

      &:hover {
        background: $link-colour;
      }

      p {
        color: $white;
      }
    }
  }
}
