@using Edubase.Web.UI.Controllers
@{
    ViewBag.Title = "Accessibility statement for Get Information about Schools";
    ViewBag.LastUpdatedDate = "14th October 2020";
}
@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Help", "Help", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Accessibility statement for Get Information about Schools</h1>
        <p>
            This service is part of the wider GOV.UK website. There&apos;s a separate accessibility statement for the main GOV.UK website.
        </p>

        <p>
            This page only contains information about the Get Information about Schools service, available at
            <a href="https://www.get-information-schools.service.gov.uk/">https://www.get-information-schools.service.gov.uk/</a>
        </p>


        <h2 class="govuk-heading-m">Using this service</h2>
        <p>
            This service is run by the Department for Education. We want as many people as possible to be able to use this service.
            For example, that means you should be able to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>change colours and contrast</li>
            <li>zoom in up to 300% without any problems</li>
            <li>navigate the service using just a keyboard</li>
            <li>navigate the service using speech recognition software</li>
            <li>listen to the service using a screen reader (including the most recent versions of JAWS, Windows Narrator, VoiceOver, Dragon Naturally Speaking and Fusion).</li>
        </ul>

        <p>
            We&apos;ve also made the text in the service as simple as possible to understand.
        </p>
        <p>
            AbilityNet has advice on making your device easier to use if you have a disability.
        </p>


        <h2 class="govuk-heading-m">How accessible this service is</h2>
        <p>Some people may find parts of this service difficult to use:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                users of high contrast mode may find their preferences do not work well with some of the maps and associated features
                as the map tiles and markers retain their original styling
            </li>
            <li>
                whilst navigating via keyboard, toggling between list and map view causes loss of keyboard focus.
                The map markers do not have a visible indication when focused
            </li>
        </ul>


        <h2 class="govuk-heading-m">What to do if you have difficulty using this service</h2>
        <p>If you have difficulty using this service, contact us by clicking on the contact link in the page footer.</p>
        <p>
            As part of providing this service, we may need to send you messages or documents. We&apos;ll ask you how you want us
            to send messages or documents to you, but contact us if you need them in a different format.
        </p>


        <h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>
        <p>
            We&apos;re always looking to improve the accessibility of this service. If you find any problems that aren&apos;t listed
            on this page or think we&apos;re not meeting accessibility requirements please contact us using the contact link
            in the page footer.
        </p>

        <h2 class="govuk-heading-m">Enforcement procedure</h2>
        <p>
            The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies
            (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the &lsquo;accessibility regulations&rsquo;).
            If you&apos;re not happy with how we respond to your complaint, contact the Equality Advisory and
            Support Service (EASS).
        </p>

        <h2 class="govuk-heading-m">Contacting us</h2>
        <p>You can contact us about this service using the contact link in the page footer.</p>
        <p>
            If your query is about anything else or you need to contact us by phone,  you can find out how to contact us at
            <a href="https://www.gov.uk/contact-dfe" target="_blank" rel="noreferrer noopener">
                www.gov.uk/contact-dfe (opens in new tab)
            </a>
        </p>


        <h2 class="govuk-heading-m">Technical information about this service&apos;s accessibility</h2>
        <p>
            The Department for Education is committed to making this service accessible, in accordance with the Public Sector
            Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
        </p>
        <p>
            This service is fully compliant with the Web Content Accessibility Guidelines version 2.1 AA standard.
        </p>


        <h2 class="govuk-heading-m">How we tested this service</h2>

        <p>
            The service was last tested on 14 August 2020 and was checked for compliance with WCAG 2.1 AA. The test was carried
            out by the Department for Education Technology Services Accessibility Compliance team.
        </p>

        <p>
            You can @Html.ActionLink("access the full audit report here", nameof(HomeController.AccessibilityReport), "Home", new { area = "" }, null).
        </p>

        <h2 class="govuk-heading-m">What we&apos;re doing to improve accessibility</h2>

        <p>
            We continually review and test our service with users including users of assistive technology. When accessibility
            issues are found we will always prioritise this within our work plans.
        </p>

        <p>This page was prepared on 10 September 2020. It was last updated on @ViewBag.LastUpdatedDate.</p>

        <back-to-top-link />
    </div>
</div>
