@{
    ViewBag.Title = "Get information about schools";
    ViewBag.SiteSection = "help";
}
@section BreadCrumbs
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Home", "Index", "Search", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Help", "Help", "Home", new { area = "" }, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">How cookies are used on this service</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters-from-desktop">
        <div class="cookies">
            <section class="gias-readability">
                <p>
                    Get information about schools puts small files (known as &lsquo;cookies&rsquo;) onto your computer to
                    collect information about how you browse the site.
                </p>

                <p>Cookies are used to:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>measure how you use the website so it can be updated and improved based on your needs</li>
                    <li>remember the notifications you&apos;ve seen so that we don&apos;t show them to you again</li>
                </ul>

                <p>The cookies aren&apos;t used to identify you personally.</p>

                <p>You&apos;ll normally see a message on the site before we store a cookie on your computer.</p>

                <p>
                    Find out more about
                    <a href="http://www.aboutcookies.org/" target="_blank" rel="noreferrer noopener">
                        how to manage cookies (opens in new tab)</a>.
                </p>
            </section>
            <section class="gias-readability">

                <h2 class="govuk-heading-m">Measuring website usage</h2>

                <p>
                    We use Google Analytics software to collect information about how you use this website. We do this to help
                    make sure the site is meeting the needs of its users and to help us make improvements, for example
                    <a href="https://insidegovuk.blog.gov.uk/2015/03/26/new-tool-to-see-trending-searches/" target="_blank" rel="noreferrer noopener">
                        improving site search (opens in new tab)</a>.
                    We also send cross-domain tracking information to GOV.UK to help us understand and monitor performance data across multiple public services.
                </p>

                <p>Google Analytics stores information about:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>the pages you visit on this website</li>
                    <li>how long you spend on each page</li>
                    <li>how you got to the site</li>
                    <li>what you click on while you&apos;re visiting the site</li>
                </ul>

                <p>We don&apos;t collect or store your personal information (for example your name or address) so this information can&apos;t be used to identify who you are.</p>

                <p>We don&apos;t allow Google to use or share our analytics data.</p>

                <p>Google Analytics sets the following cookies:</p>

                <div class="table-wrapper">
                    <table class="govuk-table gias-cookie-table">
                        <caption class="govuk-visually-hidden">Google Analytics cookies</caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" role="columnheader" class="govuk-table__header">
                                Name
                            </th>
                            <th scope="col" role="columnheader" class="govuk-table__header">
                                Purpose
                            </th>
                            <th scope="col" role="columnheader" class="govuk-table__header">
                                Expires
                            </th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">_ga</td>
                            <td class="govuk-table__cell" data-label="Purpose">This helps us count how many people visit GOV.UK by tracking if you&apos;ve visited before</td>
                            <td class="govuk-table__cell" data-label="Expires">2 years</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">_gat</td>
                            <td class="govuk-table__cell" data-label="Purpose">Used to manage the rate at which page view requests are made</td>
                            <td class="govuk-table__cell" data-label="Expires">10 minutes</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">_gid</td>
                            <td class="govuk-table__cell" data-label="Purpose">Used to distinguish users</td>
                            <td class="govuk-table__cell" data-label="Expires">24 hours</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <p>
                    You can
                    <a href="https://tools.google.com/dlpage/gaoptout" target="_blank" rel="noreferrer noopener">
                        opt out of Google Analytics cookies (opens in new tab)</a>.
                </p>
            </section>
            <section class="gias-readability">
                <h2 class="govuk-heading-m">Essential cookies</h2>

                <h3 class="govuk-heading-s">Our introductory message</h3>

                <p>You may see a pop-up welcome message when you first visit GOV.UK. We&apos;ll store a cookie so that your computer knows you&apos;ve seen it and knows not to show it again.</p>

                <div class="table-wrapper">
                    <table class="govuk-table gias-cookie-table">
                        <caption class="govuk-visually-hidden">GOV.UK cookies</caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" role="columnheader" class="govuk-table__header">
                                Name
                            </th>
                            <th scope="col" role="columnheader" class="govuk-table__header">
                                Purpose
                            </th>
                            <th scope="col" role="columnheader" class="govuk-table__header">
                                Expires
                            </th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">seen_cookie_message</td>
                            <td class="govuk-table__cell" data-label="Purpose">Saves a message to let us know that you&apos;ve seen our cookie message</td>
                            <td class="govuk-table__cell" data-label="Expires">1 month</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="gias-readability">

                <h3 class="govuk-heading-s">Get information about schools</h3>

                <div class="table-wrapper">
                    <table class="govuk-table gias-cookie-table">
                        <caption class="govuk-visually-hidden">Get information about schools</caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" role="columnheader" class="govuk-table__header">
                                Name
                            </th>
                            <th scope="col" role="columnheader" class="govuk-table__header">
                                Purpose
                            </th>
                            <th scope="col" role="columnheader" class="govuk-table__header">
                                Expires
                            </th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">AspNet.ApplicationCookie</td>
                            <td class="govuk-table__cell" data-label="Purpose">One of the ways that we manage the user access to the service</td>
                            <td class="govuk-table__cell" data-label="Expires">When you close your browser</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">AspNet.ExternalCookie</td>
                            <td class="govuk-table__cell" data-label="Purpose">One of the ways that we manage the user access to the service</td>
                            <td class="govuk-table__cell" data-label="Expires">When you close your browser</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">__RequestVerificationToken</td>
                            <td class="govuk-table__cell" data-label="Purpose">One of the ways that we manage the user access to the service</td>
                            <td class="govuk-table__cell" data-label="Expires">When you close your browser</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">AcceptedTermsOfUse</td>
                            <td class="govuk-table__cell" data-label="Purpose">Records your acceptance of the website's terms and conditions so you do not have to accept them on every visit</td>
                            <td class="govuk-table__cell" data-label="Expires">12 months</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">seen-news-banner</td>
                            <td class="govuk-table__cell" data-label="Purpose">Saves a message to let us know that you&apos;ve seen our news banner</td>
                            <td class="govuk-table__cell" data-label="Expires">1 month</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
