@{
    ViewBag.Title = "Get information about schools";
}

<div class="grid-row">
    <div class="column-full">
        <div class="breadcrumbs">
            <ol>
                <li>@Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)</li>
            </ol>
        </div>
        <h1 class="heading-xlarge">Cookies</h1>
    </div>
</div>

<div class="cookies">
    <p>
        Get information about schools puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.
        We also send cross-domain tracking information to GOV.UK to help us understand and monitor performance data across multiple public services.
    </p>

    <p>Cookies are used to:</p>

    <ul class="font-small list list-bullet">
        <li>measure how you use the website so it can be updated and improved based on your needs</li>
        <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
    </ul>

    <p>The cookies aren’t used to identify you personally.</p>

    <p>You’ll normally see a message on the site before we store a cookie on your computer.</p>

    <p>Find out more about <a href="http://www.aboutcookies.org/" target="_blank" rel="external">how to manage cookies <span class="visually-hidden">Opens in new window</span></a>.</p>

    <h2 class="heading-medium">How cookies are used on this website</h2>

    <h3 class="heading-small">Measuring website usage (Google Analytics)</h3>

    <p>We use Google Analytics software to collect information about how you use this website. We do this to help make sure the site is meeting the needs of its users and to help us make improvements, for example <a href="https://insidegovuk.blog.gov.uk/2015/03/26/new-tool-to-see-trending-searches/" target="_blank" rel="external">improving site search <span class="visually-hidden">Opens in new window</span></a>.</p>

    <p>Google Analytics stores information about:</p>

    <ul class="font-small list list-bullet">
        <li>the pages you visit on this website</li>
        <li>how long you spend on each page</li>
        <li>how you got to the site</li>
        <li>what you click on while you’re visiting the site</li>
    </ul>

    <p>We don’t collect or store your personal information (for example your name or address) so this information can’t be used to identify who you are.</p>

    <p>We don’t allow Google to use or share our analytics data.</p>

    <p>Google Analytics sets the following cookies:</p>

    <div class="table-wrapper">
        <table class="report-table">
            <caption>Google Analytics cookies</caption>
            <thead>
                <tr class="header-row1">
                    <th scope="col" role="columnheader">
                        Name
                    </th>
                    <th scope="col" role="columnheader">
                        Purpose
                    </th>
                    <th scope="col" role="columnheader">
                        Expires
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="u-textLeft">_ga</td>
                    <td class="u-textLeft">This helps us count how many people visit GOV.UK by tracking if you’ve visited before</td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td class="u-textLeft">_gat</td>
                    <td class="u-textLeft">Used to manage the rate at which page view requests are made</td>
                    <td>10 minutes</td>
                </tr>
                <tr>
                    <td class="u-textLeft">_gid</td>
                    <td class="u-textLeft">Used to distinguish users</td>
                    <td>24 hours</td>
                </tr>
            </tbody>
        </table>
    </div>

    <p>You can <a href="https://tools.google.com/dlpage/gaoptout" target="_blank" rel="external">opt out of Google Analytics cookies <span class="visually-hidden">Opens in new window</span></a>.</p>

    <h3 class="heading-small">Our introductory message</h3>

    <p>You may see a pop-up welcome message when you first visit GOV.UK. We’ll store a cookie so that your computer knows you’ve seen it and knows not to show it again.</p>

    <div class="table-wrapper">
        <table class="report-table">
            <caption>GOV.UK cookies</caption>
            <thead>
                <tr class="header-row1">
                    <th scope="col" role="columnheader">
                        Name
                    </th>
                    <th scope="col" role="columnheader">
                        Purpose
                    </th>
                    <th scope="col" role="columnheader">
                        Expires
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="u-textLeft">seen_cookie_message</td>
                    <td class="u-textLeft">Saves a message to let us know that you’ve seen our cookie message</td>
                    <td>1 month</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3 class="heading-small">Get information about schools</h3>

    <div class="table-wrapper">
        <table class="report-table">
            <caption>Get information about schools</caption>
            <thead>
                <tr class="header-row1">
                    <th scope="col" role="columnheader">
                        Name
                    </th>
                    <th scope="col" role="columnheader">
                        Purpose
                    </th>
                    <th scope="col" role="columnheader">
                        Expires
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="u-textLeft">AspNet.ApplicationCookie</td>
                    <td class="u-textLeft">One of the ways that we manage the user access to the service</td>
                    <td>When you close your browser</td>
                </tr>
                <tr>
                    <td class="u-textLeft">AspNet.ExternalCookie</td>
                    <td class="u-textLeft">One of the ways that we manage the user access to the service</td>
                    <td>When you close your browser</td>
                </tr>
                <tr>
                    <td class="u-textLeft">__RequestVerificationToken</td>
                    <td class="u-textLeft">One of the ways that we manage the user access to the service</td>
                    <td>When you close your browser</td>
                </tr>
                <tr>
                    <td class="u-textLeft">AcceptedTermsOfUse</td>
                    <td class="u-textLeft">Records your acceptance of the website's Terms and conditions so you do not have to accept them on every visit</td>
                    <td>12 months</td>
                </tr>
                <tr>
                    <td class="u-textLeft">seen-news-banner</td>
                    <td class="u-textLeft">Saves a message to let us know that you’ve seen our news banner</td>
                    <td>1 month</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
