@{
    ViewBag.Title = "Edubase";
}

<div class="grid-row">
    <div class="column-full">
        <div class="breadcrumbs">
            <ul>
                <li>
                    @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
                </li>
            </ul>

        </div>
        <h1 class="heading-xlarge">Guidance</h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-half">
        <p>Use the download links below for general guidance about 'Get information about schools' and for help with specific areas.</p>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <ul class="lis">
            <li class="download-list-item">
                <span class="icon-link-copy">
                    <a href="#" target="_blank" rel="nofollow" class="js-track" data-track="guidance|#)|download">General guidance PDF, 425KB</a>
                </span>
            </li>
            <li class="download-list-item">
                <span class="icon-link-copy">
                    <a href="#" target="_blank" rel="nofollow" class="js-track" data-track="guidance|#)|download">Establishment bulk update guidance PDF, 230KB </a>
                </span>
            </li>
            <li class="download-list-item">
                <span class="icon-link-copy">
                    <a href="#" target="_blank" rel="nofollow" class="js-track" data-track="guidance|#)|download">Children's centres guidance PDF, 535KB </a>
                </span>
            </li>
            <li class="download-list-item">
                <span class="icon-link-copy">
                    <a href="#" target="_blank" rel="nofollow" class="js-track" data-track="guidance|#)|download">Federation guidance PDF, 165KB</a>
                </span>
            </li>
            <li class="download-list-item">
                <span class="icon-link-copy">
                    <a href="#" target="_blank" rel="nofollow" class="js-track" data-track="guidance|#)|download">Governance guidance PDF, 320KB</a>
                </span>
            </li>
        </ul>
    </div>
</div>
