@{
    ViewBag.Title = "Get information about schools";
}

<div class="grid-row">
    <div class="column-full">
        <div class="breadcrumbs">
            <ul>
                <li>
                    @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
                </li>
            </ul>

        </div>
        <h1 class="heading-xlarge">Guidance</h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-half">
        <p>Use the download links below for general guidance about Get information about schools and for help with specific areas.  For explanations of terms used on the site, see the @Html.RouteLink("glossary", "Glossary").</p>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <ul class="lis">
            <li class="download-list-item">
                <span class="icon-link-copy">
                    <a href="https://edubasepr.blob.core.windows.net/guidance/General%20user%20guide.pdf" target="_blank" rel="nofollow" class="js-track" data-track="guidance|general|download">General guidance PDF, 813KB <span class="visually-hidden">Opens in new window</span></a>
                </span>
            </li>
            <li class="download-list-item">
                <span class="icon-link-copy">
                    <a href="https://edubasepr.blob.core.windows.net/guidance/Establishment_Bulk_Update_Guide.pdf" target="_blank" rel="nofollow" class="js-track" data-track="guidance|establish-bulk-update|download">Establishment bulk update guidance PDF, 353KB <span class="visually-hidden">Opens in new window</span></a>
                </span>
            </li>
            <li class="download-list-item">
                <span class="icon-link-copy">
                    <a href="https://edubasepr.blob.core.windows.net/guidance/Children%27s%20centres%20user%20guide.pdf" target="_blank" rel="nofollow" class="js-track" data-track="guidance|childrens-centre-guidance|download">Children's centres guidance PDF, 764KB <span class="visually-hidden">Opens in new window</span></a>
                </span>
            </li>
            <li class="download-list-item">
                <span class="icon-link-copy">
                    <a href="https://edubasepr.blob.core.windows.net/guidance/Federation%20User%20Guide.pdf" target="_blank" rel="nofollow" class="js-track" data-track="guidance|federation|download">Federation guidance PDF, 183KB <span class="visually-hidden">Opens in new window</span></a>
                </span>
            </li>
            <li class="download-list-item">
                <span class="icon-link-copy">
                    <a href="https://edubasepr.blob.core.windows.net/guidance/Governance%20User%20Guide.pdf" target="_blank" rel="nofollow" class="js-track" data-track="guidance|governance|download">Governance guidance PDF, 118KB <span class="visually-hidden">Opens in new window</span></a>
                </span>
            </li>
        </ul>
    </div>
</div>
