@model IHtmlString
@{
    ViewBag.Title = "Edubase";
    ViewBag.bodyClasses = "news-page";
}

<div class="grid-row">
    <div class="column-full">
        <div class="breadcrumbs">
            <ul>
                <li>
                    @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
                </li>
                <li>
                    @Html.ActionLink("News", "News", "Home")
                </li>
            </ul>
        </div>
        <h1 class="heading-xlarge">Areas under development</h1>
    </div>
</div>
<div class="grid-row news">
    <div class="column-full">
        @Model
    </div>
</div>
