@model IHtmlString
@{
    ViewBag.Title = "Get information about schools";
    ViewBag.bodyClasses = "news-page";
    ViewBag.SiteSection = "news";
}

@section BreadCrumbs
 {
 <div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
         <div class="govuk-breadcrumbs">
             <ol class="govuk-breadcrumbs__list">
                 <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Search", "Index", "Search", new { area = "" }, new { @class = "govuk-breadcrumbs__link"})</li>
                 <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("News", "News", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link"})</li>
             </ol>
         </div>
     </div>
 </div>
 }


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">News archive</h1>
        <p class="govuk-!-margin-bottom-2">These are news items older than 6 months. <a href="\News">Visit the news page</a> for more recent news items.</p>
        <p class="govuk-!-margin-bottom-2">All news items show what was originally displayed at the time of publication, therefore some links in these news items may no longer work.</p>
    </div>
</div>
<div class="govuk-grid-row news">

    <div class="govuk-grid-column-two-thirds news-blog">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>
        @Model
    </div>

</div>
