@model IHtmlString
@{
    ViewBag.Title = "Get information about schools";
    ViewBag.bodyClasses = "news-page";
    ViewBag.SiteSection = "news";
}
@section BreadCrumbs
{
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Search", new { area = "" }, new { @class = "govuk-breadcrumbs__link"})</li>
                <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Help", "Help", "Home", new { area = "" }, new {@class = "govuk-breadcrumbs__link"})</li>
            </ol>
        </div>
    </div>
</div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">News</h1>
        <div class="gias-align-right">
            @Html.ActionLink("News archive", "NewsArchive", "Home")
        </div>
    </div>
</div>
<div class="govuk-grid-row news">

    <div class="govuk-grid-column-two-thirds news-blog">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>
        @Model
    </div>

    <div class="govuk-grid-column-one-third about">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>

        <h3 class="govuk-heading-m">About the Get information about schools service</h3>
        <p>
            Welcome to the Get information about schools service.
        </p>
        <p>
            This service replaces the previous EduBase system. You can use it to find details about schools, children's centres, academy trusts and sponsors, and school federations in England.
            Some information about Welsh establishments is also available.
        </p>
        <p>
            Establishments can also update their records using this service.
        </p>
        <p>
            All content is available under the Open Government Licence v3.0, except where otherwise stated. The Open Government Licence does not cover personal information as defined in data protection legislation.
            Any personal information that is processed further by any organisation for other purposes will be subject to the terms of data protection legislation.
        </p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>

    </div>

</div>
