@{
    ViewBag.Title = "Get information about schools";
}

<div class="grid-row">
    <div class="column-full">
        <div class="breadcrumbs">
            <ol>
                <li>@Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)</li>
            </ol>
        </div>
        <h1 class="heading-xlarge">Privacy notice</h1>

        <h2 class="heading-medium subheading">Who we are</h2>
        <p>
            This work is being carried out by Data Group, which is a part of the Department for Education (DfE). For the purpose of data protection legislation, the DfE is the data controller for the personal data processed as part of Get Information About Schools.
        </p>


        <h2 class="heading-medium subheading">How we will use your information</h2>
        <p>
            We receive your personal data from early years and compulsory school age establishments, further and higher education institutions, local authorities and academy trusts, and are processing it in order to compile and maintain the official register of educational establishments in England and Wales for internal use and as a source of reference by the education sector and general public. More information about this work is available from the Academies Financial Handbook and the Governance Handbook.
        </p>


        <h2 class="heading-medium subheading">The nature of your personal data we will be using</h2>
        <p>
            The categories of your personal data that we will be using for this project are:<br />
            <br />
            Personal information such as: </p>
            <ul class="font-small list list-bullet">
                <li>Head teachers and governors name and email address</li>
                <li>Authorised and public users internet protocol address (IP)</li>
            </ul>
        <p>Special category data for school governors as detailed in the Academies Financial Handbook and the Governance Handbook.</p>



        <h2 class="heading-medium subheading">Why our use of your personal data is lawful</h2>
        <p>
            In order for our use of your personal data to be lawful, we need to meet one (or more) conditions in the data protection legislation. For the purpose of this project, the relevant condition(s) that we are meeting are Article 6(1)(e) and Article 9(2)(e and g) of the General Data Protection Regulation (GDPR).
        </p>


        <h2 class="heading-medium subheading">Who we will make your personal data available to</h2>
        <p>
            We sometimes need to make personal data available to other organisations. These might include contracted partners (who we have employed to process your personal data on our behalf) and/or other organisations (with whom we need to share your personal data for specific purposes).<br />
            <br /></p>
            Where we need to share your personal data with others, we ensure that this data sharing complies with data protection legislation. For the purpose of this project:
            <ul class="font-small list list-bullet">
                <li>we are employing Texuna Technologies Ltd and Olive Jar Ltd to process your personal data on our behalf. This means that they will maintaining and developing the Get Information About School service as we progress through our public beta.</li>
                <li>we need to share your personal data with other government departments and non-departmental public bodies such as HMRC and Ofsted in order for them to perform official functions and tasks within the public interest. This data sharing is lawful because it meets the conditions of Article 6(1)(e) of the GDPR.</li>
            </ul>




        <h2 class="heading-medium subheading">How long we will keep your personal data</h2>
        <p>
            We will only keep your personal data for as long as we need it for the purpose(s) of this piece of work, after which point it will be securely destroyed. Please note that, under Data Protection legislation, and in compliance with the relevant data processing conditions, personal data can be kept for longer periods of time when processed purely for archiving purposes in the public interest, scientific or historical research, and statistical purposes.
        </p>


        <h2 class="heading-medium subheading">Your data protection rights</h2>
            <p>
                Under certain circumstances, you have the right:</p>
            <ul class="font-small list list-bullet">
                <li>to ask us for access to information about you that we hold</li>
                <li>to have your personal data rectified, if it is inaccurate or incomplete</li>
                <li>to request the deletion or removal of personal data where there is no compelling reason for its continued processing</li>
                <li>to restrict our processing of your personal data (i.e. permitting its storage but no further processing)</li>
                <li>to object to direct marketing (including profiling) and processing for the purposes of scientific/historical research and statistics</li>
                <li>not to be subject to decisions based purely on automated processing where it produces a legal or similarly significant effect on you</li>
            </ul>
            <p>
                 If you need to contact us regarding any of the above, please do so via the DfE site at: <a href="https://www.gov.uk/contact-dfe" target="_blank" rel="external">https://www.gov.uk/contact-dfe<span class="visually-hidden"> Opens in new window</span></a>.<br/>
                Further information about your data protection rights appears on the Information Commissioner’s website at: <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/" target="_blank" rel="external">https://ico.org.uk/for-organisations/guide-to-data-protection/<span class="visually-hidden"> Opens in new window</span></a>.
            </p>


        <h2 class="heading-medium subheading">Your right to lodge a complaint</h2>
        <p>
            If you are unhappy with our use of your personal data, please let us know by contacting <a href="https://www.gov.uk/contact-dfe" target="_blank" rel="external">https://www.gov.uk/contact-dfe<span class="visually-hidden"> Opens in new window</span></a> and state the name of this project.<br />
            <br />
            Alternatively, you have the right to raise any concerns with the Information Commissioner’s Office (ICO) via their website at <a href="https://ico.org.uk/concerns/" target="_blank" rel="external">https://ico.org.uk/concerns/<span class="visually-hidden"> Opens in new window</span></a>.
        </p>


        <h2 class="heading-medium subheading">Last updated</h2>
        <p>We may need to update this privacy notice periodically so we recommend that you revisit this information from time to time. This version was last updated in June 2018</p>


        <h2 class="heading-medium subheading">Contact Info</h2>
        <p>If you have any questions about how your personal information will be processed, please contact us at <a href="https://www.gov.uk/contact-dfe" target="_blank" rel="external">https://www.gov.uk/contact-dfe<span class="visually-hidden"> Opens in new window</span></a> and enter the name of this project as a reference. For the Data Protection Officer (DPO) please contact us via gov.uk and mark it for the attention of the ‘DPO’.</p>

    </div>
</div>
