@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.SiteSection = "help";
}
@section BreadCrumbs
{
<div class="govuk-grid-row" xmlns="http://www.w3.org/1999/html">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Help", "Help", "Home", new { area = "" }, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">Privacy notice</h1>
        <p>
            The Department for Education has added privacy information regarding Get Information about Schools (GIAS) to the following privacy notice documents.
        </p>

        <p>
            <a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers" target="_blank" rel="noopener noreferrer">
                Privacy information: education providers&#39 workforce, including teachers - GOV.UK
            </a>
        </p>

        <p>
            There are several relevant sections for GIAS and we have highlighted some of them below:
        </p>

        <p>
            <a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers#using-your-data-to-contact-you-for-research-or-feedbackon-services-we-provide-to-you" target="_blank" rel="noopener noreferrer">
                Using your data to contact you for research or feedback on services we provide you
            </a>
        </p>

        <p>
            <a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers#using-your-data-to-maintain-lists-of-education-sector-contact-details" target="_blank" rel="noopener noreferrer">
                Using your data to maintain lists of education sector contact details
            </a>
        </p>

        <p>
            <a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers#using-your-data-to-use-our-websites" target="_blank" rel="noopener noreferrer">
                Using your data to use our websites
            </a>
        </p>
        <p>
            <a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers#using-your-data-when-we-share-your-personal-information" target="_blank" rel="noopener noreferrer">
                Using your data when we share your personal information
            </a>
        </p>

        <p>
            <a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-local-authority-employees/privacy-information-local-authority-employees#using-your-data-to-protect-learners-and-children" target="_blank" rel="noopener noreferrer">
                Privacy information: local authority employees
            </a>
        </p>
        <br>

        <p class="govuk-body-l">
            There are several relevant sections for GIAS and we have highlighted some of them below:
        </p>

        <p>
            <a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-local-authority-employees/privacy-information-local-authority-employees#using-your-data-to-contact-you-for-research-or-feedback-on-services-we-provide-to-you" target="_blank" rel="noopener noreferrer">
                Using your data to contact you for research or feedback on services we provide you
            </a>
        </p>
        <p>
            <a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-local-authority-employees/privacy-information-local-authority-employees#maintain-lists" target="_blank" rel="noopener noreferrer">
                Using your data to maintain lists of contact details
            </a>
        </p>
        <p>
            <a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-local-authority-employees/privacy-information-local-authority-employees#using-your-data-when-you-usedfesign-in" target="_blank" rel="noopener noreferrer">
                Using your data when you use DfE Sign-in
            </a>
        </p>
        <p>
            <a class="govuk-link" href="https://www.gov.uk/government/publications/privacy-information-local-authority-employees/privacy-information-local-authority-employees#using-your-data-when-you-use-our-websites" target="_blank" rel="noopener noreferrer">
                Using your data when you use our website
            </a>
        </p>
        <br>
        <p>
            There is also a personal information charter which you may find helpful:
        </p>
        <p>
            <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter" target="_blank" rel="noopener noreferrer">
                Personal information charter - Department for Education - GOV.UK
            </a>
        </p>
        <br>
        @helpers.BackToTopLink()
    </div>
</div>
