@{
    ViewBag.Title = "Get information about schools";
}

<div class="grid-row">
    <div class="column-full">
        <div class="breadcrumbs">
            <ol>
                <li>
                    @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
                </li>
                <li>
                    @Html.ActionLink("Help", "Help", "Home", new { area = "" }, null)
                </li>
                <li>
                    @Html.ActionLink("Guidance", "Index", "Guidance", new { area = "" }, null)
                </li>
            </ol>
        </div>
        <h1 class="heading-xlarge">Federation guidance</h1>
    </div>
</div>

<div class="grid-row">
    <div class="column-full guidance">
        <h2 class="heading-medium subheading">Introduction</h2>
        <p>This guide sets out the process for creating and editing details of school federations and linking establishments to them.</p>
        <p>To check if your establishment is already part of a federation, see the ‘Federation’ field of the ‘Details’ tab. This will display the federation’s name as a link to the federation page.</p>
        <p>The actions available on the federation page are.</p>
        <p>If your establishment is not linked to a federation, you can:</p>
        <ul class="font-small list list-bullet">
            <li>Create a new federation and link your establishment to it</li>
            <li>Link your establishment to an existing federation</li>
        </ul>
        <p>If your establishment is linked to a federation, you can:</p>
        <ul class="font-small list list-bullet">
            <li>Edit your federation details, such as federation name and shared headteacher</li>
            <li>Add establishments to your federation</li>
            <li>Remove establishments from your federation</li>
            <li>View federation change history</li>
        </ul>
        <p>Schools should only record federations with a single headteacher; there is no option to add a shared headteacher.</p>

        <h2 class="heading-medium subheading">Creating a new federation and linking establishments to it</h2>
        <p>To create a new federation, select ‘Tools’ in the top menu, then ‘Create new federation’ in the ‘Create’ section.</p>
        <p>Enter all the relevant information and add any additional establishments to the federation by selecting ‘Add establishment to the federation’.</p>
        <p>A federation must have at least two establishments. You will need the URNs of the other establishments in the federation to add to the record. An establishment’s URN can be found by searching for and viewing its record.</p>
        <p>
            <img src="~/public/assets/images/guidance/federation_tools_page.png" class="guidanceImage" alt="view of the tools page for a logged in user with Create new federation highlighted" />
            <img src="~/public/assets/images/guidance/federation_tools_page_mobile.png" class="guidanceMobileImage" alt="view of the tools page for a logged in user with Create new federation highlighted" />
        </p>

        <h2 class="heading-medium subheading">Add establishment to a federation</h2>
        <p>To add establishments to your federation, select the ‘Schools’ tab on your federation page, then the ‘Edit schools’ button.</p>
        <p>This will open a field for you to enter the URN of the establishment you wish to link with your federation. When the system finds the establishment, add the date it joined the federation.</p>
        <p>You can only link an establishment that is listed as ‘Open’ or ‘Open but proposed to close’ to a federation.</p>
        <p>Select ‘Add’. This will bring up a confirmation page of the changes you have made when creating the federation. If you’re happy with the details of the federation select ‘Submit’.</p>

        <h2 class="heading-medium subheading">Linking your establishment to an existing federation</h2>
        <p>To link your establishment to an existing federation, select ‘Find an establishment group’ on the ‘Search’ page, then search by the federation’s name or UID.</p>
        <p>In the ‘Schools’ tab, select ‘Edit schools’ and add your school’s URN.</p>
        <p>An establishment may only be linked to a single federation. Therefore, you will need to remove your establishment from any federation it is currently linked to, before joining another federation.</p>
        <p>Instructions for how to remove establishments from a federation are in section 6 below.</p>
        <p>If your establishment is not currently linked to a federation, you can select the federation you wish to join. Once you have added the date your establishment joined the federation, select ‘Submit’.</p>
        <p>This will bring you to a confirmation page with details of the federation your establishment is joining.</p>
        <p>Once you select confirm it will bring you to your establishment record, showing the federation is now linked to your establishment.</p>

        <h2 class="heading-medium subheading">Editing federation details</h2>
        <p>Once linked to a federation, you can edit your federation details. To do this, select your federation on your establishment’s ‘Details’ tab.</p>
        <p>You may then edit fields, add other establishments to the federation (see section 3), and save your changes by selecting ‘Submit’.</p>

        <h2 class="heading-medium subheading">Removing establishment from the federation</h2>
        <p>To remove establishments from your federation, go to the ‘Schools’ tab, and select ‘Remove’ under the school you wish to remove. Once all changes have been made, select ‘Submit’.</p>
        <p>A federation must have more than one linked establishment. If you remove all establishments from the federation then it will automatically be closed.</p>

        <h2 class="heading-medium subheading">View federation change history</h2>
        <p>To view the change history of the federation your establishment is linked to, select the ‘Changes’ tab on the federation page.</p>
    </div>
</div>
