@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.imageMQ = "(max-width: 768px)";
    ViewBag.SiteSection = "help";
}


@section BreadCrumbs
{
    <div class="govuk-govuk-govuk-grid-row">
        <div class="govuk-grid-govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })</li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Help", "Help", "Home", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Guidance", "Index", "Guidance", new {area = ""}, new {@class = "govuk-breadcrumbs__link"})
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Federation guidance</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Introduction</h2>
        <p>This guide sets out the process for creating and editing details of school federations and linking establishments to them.</p>
        <p>To check if your establishment is already part of a federation, see the &lsquo;Federation&rsquo; field of the &lsquo;Details&rsquo; tab. This will display the federation&rsquo;s name as a link to the federation page.</p>
        <p>The actions available on the federation page are.</p>
        <p>If your establishment is not linked to a federation, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Create a new federation and link your establishment to it</li>
            <li>Link your establishment to an existing federation</li>
        </ul>
        <p>If your establishment is linked to a federation, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Edit your federation details, such as federation name and shared headteacher</li>
            <li>Add establishments to your federation</li>
            <li>Remove establishments from your federation</li>
            <li>View federation change history</li>
        </ul>
        <p>Schools should only record federations with a single headteacher; there is no option to add a shared headteacher.</p>

        <h2 class="govuk-heading-m">Creating a new federation and linking establishments to it</h2>
        <p>To create a new federation, select &lsquo;Tools&rsquo; in the top menu, then &lsquo;Create new federation&rsquo; in the &lsquo;Create&rsquo; section.</p>
        <p>Enter all the relevant information and add any additional establishments to the federation by selecting &lsquo;Add establishment to the federation&rsquo;.</p>
        <p>A federation must have at least two establishments. You will need the URNs of the other establishments in the federation to add to the record. An establishment&rsquo;s URN can be found by searching for and viewing its record.</p>
        <figure class="gias-figure">
            <picture>
                <source media="@ViewBag.imageMQ"
                        srcset="~/public/assets/images/guidance/federation_tools_page_mobile.png" />
                <source srcset="~/public/assets/images/guidance/federation_tools_page.png" />
                <img src="~/public/assets/images/guidance/federation_tools_page.png" alt="view of the tools page for a logged in user with Create new federation highlighted" />
            </picture>
        </figure>

        <h2 class="govuk-heading-m">Add establishment to a federation</h2>
        <p>To add establishments to your federation, select the &lsquo;Schools&rsquo; tab on your federation page, then the &lsquo;Edit schools&rsquo; button.</p>
        <p>This will open a field for you to enter the URN of the establishment you wish to link with your federation. When the system finds the establishment, add the date it joined the federation.</p>
        <p>You can only link an establishment that is listed as &lsquo;Open&rsquo; or &lsquo;Open but proposed to close&rsquo; to a federation.</p>
        <p>Select &lsquo;Add&rsquo;. This will bring up a confirmation page of the changes you have made when creating the federation. If you&rsquo;re happy with the details of the federation select &lsquo;Submit&rsquo;.</p>

        <h2 class="govuk-heading-m">Linking your establishment to an existing federation</h2>
        <p>To link your establishment to an existing federation, select &lsquo;Find an establishment group&rsquo; on the &lsquo;Search&rsquo; page, then search by the federation&rsquo;s name or UID.</p>
        <p>In the &lsquo;Schools&rsquo; tab, select &lsquo;Edit schools&rsquo; and add your school&rsquo;s URN.</p>
        <p>An establishment may only be linked to a single federation. Therefore, you will need to remove your establishment from any federation it is currently linked to, before joining another federation.</p>
        <p>Instructions for how to remove establishments from a federation are in section 6 below.</p>
        <p>If your establishment is not currently linked to a federation, you can select the federation you wish to join. Once you have added the date your establishment joined the federation, select &lsquo;Submit&rsquo;.</p>
        <p>This will bring you to a confirmation page with details of the federation your establishment is joining.</p>
        <p>Once you select confirm it will bring you to your establishment record, showing the federation is now linked to your establishment.</p>

        <h2 class="govuk-heading-m">Editing federation details</h2>
        <p>Once linked to a federation, you can edit your federation details. To do this, select your federation on your establishment&rsquo;s &lsquo;Details&rsquo; tab.</p>
        <p>You may then edit fields, add other establishments to the federation (see section 3), and save your changes by selecting &lsquo;Submit&rsquo;.</p>

        <h2 class="govuk-heading-m">Removing establishment from the federation</h2>
        <p>To remove establishments from your federation, go to the &lsquo;Schools&rsquo; tab, and select &lsquo;Remove&rsquo; under the school you wish to remove. Once all changes have been made, select &lsquo;Submit&rsquo;.</p>
        <p>A federation must have more than one linked establishment. If you remove all establishments from the federation then it will automatically be closed.</p>

        <h2 class="govuk-heading-m">View federation change history</h2>
        <p>To view the change history of the federation your establishment is linked to, select the &lsquo;Changes&rsquo; tab on the federation page.</p>

        <back-to-top-link />
    </div>
</div>
