@{
    ViewBag.Title = "Get Information about Schools";
    ViewBag.imageMQ = "(max-width: 768px)";
    ViewBag.SiteSection = "help";
}

@section BreadCrumbs
{
    <div class="govuk-govuk-govuk-govuk-grid-row">
        <div class="govuk-grid-govuk-grid-govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Help", "Help", "Home", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        @Html.ActionLink("Guidance", "Index", "Guidance", new { area = "" }, new { @class = "govuk-breadcrumbs__link" })
                    </li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Governance guidance</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">1. Introduction</h2>

        <p>This document explains how to add or update your organisation&rsquo;s governance details on Get Information about Schools (GIAS).</p>

        <p>For more information about the national database of governors, the reasons for establishing it and the requirement to keep it up to date please see:</p>

        <p><a href="https://www.gov.uk/government/news/national-database-of-governors" target="_blank">https://www.gov.uk/government/news/national-database-of-governors (opens in new tab)</a></p>

        <p>for local authority-maintained schools: <a href="https://www.gov.uk/guidance/governance-in-maintained-schools">Maintained schools governance guide - Guidance - GOV.UK (www.gov.uk)</a></p>
        <p>for academies, free schools and academy trusts: <a href="https://www.gov.uk/guidance/-governance-in-academy-trusts">Academy trust governance guide - Guidance - GOV.UK (www.gov.uk)</a></p>

        <p>Please remember a term of office is one term elected for an individual in a specific governance role. If the individual is re-elected for another term this is a new record and the original record&rsquo;s term of office should not be extended.</p>

        <h2 class="govuk-heading-m">2. Access to update your governance information</h2>
        <p>Governance information can only be updated by DfE Sign-in (DSI) account holders in schools, academies, multi-academy trusts (MATs) and secure single-academy trusts (SSATs). DSI accounts are managed locally by an approver within the organisation. It is both the establishment and group&rsquo;s responsibility to keep their governance information up to date. We are unable to provide access to local authorities and governance support service organisations to update establishment and groups&rsquo; governance details.</p>

        <h3 class="govuk-heading-s">2.1. Local authority-maintained schools</h3>
        <p>Sign in and go to your school record by using its name or unique reference number (URN). To edit governance details, select the governance tab, then &lsquo;Edit Governance&rsquo; and follow the steps in sections 4 and 5.</p>

        <h3 class="govuk-heading-s">2.2. Academies including free schools, university technology colleges (UTCs), city technology colleges (CTCs), studio schools and secure 16 to 19 academies</h3>
        <p>Sign in and go to your academy record by using its name or URN. To edit the governance details, select the governance tab, then &lsquo;Edit Governance&rsquo; and follow the steps in sections 4 and 5.</p>

        <p>For academies that are part of a multi-academy trust (MAT), governance information and your academy record can also be updated directly by the MAT (see 2.3 below).</p>

        <p>If your academy is part of a MAT and you do not have local governors, there is no requirement to add local governor details to your establishment record. In this case, please update the &lsquo;Establishment governance sharing&rsquo; option on your establishment record to <i>&lsquo;This academy is part of a multi-academy trust and does not have local governors&rsquo;</i>.</p>

        <p>Secure 16 to 19 academies do not have governance at the establishment level.</p>

        <h3 class="govuk-heading-s">2.3. Multi-academy trusts (MATs)</h3>
        <p>This <a href="https://www.youtube.com/watch?v=qLVxLq-Jyqc" target="_blank">video (opens in new tab)</a> may help you when completing or updating your trust governance records.</p>

        <p>Sign in and go to your &lsquo;My trust&rsquo; page by using its name or reference number. This page gives details of your MAT and the academies and/or free schools within your MAT. You can edit both.</p>

        <p>From this page you can edit the governance details for your MAT by selecting the governance tab, then &lsquo;Edit Governance&rsquo; and follow the steps in section 4 of this guidance. You can also enter details of any shared governance (see section 4.7).</p>

        <p>Chair of trustee, trustee, member, accounting officer and chief financial officer details should only be added to the MAT record, there is no requirement to add them to the individual academy or free school records.</p>

        <h3 class="govuk-heading-s">2.3.1 Editing local governance details</h3>
        <p>To edit the local governance details for the academies in your MAT:</p>

        <ul class="govuk-list govuk-list--number">
            <li>Select the tab &lsquo;Academies&rsquo;</li>
            <li>Go to the individual establishment</li>
            <li>Select the governance tab</li>
            <li>Select &lsquo;Edit Governance&rsquo;</li>
            <li>Follow the steps in section 4 of this guide</li>
        </ul>

        <p>If any of the academies in your MAT do not have local governors, then you will need to update the &lsquo;Establishment governance sharing&rsquo; option on the academy record to &lsquo;This academy is part of a multi-academy trust and does not have local governors&rsquo;.</p>

        <p>You can also suggest changes to details for your academies including headteacher details, address, telephone number, website and email address. Select &lsquo;Edit details&rsquo;, edit the required field and select &lsquo;Save&rsquo;.</p>

        <p>Most changes to academy records are sent for checking, please make sure any changes reflect your current funding agreement.</p>

        <p>Where a MAT operates a shared governance system, details should be included on the MAT record and will be available to be selected for each individual establishment as required.</p>

        <h3 class="govuk-heading-s">2.4 Secure single-academy trusts (SSATs)</h3>
        <p>After signing in to GIAS you can view the record for your SSAT. This page provides details about your SSAT and the secure 16 to 19 academy associated with it.</p>

        <p>From this page you can edit the governance details for your SSAT by selecting the governance tab, then &lsquo;Edit Governance&rsquo; and follow the steps in section 4 of this guide. You can also suggest changes to details for your academies including headteacher details, address, telephone number, website and email address. Select &lsquo;Edit details&rsquo;, edit the required field, click on &ldquo;Continue&rdquo;, check the proposed updates and click &ldquo;Accept and save&rdquo;.</p>

        <p>Most changes to secure 16 to 19 academy records are sent for checking, please make sure any changes reflect your current funding agreement.</p>

        <h2 class="govuk-heading-m">3. Information required</h2>
        <h3 class="govuk-heading-s">3.1 Local authority-maintained schools, academies, free schools, single-academy trusts (SATs), multi-academy trusts (MATs) and secure single-academy trusts (SSATs)</h3>
        <p>We require detailed information on individuals serving in various roles within your school or academy trust as outlined in the table below. This includes both current officials and those officials who have stepped down within the last 12 months. Some of these roles may be described differently within your organisation. If you are unable to find a suitable match, please contact us.</p>

        <p>Certain information will not be publicly available and will be securely encrypted within the system. The purpose for collecting this information is to conduct due diligence work and access is restricted to a small number of users within the department. </p>

        <h3 class="govuk-heading-s">3.1.1 Table of information required</h3>
        <table class="govuk-table gias-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Field</th>
                    <th class="govuk-table__header">Chair of governors / chair of local governors</th>
                    <th class="govuk-table__header">Chair of shared local governors</th>
                    <th class="govuk-table__header">Chair of trustees</th>
                    <th class="govuk-table__header">Governors / local governors / trustees</th>
                    <th class="govuk-table__header">Shared local governors</th>
                    <th class="govuk-table__header">Members</th>
                    <th class="govuk-table__header">Accounting officer / chief financial officer</th>
                    <th class="govuk-table__header">Governance professional</th>
                    <th class="govuk-table__header">Visible to the public?</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Title</td>
                    <td class="govuk-table__cell" data-label="Chair of governors / chair of local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Governors / local governors / trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Members">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">Required</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">First name 1</td>
                    <td class="govuk-table__cell" data-label="Chair of governors / chair of local governors">Required*</td>
                    <td class="govuk-table__cell" data-label="Chair of shared local governors">Required*</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required*</td>
                    <td class="govuk-table__cell" data-label="Governors / local governors / trustees">Required*</td>
                    <td class="govuk-table__cell" data-label="Shared local governors">Required*</td>
                    <td class="govuk-table__cell" data-label="Members">Required*</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">Required*</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required*</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">First name 2</td>
                    <td class="govuk-table__cell" data-label="Chair of governors / chair of local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Governors / local governors / trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Members">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">Required</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Last name</td>
                    <td class="govuk-table__cell" data-label="Chair of governors / chair of local governors">Required*</td>
                    <td class="govuk-table__cell" data-label="Chair of shared local governors">Required*</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required*</td>
                    <td class="govuk-table__cell" data-label="Governors / local governors / trustees">Required*</td>
                    <td class="govuk-table__cell" data-label="Shared local governors">Required*</td>
                    <td class="govuk-table__cell" data-label="Members">Required*</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">Required*</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required*</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Governor id number (GID)</td>
                    <td class="govuk-table__cell" data-label="Chair of governors / chair of local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Governors / local governors / trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Members">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">Required</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Appointing body</td>
                    <td class="govuk-table__cell" data-label="Chair of governors / chair of local governors">Required*</td>
                    <td class="govuk-table__cell" data-label="Chair of shared local governors">Required*</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required*</td>
                    <td class="govuk-table__cell" data-label="Governors / local governors / trustees">Required*</td>
                    <td class="govuk-table__cell" data-label="Shared local governors">Required*</td>
                    <td class="govuk-table__cell" data-label="Members">Required*</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">N/A</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Date of appointment</td>
                    <td class="govuk-table__cell" data-label="Chair of governors / chair of local governors">Required*</td>
                    <td class="govuk-table__cell" data-label="Chair of shared local governors">Required*</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required*</td>
                    <td class="govuk-table__cell" data-label="Governors / local governors / trustees">Required*</td>
                    <td class="govuk-table__cell" data-label="Shared local governors">Required*</td>
                    <td class="govuk-table__cell" data-label="Members">Required*</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">Required*</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required*</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Date term of office ends</td>
                    <td class="govuk-table__cell" data-label="Chair of governors / chair of local governors">Required*1</td>
                    <td class="govuk-table__cell" data-label="Chair of shared local governors">Required*</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required*1</td>
                    <td class="govuk-table__cell" data-label="Governors / local governors / trustees">Required*1</td>
                    <td class="govuk-table__cell" data-label="Shared local governors">Required*1</td>
                    <td class="govuk-table__cell" data-label="Members">N/A</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">Required*2</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Home postcode</td>
                    <td class="govuk-table__cell" data-label="Chair of governors / chair of local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Governors / local governors / trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Members">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">No</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Email address</td>
                    <td class="govuk-table__cell" data-label="Chair of governors / chair of local governors">Required*</td>
                    <td class="govuk-table__cell" data-label="Chair of shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required*</td>
                    <td class="govuk-table__cell" data-label="Governors / local governors / trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Members">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">Required*</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required*</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">No</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Date of birth</td>
                    <td class="govuk-table__cell" data-label="Chair of governors / chair of local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Governors / local governors / trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Members">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">No</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Previous title</td>
                    <td class="govuk-table__cell" data-label="Chair of governors / chair of local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Governors / local governors / trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Members">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">N/A</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">No</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Previous first name 1</td>
                    <td class="govuk-table__cell" data-label="Chair of governors / chair of local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Governors / local governors / trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Members">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">N/A</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">No</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Previous first name 2</td>
                    <td class="govuk-table__cell" data-label="Chair of governors / chair of local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Governors / local governors / trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Members">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">N/A</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">No</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Previous last name</td>
                    <td class="govuk-table__cell" data-label="Chair of governors / chair of local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Governors / local governors / trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Shared local governors">Required</td>
                    <td class="govuk-table__cell" data-label="Members">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">N/A</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">No</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Telephone number</td>
                    <td class="govuk-table__cell" data-label="Chair of governors / chair of local governors">Required*</td>
                    <td class="govuk-table__cell" data-label="Chair of shared local governors">Required*</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">N/A</td>
                    <td class="govuk-table__cell" data-label="Governors / local governors / trustees">N/A</td>
                    <td class="govuk-table__cell" data-label="Shared local governors">N/A</td>
                    <td class="govuk-table__cell" data-label="Members">N/A</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">No</td>
                </tr>
            </tbody>
        </table>

        <p>1 - &lsquo;Date term of office ends&rsquo; is not required for ex-officio appointments (appointments made by virtue of office such as headteacher/principal).</p>

        <p>2 - this is not editable. The date is populated on replacement with the day before the date of appointment of the replacement chief financial officer/accounting officer.</p>

        <p>* - this information is required before the record can be saved.</p>

        <p>Associate governors - information is not required for associate governors.</p>

        <p>Corporate members - if you have a corporate member, please provide information about the person who acts on behalf of the corporate member.</p>

        <h3 class="govuk-heading-s">3.2 Secure single-academy trusts (SSATs)</h3>
        <p>We require detailed information on individual&rsquo;s serving in various roles within your SSAT as detailed in the table below. This includes both current officials and those officials who have stepped down within the last 12 months. Some of these roles may be described differently within your organisation. If you are unable to find a suitable match, please contact us.</p>

        <p>Certain information will not be publicly available and will be securely encrypted within the system. The purpose for collecting this information is to conduct due diligence work and access is restricted to a small number of users within the department and the Youth Custody Service (YCS).</p>

        <h3 class="govuk-heading-s">3.2.1 Table of information required</h3>

        <table class="govuk-table gias-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Field</th>
                    <th class="govuk-table__header">Chair of trustees</th>
                    <th class="govuk-table__header">Trustees</th>
                    <th class="govuk-table__header">Member - organisation</th>
                    <th class="govuk-table__header">Member - individual</th>
                    <th class="govuk-table__header">Accounting officer / chief financial officer</th>
                    <th class="govuk-table__header">Governance professional</th>
                    <th class="govuk-table__header">Visible to the public?</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Governor ID number (GID)</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Member - organisation">Required</td>
                    <td class="govuk-table__cell" data-label="Member - individual">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">Required</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Title</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Member - organisation">Required</td>
                    <td class="govuk-table__cell" data-label="Member - individual">Required*</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">Required*</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">First name 1</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required*</td>
                    <td class="govuk-table__cell" data-label="Trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Member - organisation">Required</td>
                    <td class="govuk-table__cell" data-label="Member - individual">Required*</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">Required*</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">First name 2</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Member - organisation">Required*</td>
                    <td class="govuk-table__cell" data-label="Member - individual">Required*</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">Required*</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Last name</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees"> Required*</td>
                    <td class="govuk-table__cell" data-label="Trustees">Required*</td>
                    <td class="govuk-table__cell" data-label="Member - organisation">Required*</td>
                    <td class="govuk-table__cell" data-label="Member - individual">Required*</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">Required*</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Appointing body</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required*</td>
                    <td class="govuk-table__cell" data-label="Trustees">Required*</td>
                    <td class="govuk-table__cell" data-label="Member - organisation">Required*</td>
                    <td class="govuk-table__cell" data-label="Member - individual">Required*</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">N/A</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Date of appointment</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required*</td>
                    <td class="govuk-table__cell" data-label="Trustees">Required*</td>
                    <td class="govuk-table__cell" data-label="Member - organisation">Required*</td>
                    <td class="govuk-table__cell" data-label="Member - individual">Required*</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">Required*</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required*</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Date term ends</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required*<sup>1</sup></td>
                    <td class="govuk-table__cell" data-label="Trustees">Required*<sup>1</sup></td>
                    <td class="govuk-table__cell" data-label="Member - organisation">N/A</td>
                    <td class="govuk-table__cell" data-label="Member - individual">N/A</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">Required*<sup>2</sup></td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Email address</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Member - organisation">Required</td>
                    <td class="govuk-table__cell" data-label="Member - individual">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">Required</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">No</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Home postcode</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Member - organisation">N/A</td>
                    <td class="govuk-table__cell" data-label="Member - individual">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">No</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Date of birth</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Member - organisation">N/A</td>
                    <td class="govuk-table__cell" data-label="Member - individual">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">No</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Previous title</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Member - organisation">N/A</td>
                    <td class="govuk-table__cell" data-label="Member - individual">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">N/A</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">No</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Previous first name</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Member - organisation">N/A</td>
                    <td class="govuk-table__cell" data-label="Member - individual">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">N/A</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">No</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Previous second name</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Member - organisation">N/A</td>
                    <td class="govuk-table__cell" data-label="Member - individual">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">N/A</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">No</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Previous last name</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Trustees">Required</td>
                    <td class="govuk-table__cell" data-label="Member - organisation">N/A</td>
                    <td class="govuk-table__cell" data-label="Member - individual">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">N/A</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">No</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Telephone number</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">Required*</td>
                    <td class="govuk-table__cell" data-label="Trustees">N/A</td>
                    <td class="govuk-table__cell" data-label="Member - organisation">N/A</td>
                    <td class="govuk-table__cell" data-label="Member - individual">N/A</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">Required</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">No</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Field">Date stepped down</td>
                    <td class="govuk-table__cell" data-label="Chair of trustees">N/A</td>
                    <td class="govuk-table__cell" data-label="Trustees">N/A</td>
                    <td class="govuk-table__cell" data-label="Member - organisation">Required</td>
                    <td class="govuk-table__cell" data-label="Member - individual">Required</td>
                    <td class="govuk-table__cell" data-label="Accounting officer / chief financial officer">N/A</td>
                    <td class="govuk-table__cell" data-label="Governance professional">N/A</td>
                    <td class="govuk-table__cell" data-label="Visible to the public?">Yes</td>
                </tr>
            </tbody>
        </table>

        <p>1 - &lsquo;Date term of office ends&rsquo; is not required for ex-officio appointments (appointments made by virtue of office such as headteacher/principal).</p>
        <p>2 - this is not editable. The date is populated on replacement with the day before the date of appointment of the replacement chief financial officer/accounting officer.</p>
        <p>* - this information is required before the record can be saved.</p>

        <h2 class="govuk-heading-m">4. Add, edit or delete governance information via the governance tab</h2>
        <p>There are two methods to add or update governance data, either by directly entering information on the governance tab or using the bulk update method.</p>

        <h3 class="govuk-heading-s">4.1. Add new records via the governance tab</h3>
        <ul class="govuk-list govuk-list--number">
            <li>Select &lsquo;Edit governance&rsquo; from the governance tab</li>
            <li>
                <p>Select the role of the person you want to add, then select the &lsquo;Add&rsquo; button.</p>

                <p>For information: There can be only one:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>chair of governors</li>
                    <li>chair of trustees</li>
                    <li>chair of local governors</li>
                    <li>chair of shared local governors</li>
                    <li>accounting officer and</li>
                    <li>chief financial officer</li>
                </ul>

                <p>There can be multiple governors, local governors, shared local governors, members and trustees.</p>

                <p>There can only be one shared governance professional role, except on the multi-academy trust governance record where there can be more than one &ndash; shared governance professional &ndash; group.</p>
            </li>
            <li>Complete all the fields required to save the record then select &lsquo;Add&rsquo;.</li>
        </ul>

        <h3 class="govuk-heading-s">4.2. Update records via the governance tab</h3>
        <ul class="govuk-list govuk-list--number">
            <li>Select the governance tab and then &lsquo;Edit governance&rsquo;</li>
            <li>Select &lsquo;Edit&rsquo; below the role you want to edit; the record opens in edit mode</li>
            <li>Make the required changes. Complete all the fields required to save the record then select &lsquo;Save&rsquo;.</li>
        </ul>

        <p><b>For accounting officer and chief financial officer only:</b> the &lsquo;Date term of office ends&rsquo; is not editable. The date will be populated with the day before the date of appointment of the replacement chief financial officer/ accounting officer.</p>

        <p>If the term of office is extended for any governance role, please add this as a new appointment and do not change the end date for the historic record.</p>

        <h3 class="govuk-heading-s">4.3. Replace a fixed role via the governance tab</h3>
        <p>The following are classed as &lsquo;fixed&rsquo; roles:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>chair of governors</li>
            <li>chair of trustees</li>
            <li>chair of local governors</li>
            <li>chair of shared local governors</li>
            <li>accounting officer (AO)</li>
            <li>chief financial officer (CFO)</li>
        </ul>

        <p>When a chairs&rsquo; term of office ends, or the accounting office and chief financial officer leave their post their details on GIAS must be replaced with their replacement&rsquo;s details.</p>

        <p>To <b>replace</b> a &lsquo;fixed&rsquo; role:</p>
        <ul class="govuk-list govuk-list--number">
            <li>Select the governance tab and select &lsquo;Edit&rsquo;</li>
            <li>Select &lsquo;Replace&rsquo; underneath the role you want to replace</li>
            <li>A new record opens in edit mode.</li>
        </ul>

        <p>There are a number of scenarios that need to be considered and depending on the options chosen, follow the instructions below:</p>

        <ul class="govuk-list gias-list--alpha">
            <li>the chair needs to be replaced and <b>not reinstated</b> as a governor or trustee</li>
            <li>the chair needs to be replaced and <b>reinstated</b> as a governor or trustee</li>
            <li>the chair needs to be replaced by a <b>current</b> governor or trustee</li>
            <li>the chair needs to be replaced by a new governor or trustee</li>
        </ul>

        <p><b>Please note:</b> if the establishment has shared local governors the option of shared chair of local governors needs to be selected.</p>

        <p>Complete all the fields required to save the record then select &lsquo;Save&rsquo;. The original record for this role will be automatically archived when the save button is selected.</p>

        <p><b>For accounting officer and chief financial officer only:</b> the &lsquo;Date term of office ends&rsquo; is not editable. The date will be populated with the day before the date of appointment of the replacement chief financial officer/ accounting officer.</p>

        <h3 class="govuk-heading-s">4.4. Resignation or removal: editing and closing a record via the governance tab</h3>
        <p>When a governor, trustee, local governor, shared local governor, resigns, or is removed from, their post before the end of their term of office, or when a governance professional has resigned or is replaced, the &lsquo;Edit person&rsquo; option can be used to modify the term of office end date. This option can also be used for a SAT or MAT member who resigns, or is removed from, their member role.</p>

        <p>Once the update is made and the date is in the past the record will be moved to the &lsquo;Historic (left within last 12 months)&rsquo; section. This option also allows the details to be amended.</p>

        <h3 class="govuk-heading-s">4.5. Completed term of office: editing and deleting a record via the governance tab</h3>
        <p>The <b>&lsquo;Remove person&rsquo;</b> option should only be used:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>for those who have completed their term of office &ndash; selecting the, &lsquo;This person has completed their term of office&rsquo; option or</li>
            <li>to remove a record created in error &ndash; selecting the, &lsquo;Remove person&rsquo; option. A record that has been deleted (&lsquo;Remove person&rsquo;) cannot be recovered.</li>
        </ul>

        <p>There are two available options:</p>

        <ul class="govuk-list govuk-list--number">
            <li>
                <p><b>&lsquo;This person has completed their term&rsquo;.</b></p>
                <p>This should be used when a governor, trustee, member, local governor, shared local governor have <b>fully completed their term of office</b> or when a governance professional is replaced.</p>
                <p>Once this has been updated and the date is in the past the record will be moved to the &lsquo;Historic (left within last 12 months)&rsquo; section.</p>
            </li>
            <li>
                <p><b>&lsquo;Remove person&rsquo;</b></p>
                <p>This option should only be used if the record was <b>created in error</b>. A record that has been deleted (&lsquo;Remove person&rsquo;) cannot be recovered.</p>
            </li>
        </ul>

        <h3 class="govuk-heading-s">4.6. Delegated authority text box (multi-academy trusts (MATs) only)</h3>
        <p>Some MATs operate a governance model where it has delegated certain responsibilities to a single local committee (local governing body) or hub which may oversee 2 or more academies within the MAT. This is known as a &lsquo;shared governance&rsquo; model. The &lsquo;shared governance&rsquo; information needs to be completed before the individual academy governance information.</p>

        <p>In the governance tab, you can edit details of the delegated authority of the local governing body (LGB). Select &lsquo;Edit&rsquo; and use the text box to provide details of the level of delegated authority that an LGB has, including a shared LGB if applicable. Include in headline terms the role and remit of any LGBs and any governance functions delegated to them.</p>

        <p>Within a MAT with multiple shared local governance bodies, you should add a brief description of how their roles report to the MAT board.</p>

        <h3 class="govuk-heading-s">4.7. Create shared chair of local governing body, shared local governor and/or shared governance professional</h3>
        <h3 class="govuk-heading-s">4.7.1. MAT record</h3>
        <p>In the MAT governance tab under the &lsquo;Add person&rsquo; section, using the drop-down option list in &lsquo;select a role&rsquo; choose the type of shared governance role required and select &lsquo;Add person&rsquo;. Complete the record for that person and repeat for any other shared governance roles as required.</p>

        <h3 class="govuk-heading-s">4.7.2. Individual academy record</h3>
        <p>To add the relevant shared chair of local governing body, shared local governor and shared governance professional (if required) to the relevant academy select the academy record:</p>

        <ul class="govuk-list govuk-list--number">
            <li>Go into the governance tab</li>
            <li>Under governor sharing select &lsquo;Edit governor sharing&rsquo;</li>
            <li>Select the &lsquo;This establishment has local governors and also shares governors with other academies in the trust.&rsquo; option and then select &lsquo;Save governor sharing&rsquo;</li>
        </ul>

        <p>To add the relevant shared chair of local governing body, shared local governor and/or shared governance professional into the academy record go to the &lsquo;Add person&rsquo; section:</p>

        <ul class="govuk-list govuk-list--number">
            <li>Using the drop-down option list in &lsquo;select a role&rsquo; choose the shared chair of local governing body &ndash; establishment, shared local governor - establishment or shared governance professional - establishment.</li>
            <li>Select &lsquo;Add person&rsquo;. From the list that appears select either &lsquo;shared chair of local governing body - establishment&rsquo;, &lsquo;shared local governor -establishment&rsquo; or shared governance professional - establishment.</li>
        </ul>

        <h3 class="govuk-heading-s">4.8 Secure single-academy trust (SSAT)</h3>
        <p>Original signatory member, we require information if a member (organisation or individual) was one of the original signatory member(s)</p>

        <p>Original chair of trustees, we require information if the chair of trustees was the original chair of trustees</p>

        <p>A SSAT can have both:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <p><b>Member &ndash; organisation:</b> a SSAT can have one or more member &ndash; organisations. The original and/or subsequent members of an academy trust assure themselves that the governance of the trust is effective and that trustees are acting in accordance with the trust&rsquo;s charitable objects. Members&rsquo; powers are set out in the trust&rsquo;s articles of association and in the <a href="https://www.legislation.gov.uk/ukpga/2006/46/section/168">Companies Act 2006</a></p>
                <p><b>Member &ndash; individual:</b> a SSAT can have one or more member &ndash; individuals. An individual person(s) appointed into the member role (not a trustee). The original and/or subsequent members of an academy trust assure themselves that the governance of the trust is effective and that trustees are acting in accordance with the trust&rsquo;s charitable objects. Members&rsquo; powers are set out in the trust&rsquo;s articles of association and in the <a href="https://www.legislation.gov.uk/ukpga/2006/46/section/168">Companies Act 2006</a></p>
            </li>
        </ul>

        <p>Appointed by:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Original signatory members must always have N/A in the appointed by field</li>
            <li>Members can be appointed by original signatory members, original signatory members/members, members.</li>
            <li>Original chair of trustees can only be appointed by original signatory members</li>
            <li>Chair of trustees can only be appointed by trustees after the first chair of trustees who would be appointed by original signatory members</li>
            <li>Trustees can be appointed by original signatory members, original signatory members/members, members and trustees</li>
        </ul>

        <h3 class="govuk-heading-s">4.8.1 Table of governance role and appointing body for a SSAT</h3>

        <table class="govuk-table gias-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Governance Role</th>
                    <th class="govuk-table__header">Original Signatory Member</th>
                    <th class="govuk-table__header">Original Chair of Trustees</th>
                    <th class="govuk-table__header">Appointing Body</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Governance Role">Member - Individual</td>
                    <td class="govuk-table__cell" data-label="Original Signatory Member">Yes</td>
                    <td class="govuk-table__cell" data-label="Original Chair of Trustees"></td>
                    <td class="govuk-table__cell" data-label="Appointing Body">N/A</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Governance Role">Member - Individual</td>
                    <td class="govuk-table__cell" data-label="Original Signatory Member">No</td>
                    <td class="govuk-table__cell" data-label="Original Chair of Trustees"></td>
                    <td class="govuk-table__cell" data-label="Appointing Body">
                        Appointed by academy members<br />
                        Appointed by SSAT original signatory member(s)<br />
                        Appointed by SSAT original signatory member(s)/SSAT member(s)<br />
                        Appointed by SSAT member(s)<br />
                        Original (signatory) members
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Governance Role">Member - Organisation</td>
                    <td class="govuk-table__cell" data-label="Original Signatory Member">Yes</td>
                    <td class="govuk-table__cell" data-label="Original Chair of Trustees"></td>
                    <td class="govuk-table__cell" data-label="Appointing Body">N/A</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Governance Role">Member - Organisation</td>
                    <td class="govuk-table__cell" data-label="Original Signatory Member">No</td>
                    <td class="govuk-table__cell" data-label="Original Chair of Trustees"></td>
                    <td class="govuk-table__cell" data-label="Appointing Body">
                        Appointed by academy members<br />
                        Appointed by SSAT original signatory member(s)<br />
                        Appointed by SSAT original signatory member(s)/SSAT member(s)<br />
                        Appointed by SSAT member(s)<br />
                        Original (signatory) members
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Governance Role">Chair of Trustees</td>
                    <td class="govuk-table__cell" data-label="Original Signatory Member"></td>
                    <td class="govuk-table__cell" data-label="Original Chair of Trustees">Yes</td>
                    <td class="govuk-table__cell" data-label="Appointing Body">Appointed by SSAT original signatory member(s)</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Governance Role">Member - Individual</td>
                    <td class="govuk-table__cell" data-label="Original Signatory Member"></td>
                    <td class="govuk-table__cell" data-label="Original Chair of Trustees">No</td>
                    <td class="govuk-table__cell" data-label="Appointing Body">Appointed by trustees</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Governance Role">Trustee</td>
                    <td class="govuk-table__cell" data-label="Original Signatory Member">-</td>
                    <td class="govuk-table__cell" data-label="Original Chair of Trustees">-</td>
                    <td class="govuk-table__cell" data-label="Appointing Body">
                        Appointed by Gb/board<br />
                        Appointed by academic members<br />
                        Appointed by SSAT original signatory member(s)<br />
                        Appointed by SSAT original signatory member(s)/SSAT member(s)<br />
                        Appointed by SSAT member(s)<br />
                        Elected by parents<br />
                        Parent appointed by GB/board due to no election candidates<br />
                        Original(signatory) members
                    </td>
                </tr>
            </tbody>
        </table>

        <h3 class="govuk-heading-s">4.9 Governance professional role</h3>
        <p>Complete the details, some fields will not be publicly visible and will only be shared within the Department for Education, across government and with organisations where the department is legally required to do so for business-critical work and safeguarding actions.</p>

        <p>For the field &ldquo;Date appointment ended&rdquo; where a governance professional has a fixed-term appointment, enter the date their fixed appointment is due to end. If they do not have a fixed-term appointment, leave this field blank until their appointment ends and then add the date their appointment ended.</p>

        <p>Depending on the establishment or academy trust the governance professional is associated with will determine the type that can be selected (see table 4.9.1).</p>

        <p>For academies or free schools within a multi-academy trust, the selected governance sharing option will affect the type of governance professional that can be selected.</p>

        <h3 class="govuk-heading-s">4.9.1: Establishment and group types and the associated governance professional type</h3>

        <table class="govuk-table gias-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Establishment / group type</th>
                    <th class="govuk-table__header">Applicable role(s)</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Establishment / group type">Local authority-maintained school &ndash; not in a federation</td>
                    <td class="govuk-table__cell" data-label="Applicable role(s)">Governance professional - local authority-maintained school</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Establishment / group type">Local authority-maintained school &ndash; in a federation</td>
                    <td class="govuk-table__cell" data-label="Applicable role(s)">Governance professional - federation</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Establishment / group type">Academy or free school in a multi-academy trust (MAT) with local governors only</td>
                    <td class="govuk-table__cell" data-label="Applicable role(s)">Local governance professional to an individual academy or free school</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Establishment / group type">Academy or free school in a multi-academy trust (MAT) with shared governors only</td>
                    <td class="govuk-table__cell" data-label="Applicable role(s)">Shared governance professional - establishment</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Establishment / group type">Academy or free school in a multi-academy trust (MAT) with local and shared governors</td>
                    <td class="govuk-table__cell" data-label="Applicable role(s)">
                        Local governance professional to an individual academy or free school<br /><br />
                        or<br /><br />
                        Shared governance professional - establishment<br />

                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Establishment / group type">Single-academy trust (SAT) (establishment level record)</td>
                    <td class="govuk-table__cell" data-label="Applicable role(s)">Governance professional to a single-academy trust (SAT)</td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Establishment / group type">Multi-academy trust (MAT)</td>
                    <td class="govuk-table__cell" data-label="Applicable role(s)">
                        Governance professional to a multi-academy trust (MAT)<br /><br />
                        and (if required)<br /><br />
                        Shared governance professional - group
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" data-label="Establishment / group type">Secure single-academy trust (SSAT)</td>
                    <td class="govuk-table__cell" data-label="Applicable role(s)">Governance professional to a secure single-academy trust (SSAT)</td>
                </tr>
            </tbody>
        </table>

        <h3 class="govuk-heading-s">4.9.2 Local authority-maintained school not in a federation</h3>
        <p>If your school joins a federation, it is recommended that you close all your governance roles down, including the governance professional to a local authority-maintained school before linking your school to the federation record.</p>

        <h3 class="govuk-heading-s">4.9.3 Local authority-maintained school in a federation</h3>
        <p>If you did not close your governance professional to a local authority-maintained school role down before linking the school to a federation record you will need to close the record down before being able to add a governance professional to a federation role.</p>

        <h3 class="govuk-heading-s">4.9.4 Academy or free school in a multi-academy trust (MAT)</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <p><b>Establishment without shared governors&rsquo; governance sharing option</b></p>
                <p>The only option to select is governance professional to a multi-academy trust (MAT).</p>
            </li>
            <li>
                <p><b>Establishment with shared governors or shared governors and local governors&rsquo; options</b></p>
                <p>The options available to select are:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>local governance professional to an individual academy or free school </li>
                    <li>Shared governance professional &ndash; establishment</li>
                </ul>
                <p>Note: before a shared governance professional &ndash; establishment can be added to the establishment record, they must be on the multi-academy trust (MAT) governance record as a shared governance professional - group.</p>
            </li>
        </ul>

        <h3 class="govuk-heading-s">4.9.5 Single-academy trust (SAT)</h3>
        <p>The only option to select is governance professional to a single-academy trust (SAT).</p>

        <h3 class="govuk-heading-s">4.9.6 Multi-academy trust (MAT)</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <p>The options available for selection are:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>governance professional to a multi-academy trust (MAT)</li>
                </ul>

                <p>and if the sharing option is required for the academies and free schools within the multi-academy trust to share governors:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>shared governance professional - group</li>
                </ul>
            </li>
        </ul>

        <h3 class="govuk-heading-s">4.9.7 Secure single-academy trust (SSAT)</h3>
        <p>The only option to select is governance professional to a secure single-academy trust (SSAT).</p>

        <h2 class="govuk-heading-m">5. Bulk update: Add or update governance information</h2>
        <p>Governance bulk update allows you to download your local authority-maintained school, academy, free school or academy trust&rsquo;s existing data (if any) and create new records or amend existing records and bulk upload the changes.</p>
        <p>If you&rsquo;re an establishment user, you can only upload governance data for your own establishment.</p>
        <p>If you are a MAT user, you can upload governance data for your own MAT.</p>
        <p>It is not possible to upload or update details of shared governance roles using bulk update.</p>

        <h3 class="govuk-heading-s">5.1 The process for bulk updating</h3>
        <ul class="govuk-list govuk-list--number">
            <li>Select &lsquo;Tools&rsquo; from the menu at the top of the page</li>
            <li>In the &lsquo;Update&rsquo; section, select &lsquo;Bulk update governance&rsquo;</li>
            <li>Using the link provided, download the template (XLSX). If you have already provided some governance information the template will be prepopulated with your data</li>
            <li>You can edit existing data by updating the required field within the spreadsheet. <b>Please do not edit the column labelled &lsquo;GID&rsquo;</b></li>
            <li>If your file contains details of deleted governors, they will need to be removed before you can upload your amended spreadsheet to the system</li>
            <li>Use blank rows to add new records. You should provide either the unique reference number (URN) for the school or academy or the UID (provided on the academy trust record) for the MAT and complete all the required fields (see section 4). For new records including the initial import of records <b>please leave the column labelled &lsquo;GID&rsquo; blank</b></li>
            <li>To replace a &lsquo;fixed role&rsquo; (chair of governors, chair of trustees, accounting officer or chief financial officer) please add these details to a blank row. The original record for this role will be automatically archived when the template is uploaded</li>
            <li>Once you have completed all the required information save your template, then upload it for validation</li>
            <li>If your file is successfully validated, you can then complete the upload of your governance data</li>
            <li>If your file is not successfully validated, please download the results. The fields that failed validation will be highlighted in red. Please correct these entries and return to step 8 above.</li>
        </ul>

        <h2 class="govuk-heading-m">6. Historic data</h2>
        <p>Governance information for any of the governance roles where the term of office has ended within the last 12 months will be automatically archived to the section &lsquo;Historic (left within past 12 months)&rsquo;.</p>

        <p>Governance information for any of the governance roles where the term of office ended more than 12 months ago will be automatically archived and removed from public view.</p>

        @helpers.BackToTopLink()
    </div>
</div>
