@model EstablishmentDetailViewModel

<div id="school-governance" class="tab-content">
    @if (Model.GovernorsDetails.DomainModel.HasGovernors)
    {
        <div class="grid-row">
            @{ Html.RenderPartial("_Governors", Model.GovernorsDetails); }
        </div>
    }
    else
    {
        <p>There is no governance information for this establishment</p>
    }
</div>