@model EstablishmentDetailViewModel

<div id="school-governance" class="tab-content">
    
    @if (Model.UserCanEdit)
    {
        @Html.ActionLink("Edit governance", "EditGovernance", "Establishment", new { id = Model.Establishment.Urn, area = "" }, new { @class = "button button-grey mobile-full-width" })
    }
    <div style="clear:both; float:none;margin-bottom:30px;"></div>

    @{Html.RenderAction("ViewOrEdit", "Governor", new { establishmentUrn = Model.Establishment.Urn, area = "Governors" });}


</div>