@model EstablishmentDetailViewModel

<div id="school-governance" class="tab-content">
    @if (Model.GovernorsDetails.DomainModel.HasGovernors)
    {
        Html.RenderPartial("_Governors", Model.GovernorsDetails);
    }
    else
    {
        <p>There is no governance information for this establishment</p>
    }
</div>