<div class="breadcrumbs">
    <ol>
        <li>@Html.ActionLink("Search", "Index", "Search", new { area = "" }, null)</li>
    </ol>
</div>

<div class="grid-row">
    <div class="column-three-quarters">
        <h1 class="heading-xlarge">Sign in failed</h1>
    </div>
</div>
<div class="grid-row">
    <div class="column-three-quarters">
        <p>You can only sign in to this version of <span class="bold-small">Get information about schools</span> if we've invited you to help with user testing.</p>

        <h2 class="bold-small">Invited users</h2>

        <p>If we've invited you to test the new service, please <a href="https://form.education.gov.uk/service/Data-collections-service-request-form" target="_blank" rel="noreferrer noopener">apply for a user test account (opens in new tab)</a>.</p>

        <p>If you already have an account, please try to sign in again using the details supplied. If you still have difficulties logging in, <a href="mailto:EDD.Helpdesk@education.gov.uk">email our helpdesk</a>.</p>
    </div>
</div>
