<div class="breadcrumbs">
    <ul>
        <li>
            @Html.ActionLink("Home", "Index", "Search", new { area = "" }, null)
        </li>
    </ul>

</div>

<div class="grid-row">
    <div class="column-three-quarters">
        <h1 class="heading-xlarge">Login failed</h1>
    </div>
</div>
<div class="grid-row">
    <div class="column-three-quarters">
        <p>You can only log in to this version of <span class="bold-small">Get information about schools</span> if we've invited you to help with user testing.</p>

        <h2 class="bold-small">Invited users</h2>

        <p>If we've invited you to test the new service, please <a href="https://form.education.gov.uk/fillform.php?self=1&form_id=hGz7nZcsdnX&noLoginPrompt=1" target="_blank" rel="external">apply for a user test account <span class="visually-hidden">Opens in new window</span></a>.</p>

        <p>If you already have an account, please try to log in again using the details supplied. If you still have difficulties logging in, <a href="mailto:EDD.Helpdesk@education.gov.uk">email our helpdesk</a>.</p>
    </div>
</div>
