@using Edubase.Services.Enums
@model EditEstablishmentModel


<div id="proprietorList">
    @for (int i = 0; i < Model.Proprietors.Count; i++)
    {
        Html.RenderPartial(@"Partials\_EditProprietors", Model.Proprietors[i], new ViewDataDictionary {{"ShowCounter", i+1}});
    }
</div>

<div id="proprietorAdd">
    <p>
        <a id="addProprietor" href="#">Add another @eProprietorType.IndividualProprietor.EnumDisplayNameFor().ToLower()</a>
    </p>
</div>

