@model EstablishmentDetailViewModel

<div id="school-governance" class="tab-content">

    @if (Model.UserCanEdit && Model.TabEditPolicy.Governance)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                @Html.ActionLink("Edit governance", "Edit", "Governor", new { establishmentUrn = Model.Establishment.Urn, area = "Governors" }, new { @class = "govuk-button govuk-button--secondary" })
                
                @if (!Model.MediumPriorityGovernanceConfirmationPending && !Model.HighPriorityGovernanceConfirmationPending)
                {
                    using (Html.BeginRouteForm("EstablishmentGovernanceConfirmUpToDate", new {Model.Establishment.Urn, showBanner = true}, FormMethod.Post, new {@class = "action-link"}))
                    {
                    <button class="govuk-button" data-module="govuk-button" id="estab-data-confirm">Confirm governance information</button>
                    }
                }
            </div>
        </div>
    }

    @{Html.RenderAction("View", "Governor", new { viewModel = Model.GovernorsGridViewModel, area = "Governors" });}

    @if (Model.UserCanEdit && Model.TabEditPolicy.Governance)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                @Html.ActionLink("Edit governance", "Edit", "Governor", new { establishmentUrn = Model.Establishment.Urn, area = "Governors" }, new { @class = "govuk-button govuk-button--secondary" })
            </div>
        </div>

    }

    @helpers.BackToTopLink()
</div>
