@using Edubase.Common;
@using Edubase.Services.Enums
@using Edubase.Web.UI.Areas.Governors.Models
@using Edubase.Web.UI.Models.Search

@model string

<div class="search-field-wrap">
    <label class="filter-searchwithin-label">
        <span class="govuk-visually-hidden">Search within @Model filter</span>
        <input type="text" class="filter-search govuk-input" />
        <button class="field-clear hidden">
            <span class="govuk-visually-hidden">Clear</span>
        </button>
    </label>
</div>
