
<div class="map-container column-two-thirds hidden" id="map-container">
    <div class="zero-results-message hidden" id="zero-results-message">
        <p>There were no results for your selected filters.</p>
    </div>
    <div class="map-header search-results-header">
        <p>Showing <span class="result-count" id="map-count"></span> establishments
        </p>
        <a href="#" class="search-type-toggle show-list-link" id="view-list">
            <span class="extraneous">View as a </span>list
        </a>
    </div>
    <div class="warning-message map-data-warning hidden" id="map-data-warning">
        <p>
            <span class="warning-text">
                Showing the first <span id="loaded-count">1000</span> establishments.
                <br/><span id="estimated-remaining"></span>
            </span>
            <a href="#" id="show-all-map" class="load-all-map-points">Show all</a>
        </p>
    </div>
    <div id="search-map" class="search-map"></div>
</div>