
<div class="map-container govuk-grid-column-two-thirds hidden" id="map-container">
    <div class="zero-results-message hidden" id="zero-results-message">
        <p>There were no results for your selected filters.</p>
    </div>
    <div class="map-header search-results-header">
        <p class="govuk-body-s">
            Showing <span id="map-count"></span> establishments
        </p>
    </div>
    <span class="gias-map-toggle-icon-container">
        @helpers.BurgerButtonIcon()
    </span>
    <a href="#" class="search-type-toggle icon-list" id="view-list">View as a list</a>

    <div class="warning-message map-data-warning hidden" id="map-data-warning">
        <p>
            <span class="warning-text">
                Showing the first <span id="loaded-count">1000</span> establishments.
            </span>
        </p>
    </div>
    <div id="search-map" class="search-map"></div>
</div>
