@model Edubase.Web.UI.Models.DataQuality.EditDataQualityStatusViewModel
@{
    ViewBag.Title = "Update data status";
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large">
            Update data status
        </h1>
    </div>
    <form action="ViewDataStatus" method="post">
        <div class="column-half">
            @for (var index = 0; index < Model.Items.Count(); index++)
            {
                <div class="form-group data-status-group">
                    <h2 class="heading-small">Establishment type</h2>
                    <h3>@Model.Items[index].EstablishmentType</h3>
                    
                    @Html.EditorFor(m => m.Items[index].LastUpdated)
                </div>
            }
        </div>
        
        <div class="column-full">
            <div class="button-row">
                <input type="submit" class="button mobile-full-width" value="Save" id="save-data-status"/>
                <a href="#" class="button button-grey mobile-full-width">Cancel</a>
            </div>
        </div>
    </form>
</div>
