@model Edubase.Web.UI.Models.DataQuality.DataQualityStatusViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prototype page</title>
</head>
<body>
<div id="data-status-summary" class="data-status-summary" role="dialog" aria-labelledby="modal-label" tabindex="0">
    <a href="#" id="data-status-close" class="modal-exit">Close</a>
    <div class="overlay-padder">
        <h1 class="heading-large" id="modal-label">@((Model.Urgent) ? "Update your data status" : "Data status")</h1>
        <table class="edubase-table retain-columns">
            <caption class="table-caption">These dates show when each of our teams last updated their data.</caption>
            <thead>
                <tr>
                    <th scope="col">Establishment type</th>
                    <th scope="col">Last updated</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Items)
                {
                    <tr>
                        <td>@data.EstablishmentType.GetEnumMember()</td>
                        <td>@data.LastUpdated.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="button-row">
        @if (Model.Urgent)
        {
            <a href="#" class="button" id="data-status-update">Update</a>
            <a href="#" class="button button-secondary" id="data-status-close">Exit</a>
        }
        else
        {
            <a href="#" class="button" id="data-status-info">More info</a>
            <a href="#" class="button button-secondary" id="data-status-close">Exit</a>

        }

        </div>
    </div>
</div>

</body>
</html>
