@using HtmlHelpers.BeginCollectionItem
@using Edubase.Web.UI.Helpers;

<ul>
    @foreach (object item in Model)
    {
        <li>
            @using (Html.BeginCollectionItem(Html.ViewData.TemplateInfo.HtmlFieldPrefix))
            {
                @Html.Editor(expression: "", templateName: "", htmlFieldName: "", additionalViewData: null)
            }
        </li>
    }
</ul>
