<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="sql" connectionString="Server=tcp:dfe-edubase.database.windows.net,1433;Database=edubase-dev;User ID=dfeadmin@dfe-edubase;Password=Bgf3n0mmAdsW!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;" />
  </connectionStrings>
</configuration>