@model GroupDetailViewModel
@{ 
    var date = Model.Group.ConfirmationUpToDateGovernance_LastConfirmationDate?.ToString("dd/MM/yyyy") ?? "Not recorded";
}

@if (Model.Group.UrgentConfirmationUpToDateGovernanceRequired)
{
    <div class="up-to-date-confirmations high-priority">
        <h3>Governance record last confirmed: <span>@date</span></h3>
        @using (Html.BeginRouteForm("GroupGovernanceConfirmUpToDate", new { uid = Model.Group.GroupUId.Value }, FormMethod.Post))
        {
            <label for="confirm-button">Confirm governance record is up to date</label>
            <button class="button button-secondary" id="confirm-button">Confirm</button>
        }
    </div>
}
else if (Model.Group.ConfirmationUpToDateGovernanceRequired)
{
    <div class="up-to-date-confirmations expanding-content-wrapper" data-update-text="false">
        <a class="expanding-content-trigger" href="#">Confirm records</a>
        <div class="expanding-content panel-indent">
            <div class="data-confirmation-panel">
                <p class="confirmation-statement">
                    Governance record last confirmed:
                    <span class="confirmation-date">@date</span>
                </p>
                @using (Html.BeginRouteForm("GroupGovernanceConfirmUpToDate", new { uid = Model.Group.GroupUId.Value }, FormMethod.Post))
                {
                    <label class="confirmation-label" for="governance-data-confirm">
                        Confirm governance record is up to date:
                    </label>
                    <button class="button button-secondary confirmation-button" id="governance-data-confirm">Confirm</button>
                }
            </div>
        </div>

    </div>
}