/*doc
---
title: Rating
name: rating
category: Components
---
```html_example
<span class="rating rating-1">
    <span class="rating-text">1</span>
</span>
<span class="rating rating-2">
    <span class="rating-text">2</span>
</span>
<span class="rating rating-3">
    <span class="rating-text">3</span>
</span>
<span class="rating rating-4">
    <span class="rating-text">4</span>
</span>
<span class="rating rating-0">
    <span class="rating-text">-</span>
</span>
```
*/

.rating {
    display: inline-block;
    width: 18px;
    height: 18px;
    color: white;
    text-align: center;
    border-radius: 4px;
    .rating-text {
        @include core-16;
        line-height: 1.4 !important;
        @include media(desktop) {
          vertical-align: middle;
        }
    }
}

.rating-1 {
    background-color: $green;
}

.rating-2 {
    background-color: $govuk-blue;
}

.rating-3 {
    background-color: $orange;
    color: $text-colour;
}

.rating-4 {
    background-color: $red;
}

.rating-0 {
    background-color: $grey-1;
}

.rating-date {
    font-size: x-small;
    color: gray;
}