@model Edubase.Web.UI.Areas.Governors.Models.GovernorViewModel

@if (Model.DisplayPolicy.Id)
{
    <div class="govuk-form-group">
        <label class="govuk-label" for="governorGidInput">
            Governance role identifier (GID)
            <a id="GidTooltipLink" href="#help-text-gid" class="help-icon modal-link">
                <span class="govuk-visually-hidden">Help with the governance role identifier field</span>
                <dialog-hidden-prompt />
            </a>
        </label>
        <div class="govuk-grid-column-full helptext-container">
            <div id="help-text-gid">
                <h3 class="govuk-heading-s make-modal-header">Governance role identifier (GID)</h3>
                <p class="govuk-body">
                    This field is generated internally by GIAS, and is not editable by users.
                </p>
            </div>
        </div>

        <input id="@Html.IdFor(model =>
            model.GID)" class="govuk-input" value="@Model.GID" readonly="readonly" disabled="disabled" placeholder="This value is generated internally by GIAS" />
    </div>
}
