@model GovernorViewModel

@if (Model.DisplayPolicy.PostCode)
{
    <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.PostCode)">
        <label class="govuk-label" for="Postcode">
            Home postcode
            <a id="PostcodeTooltipLink" href="#help-text-postcode" class="help-icon modal-link">
                <span class="govuk-visually-hidden">Help with the postcode field</span>
                @helpers.DialogHiddenPrompt()
            </a>
        </label>
        @Html.ValidationMessageFor(x => x.PostCode, null, new { @class = "govuk-error-message" })
        @Html.TextBoxFor(x => x.PostCode,
            new { id = "GovernorPostcodeInput", @class = string.Concat("govuk-input ", Html.TextBoxValidationClass(x => x.PostCode)) })
    </div>

    <div class="govuk-grid-column-full helptext-container">
        <div id="help-text-postcode">
            <h3 class="govuk-heading-s make-modal-header">Home postcode</h3>
            <p class="govuk-body">
                This information will not be made public and will only be shared within the Department for Education, across government and with organisations where the department are legally required to do so for business-critical work and safeguarding actions.
            </p>
        </div>
    </div>
}
