@using Edubase.Common
@using Edubase.Services.Enums
@model GovernorViewModel

@if (Model.DisplayPolicy.EmailAddress)
{
    var labelText = "Email address";
    if (Model.GovernorRole.OneOfThese(
        eLookupGovernorRole.ChairOfGovernors,
        eLookupGovernorRole.ChairOfTrustees,
        eLookupGovernorRole.AccountingOfficer,
        eLookupGovernorRole.ChiefFinancialOfficer,
        eLookupGovernorRole.ChairOfLocalGoverningBody
        ))
    {
        labelText += " (required to save record)";
    }

    <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.EmailAddress)">
        @Html.LabelFor(x => x.EmailAddress, labelText, new { @class = "govuk-label" })
        @Html.ValidationMessageFor(x => x.EmailAddress, null, new { @class = "govuk-error-message" })
        @Html.TextBoxFor(x => x.EmailAddress,
            new { id = "GovernorEmailInput", @class = string.Concat("govuk-input ", Html.TextBoxValidationClass(x => x.EmailAddress)) })
    </div>
}
