@model GovernorViewModel

@if (Model.DisplayPolicy.AppointingBodyId)
{
    <div class="govuk-form-group @Html.ValidationCssClassFor(x => x.AppointingBodyId)">
        @Html.LabelFor(x => x.AppointingBodyId, "Appointing body (required to save record)", new { @class = "govuk-label" })
        @Html.ValidationMessageFor(x => x.AppointingBodyId, null, new { @class = "govuk-error-message" })
        @Html.DropDownListFor(x => x.AppointingBodyId, Model.AppointingBodies, "",
            new { id = "governorAppointingBodyInput", @class = string.Concat("govuk-select ", Html.TextBoxValidationClass(x => x.AppointingBodyId)) })
    </div>
}
