@model EditGroupDelegationInformationViewModel
    
@{
    ViewBag.hideLogo = true;
    ViewBag.SelectedTab = "EditGovernance";
    Layout = Model.Layout;
}

<div id="" class="tab-content">
    <div class="column-two-thirds">
        <h1 class="heading-medium">Governance</h1>
        @using (Html.BeginForm("GroupEditDelegation", "Governor", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.GroupUId)
            <h2 class="heading-small">Delegated authority of local governing body</h2>
            <div class="edit-governor">
                @Html.LabelFor(x => x.DelegationInformation)
                @Html.TextAreaFor(x => x.DelegationInformation, new {rows = "6", cols = "60"})
                <div class="button-row">
                    <input type="submit" value="Save" class="button mobile-full-width"/>
                    <a href="@Url.RouteUrl("GroupEditGovernance", new {GroupUId = Model.GroupUId})" class="button button-grey mobile-full-width">Cancel</a>
                </div>
            </div>
        }
    </div>
</div>