<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dfedigital" value="https://nuget.pkg.github.com/DFE-Digital/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="HtmlSanitizer" />
      <package pattern="Moq" />
      <package pattern="xunit*" />
      <package pattern="coverlet.*" />
      <package pattern="NSubstitute" />
      <package pattern="FluentAssertions" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="dfedigital">
      <package pattern="DfE.*" />
      <package pattern="Dfe.*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <dfedigital>
      <add key="Username" value="${DFEDIGITAL_NUGETFEED_USERNAME}" />
      <add key="ClearTextPassword" value="${DFEDIGITAL_NUGETFEED_PASSWORD}" />
    </dfedigital>
  </packageSourceCredentials>
</configuration>
